 <div class="page animsition">
  <div class="page-content container-fluid">
   <div class="row" data-plugin="matchHeight" data-by-row="true">
   <form name="regForm" ng-submit="DmNewLok.newloker(dataLoker);">
	<div class="panel panel-default">
	  <div class="panel-heading">
      <div class="panel-title">Data Lowongan Pekerjaan
		<span class="pull-right">
			<div class="btn-group">
              <button type="button" class="btn btn-danger btn-filter" title="Back" ng-click="go('dash/loker')"><i class="fa fa-arrow-left"></i> Kembali</button>
              <button type="reset" class="btn btn-warning btn-filter" title="Refress"><i class="fa fa-refres"></i> Reset</button>
              <button type="submit" class="btn btn-success btn-filter" title="Create"><i class="fa fa-arrow-right"></i> Create</button>
              </div>
        </span>
       </div>
       </div>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <!-- Input addon -->
          <div class="box box-info">
            <!-- glyphicon glyphicon-user -->
            <div class="box-body">

              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file"></i></span>
                <input ng-model="DmNewLok.dataLoker.judul" type="text" name="judul" id="judul" class="form-control" placeholder="Judul" required>
              </div>
              <br/>
              
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-flag"></i></span>
                <input ng-model="DmNewLok.dataLoker.lokasi" type="text" name="lokasi" id="lokasi" class="form-control" placeholder="Daerah" required>
              </div>
              <br/>
             <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                <input ng-model="DmNewLok.dataLoker.perusahaan" type="text" name="perusahaan" id="perusahaan" class="form-control" placeholder="Nama Perusahaan" required>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-5">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input ng-model="DmNewLok.dataLoker.gajih" type="number" min="100000" pattern="[0-9]*" name="gajih" id="gajih" class="form-control" placeholder="Gajih" required>
                  </div>
                </div>
                <div class="col-md-1">
                  <center><span class="fa fa-arrows-h"></span></center>
                </div>
                <div class="col-md-5">
                  <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input ng-model="DmNewLok.dataLoker.gajih1" type="number" min="{{DmNewLok.dataLoker.gajih}}" name="gajih" id="gajih" class="form-control" placeholder="Gajih" required>
                  </div>
                </div>
              </div>

              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-image-o"></i></span>
                <input type="text" ng-model="DmNewLok.dataLoker.imgs" name="imgs" id="imgs" class="form-control" placeholder="http://" required>
              </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!--/.col (left) -->

	

        <!-- right column -->
        <div class="col-md-6">
          <!-- general form elements disabled -->
          <div class="box box-warning">
            <div class="box-body">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
                 <textarea class="form-control" ng-model="DmNewLok.dataLoker.deskripsi" id="deskripsi" name="deskripsi" placeholder="Deskripsi" required></textarea>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                <textarea class="form-control" ng-model="DmNewLok.dataLoker.prasyarat" id="prasyarat" name="prasyarat" placeholder="Prasyarat" required></textarea>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                <input ng-model="DmNewLok.dataLoker.bidang" type="text" name="bidang" id="bidang" class="form-control" placeholder="Bidang" required>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-check"> Tanggal Mulai</i></span>
                <input ng-model="DmNewLok.dataLoker.date_on" type="date" name="date_on" id="date_on" class="form-control" min="{{date | date:'yyyy-MM-dd'}}" required>
              </div>
              <br/>
              <!-- {{DmNewLok.dataLoker.date_on}} -->
              <div class="input-group" ng-show="DmNewLok.dataLoker.date_on | date:'yyyy-MM-dd' === DmNewLok.dataLoker.date_on | date:'yyyy-MM-dd'">
                <span class="input-group-addon"><i class="fa fa-close"> Tanggal Berakhir</i></span>
                <input ng-model="DmNewLok.dataLoker.date_off" type="date" name="date_off" id="date_off" class="form-control" min="{{DmNewLok.dataLoker.date_on | date:'yyyy-MM-dd'}}" required>
              </div>
              <br/>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!--/.col (right) -->
      </div>   <!-- /.row -->
    </section><!-- /.content -->
    <br>
  </form>
</div>








</div>
</div>
</div>