<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Buat Profile Anda</h4>
   </div>

    <form class="form-horizontal">

   <div class="modal-body">
        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-screenshot"></i></span>
              <input ng-model="asal" type="text" name="asal" id="asal" class="form-control" placeholder="tempat lahir" required>
            </div>
            <br/>
             <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              <input ng-model="tgl_lahir" type="date" name="tgl_lahir" id="tgl_lahir" class="form-control" placeholder="tangga lahir" required>
            </div>
            <br/>
             <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
                 <textarea class="form-control" ng-model="bio" id="bio" name="bio" placeholder="biografi" required></textarea>
              </div>
            </br>
             <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-image-o"></i></span>
                <input type="text" ng-model="urlimgs" name="urlimgs" id="urlimgs" class="form-control" placeholder="Url Image (https://gambar.com/gambar.jpg/png)" required>
              </div>
              <br>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>

      <div class="modal-footer">
  <button type="submit" class="btn btn-success btn-filter" ng-click="DmProf.newprof(asal, tgl_lahir, bio, urlimgs)">Create</button>
  <button type="reset" class="btn btn-warning btn-filter">Reset</button>
 </div>
      </form>
    
  </div>
</div>

</div>''