<div class="site-menubar-body scrollable hover" ui-nav style="height:550px; overflow:auto;">
      <ul class="site-menu">
        <li class="site-menu-item" ui-sref-active="active">
          <a class="animsition-link" ui-sref="DashMgalumni.dashhome">
            <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
            <span class="site-menu-title">Dashboard</span>
          </a>
        </li>

        <li class="site-menu-item has-sub" ui-sref-active="active">
          <a href="javascript:void(0)">
            <i class="site-menu-icon fa fa-flag" aria-hidden="true"></i>
            <span class="site-menu-title">Menage Berita</span>
          </a>
          <ul class="nav nav-sub" style="background-color:rgba(97, 97, 97, 0.37);">
              <li ui-sref-active="active">
                <a ng-click="goto('/dash/loker')" ui-sref="DashMgalumni.loker">Berita Harian</a>
              </li>
              <li ui-sref-active="active">
                <a ng-click="goto('/dash/tdynews')" ui-sref="DashMgalumni.tdynews">Berita Loker</a>
              </li>
              <li ui-sref-active="active">
                <a ng-click="goto('/dash/event')" ui-sref="DashMgalumni.event">Berita Event</a>
              </li>
          </ul>
        </li>
        <li class="site-menu-item has-sub" ui-sref-active="active">
          <a href="javascript:void(0)">
            <i class="site-menu-icon md-accounts-alt" aria-hidden="true"></i>
            <span class="site-menu-title">Group</span>
          </a>
          <ul class="nav nav-sub" style="background-color:rgba(97, 97, 97, 0.37);">
            <li ui-sref-active="active">
              <a ng-click="goto('/dash/all-groups')" ui-sref="DashMgalumni.groupsall">All Group</a>
            </li>
            <li ui-sref-active="active">
              <a ng-click="goto('/dash/groupme')" ui-sref="DashMgalumni.groupme">My Group</a>
            </li>
          </ul>
        </li>

         <li class="site-menu-item has-sub" ui-sref-active="active">
          <a href="javascript:void(0)">
            <i class="site-menu-icon md-accounts-alt" aria-hidden="true"></i>
            <span class="site-menu-title">Forum</span>
          </a>
          <ul class="nav nav-sub" style="background-color:rgba(97, 97, 97, 0.37);">
            <li ui-sref-active="active">
              <a ng-click="goto('/dash/forums')" ui-sref="DashMgalumni.forums">All Forum</a>
            </li>
            <li ui-sref-active="active">
              <a ng-click="goto('/dash/forum')" ui-sref="DashMgalumni.myforums">My Forum</a>
            </li>
          </ul>
        </li>
        <li class="site-menu-item has-sub" ui-sref-active="active">
          <a ng-click="goto('/dash/startups')" ui-sref="DashMgalumni.startUp">
            <i class="site-menu-icon md-case" aria-hidden="true"></i>
            StartUp</a>
        </li>
        <li class="site-menu-item has-sub" ui-sref-active="active">
          <a ng-click="goto('/dash/meeting-creation')" ui-sref="DashMgalumni.mom">
            <i class="site-menu-icon md-assignment-o" aria-hidden="true"></i>
            Data Meeting</a>
        </li>
       
      
      </ul>
</div>






