<div class="modal" role="dialog" id="lookData">
  <!-- Large modal -->
  


    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
         <button class="close" ng-click="lookData.hide()" type="button">x</button>
         <h4 class="modal-title">Tambah Anggota</h4>
       </div>

       <form class="form-horizontal">

         <div class="modal-body">







 <!-- Media Content -->
    <div class="page-main">

      <!-- Media Content Header -->
      <div class="page-header">
        <h1 class="page-title">Tambah Anggota</h1>
        <div class="page-header-actions">
          <form>
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="search" ng-model="search" placeholder="Search...">
            </div>
          </form>
        </div>
      </div>

      <!-- Media Content -->
      <div class="page-content page-content-table" data-selectable="selectable">
        <!-- Media -->
        <div class="media-list is-grid">
          <ul class="blocks blocks-100 blocks-xlg-4 blocks-lg-3 blocks-md-3 blocks-ms-2 blocks-xs-2" data-plugin="animateList" data-child=">li">
            <div class="widget-content padding-horizontal-20">
              <ul class="list-group list-group-full list-group-dividered">
                
                <li class="list-group-item" dir-paginate="group in DataCrAlm | filter:search | itemsPerPage: pageSizeGrpEdit" pagination-id="paginate8" current-page="currentPageGrpEdit">
                  <!-- <li ng-repeat="data in allS.anggota"> -->
                  <div class="media">
                    <div class="media-left">
                      <a class="img-thumbnail" href="javascript:void(0)">
                        <img style="width:100px; height:65px" ng-src="{{group.urlimgs}}"
                        alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{group.mhsNama}}</h4>
                      <small>{{group.mhsAngkatan}}</small>

                    </div>
                    <div class="media-right">
                      <button type="submit" ng-hide="group.mhsNiu == allS.nim" ng-click="DmMyGroupEdit.AddAgt(group.mhsNiu, group.mhsNama)" class="btn btn-success btn-filter">Add</button>
                       </div>
                  <!-- </li> -->
                </li>

                <!-- <li class="list-group-item" ng-repeat="group1 in DmMyGroupEdit.grp1 | filter:search">
                  <div class="media">
                    <div class="media-left">
                      <a class="img-thumbnail" href="javascript:void(0)">
                        <img style="width:100px; height:65px" ng-src="{{group1.urlimgs}}"
                        alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{group1.nama}}</h4>
                      <small>{{group1.nim}}</small>
                    </div>
                    <div class="media-right">
                      <button type="submit" ng-hide="((group1.nim) === (grpDtalmVerif || grpDtalm ||DtSame ))" ng-click="DmMyGroupEdit.AddAgt(group1.nim, group1.nama)" class="btn btn-success btn-filter">Add</button>
                    </div>
                  </div>
                </li> -->
                
              </ul>
<center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginate8" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center>

            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>


      </div>
    </form>
    
  </div>
</div>

</div>