 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

<div class="panel panel-default">
  <div class="panel-heading">
              <h3 class="panel-title">
                Data Lowongan Pekerjaan
              </h3>
            </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">               
            <table datatable="ng" dt-instance="DmLok.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Judul</th>
                  <th>Perusahaan</th>
                  <th>Lokasi</th>
                  <th>Gajih</th>
                  <th>Date On</th>
                  <th>Date Off</th>
                  <th>Date Create</th>
                  <th>AddBy</th>
                  <th><button type="button" ng-click="go('dash/loker/new')" class="btn btn-sm btn-success" title="Add New"><i class="glyphicon glyphicon-plus"></i> Add new</button></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="berita in DmLok.neww">
                  <td>{{$index + 1}}</td>
                  <td>{{berita.judul}}</td>
                  <td>{{berita.perusahaan}}</td>
                  <td>{{berita.lokasi}}</td>
                  <td>{{berita.gajih[0][0]}} - {{berita.gajih[1][0]}}</td>
                  <td>{{berita.detail['date_on'].slice(3,-41)}}</td>
                  <td>{{berita.detail['date_off'].slice(3,-41)}}</td>
                  <td>{{berita.created_at | date:'MMMM dd, yyyy'}}</td>
                  <td>{{berita.nim}}</td>
                  <td>
                    <!-- <a ui-sref="alumni.sadminedit({ person:_id })"> -->
                    <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="go('dash/loker/edit/'+ berita._id +'')">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <!-- </a> -->
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="DmLok.showData(berita._id);">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Delete" ng-click="DmLok.deleteData(berita._id)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </td>   
                </tr>
              </tbody> 
            </table>

          </div>
        </div>
      </div>
    </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>

</div>
</div>
</div>