<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Edit Profile Anda</h4>
   </div>

    <form class="form-horizontal" ng-submit="DmProf.editProfcrAlm(mhsNama, mhsNoHp, mhsEmail, tempatLahir, mhsTanggalLahir, mhsAlamatMhs, urlimgs, agmrNama, mhsJumlahSaudara, company, web, jabatan, jenis, cprofile, address,emailss, lat, lng)">

   <div class="modal-body">
        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            <span class="label label-danger">Data Diri</span><br><br>
            <div class="row">
              <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="glyphicon glyphicon-user"></i> Nama</span>
                <input ng-model="mhsNama" type="text" name="mhsNama" id="mhsNama" class="form-control" placeholder="mhsNama" required>
              </div>
            </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="glyphicon glyphicon-inbox"></i> Hp</span>
                <input ng-model="mhsNoHp" type="number" name="mhsNoHp" id="mhsNoHp" class="form-control" placeholder="mhsNoHp" required>
              </div>
              </div>
            </div>
            
<br>
    <div class="row">
              <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="glyphicon glyphicon-envelope"></i> Email</span>
                <input ng-model="mhsEmail" type="email" name="mhsEmail" id="mhsEmail" class="form-control" placeholder="email" required>
              </div>
            </div>
          </div>
<br>
            <div class="row">
              <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="glyphicon glyphicon-screenshot"></i> Tempat Lahir</span>
                <input ng-model="tempatLahir" type="text" name="tempatLahir" id="tempatLahir" class="form-control" placeholder="tempat lahir" required>
              </div>
            </div>
            </div>
<br>
            <div class="row">
            <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="glyphicon glyphicon-calendar"></i> Tgl Lahir</span>
                <input ng-model="mhsTanggalLahir" type="date" name="mhsTanggalLahir" id="mhsTanggalLahir" class="form-control" placeholder="tangga lahir" required>
              </div>
              </div>
            </div>
<br>
            <div class="row">
            <div class="col-sm-12"> 
            <div class="input-group">
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="fa fa-check-square"></i> Alamat</span>
                 <textarea class="form-control" ng-model="mhsAlamatMhs" id="mhsAlamatMhs" name="mhsAlamatMhs" placeholder="Alamat" required></textarea>
              </div>
            </div>
            </div>
            <br>
            <div class="row">
            <div class="col-sm-12"> 
             <div class="input-group">
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="fa fa-file-image-o"></i> Url Img</span>
                <input type="text" ng-model="urlimgs" name="urlimg" id="urlimg" class="form-control" placeholder="Url Image (https://gambar.com/gambar.jpg/png)" required>
              </div>
              </div>
              </div>
<br>
            <div class="row">
            <div class="col-sm-12"> 
            <div class="input-group">
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="fa fa-code"></i> Agama</span>
                 <select ng-model="agmrNama" name="agmrNama" id="agmrNama" class="form-control" required>
                    <option value="Islam">Islam</option>
                    <option value="Budha">Budha</option>
                    <option value="Kristiani">Kristiani</option>
                    <option value="Hindu">Hindu</option>
                 </select>
              </div>
            </div>
            </div>
            <br>
            <div class="row">
            <div class="col-sm-12"> 
             <div class="input-group">
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="fa fa-users"></i> Jml Saudara</span>
                <input type="number" ng-model="mhsJumlahSaudara" name="mhsJumlahSaudara" id="mhsJumlahSaudara" class="form-control" required>
              </div>
              </div>
              </div>
<br>

<hr>
<span class="label label-danger">Data Pekerjaan</span><br><br>
        <div class="row">
              <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="glyphicon glyphicon-briefcase"></i> Company</span>
                <input ng-model="company" type="text" name="company" id="company" class="form-control" placeholder="company" ng-change="changeCompany(company)" required>
              </div>
            </div>
            </div>
            <br>
            <div class="row">
            <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="glyphicon glyphicon-globe"></i> Web Company</span>
                <input ng-model="web" type="text" name="web" id="web" class="form-control" placeholder="website company" required>
              </div>
              </div>
            </div>
<br>
<div class="row">
  <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="glyphicon glyphicon-cog"></i> Jabatan</span>
                <input ng-model="jabatan" type="text" name="jabatan" id="jabatan" class="form-control" placeholder="jabatan" required>
              </div>
              </div>
                </div>
            <br>
<div class="row">
              <div class="col-sm-12">
              <div class="input-group">
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="glyphicon glyphicon-tag"></i> Jenis</span>
                <input ng-model="jenis" type="text" name="jenis" id="jenis" class="form-control" placeholder="jenis perusahaan">
              </div>
            </div>
</div>
<br>
            <div class="row">
            <div class="col-sm-12"> 
            <div class="input-group">
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="glyphicon glyphicon-star-empty"></i> Profile</span>
                 <textarea class="form-control" ng-model="cprofile" id="cprofile" name="cprofile" placeholder="profile company" required></textarea>
              </div>
            </div>
            </div>

<br>
            <div class="row">
            <div class="col-sm-12"> 
             <div class="input-group" >
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="glyphicon glyphicon-road"></i> Address</span>
                 <textarea class="form-control" ng-model="address" ng-change="changeAddress(address)" id="address" name="address" placeholder="alamat company" required></textarea>
              </div>
              </div>
              </div>
<br>
<div class="row">
            <div class="col-sm-12"> 
            <div class="input-group">
                <span class="input-group-addon" style="min-width:75px; text-align:left;"><i class="glyphicon glyphicon-envelope"></i> Email</span>
                 <input ng-model="emailss" type="email" name="jenis" id="jenis" class="form-control" placeholder="Email perusahaan">
              </div>
            </div>
</div>

<div ng-hide="true === true">
  <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">

                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" ng-model="lat" name="lat" id="lat" class="form-control" readonly>
                        </div>
                    </div>
                    </div>
                    <br>
                     <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" ng-model="lng" name="lng" id="lng" class="form-control" readonly>
                        </div>
                    </div>
                </div>
<br/>
 <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" options="{scaleControl: true}" event-ready="onMapReady($ngMap)">
                    <ng-map id="map" center="{{lat}}, {{lng}}" zoom="5">
                    <marker position="{{lat}}, {{lng}}"></marker>
                    
                    <div class="ng-map-marker" lat="markerPosition.lat()" lng="markerPosition.lng()" draggable="true" event-dragend="onDragEnd($event, $ngMap)">
                        <div class="marker" ng-class="{dragging: $dragging}"></div>
                    </div>
                </ng-map>
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
</div>
      <div class="modal-footer">
  <button type="submit" class="btn btn-success btn-filter">Edit</button>
  <button type="reset" class="btn btn-warning btn-filter">Reset</button>
 </div>
      </form>
    
  </div>
</div>

</div>''