<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Lihat Data Berita Harian</h4>
   </div>
   <div class="modal-body">
    <form class="form-horizontal">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            <div class="input-group">                
              <img ng-src="{{gambar.slice(3)}}" class="img-thumbnail" style="align:right;">
            </div>
            <br/>

            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-file" style="width:145px"> Judul</i></span>
              <input ng-model="berita.judul" type="text" name="judul" id="judul" class="form-control" placeholder="judul" readonly>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt" style="width:145px"> Deskripsi</i></span>
              <textarea class="form-control" ng-model="berita.deskripsi" name="deskripsi" id="deskripsi" placeholder="Deskripsi" readonly></textarea>
              </div>
              <br/>

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tag" style="width:145px"> Tag</i></span>
                <input type="text" class="form-control" placeholder="Tag" id="hp" name="hp" ng-model="berita.bidang" readonly>
              </div>
              <br/>

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user" style="width:145px"> AddBy</i></span>
                <input type="text" class="form-control" placeholder="Addby" id="hp" name="hp" ng-model="berita.addby" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user" style="width:145px"> Nim</i></span>
                <input type="text" class="form-control" placeholder="Addby" id="hp" name="hp" ng-model="berita.nim" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" style="width:145px"> Created At</i></span>
                <input type="date" class="form-control" placeholder="Create At" id="hp" name="hp" ng-model="created_at" readonly>
              </div>
              <br/>
             
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>''