<div class="modal" role="dialog" id="lookData">
  <!-- Large modal -->
  


    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
         <button class="close" ng-click="lookData.hide(); StartIntervalNotifForum();" type="button">x</button>
        <h4 class="modal-title" >List Notifications Forums</h4>
       </div>
         <div class="modal-body">







 <!-- Media Content -->
    <div class="page-main">

      <!-- Media Content Header -->
      <div class="page-header">
        <h1 class="page-title">List Notifications Forums</h1>
        <div class="page-header-actions">
          <form>
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="search" ng-model="Search_Forums" placeholder="Search_Forums...">
            </div>
          </form>
        </div>
      </div>

      <!-- Media Content -->
      <div class="page-content page-content-table" data-selectable="selectable">
        <!-- Media -->
        <div class="media-list is-grid">
          <ul class="blocks blocks-100 blocks-xlg-4 blocks-lg-3 blocks-md-3 blocks-ms-2 blocks-xs-2" data-plugin="animateList" data-child=">li">
            <div class="widget-content padding-horizontal-20">
              <ul class="list-group list-group-full list-group-dividered">
                
                <li class="list-group-item" dir-paginate="notifsFrm in frmntf | orderBy:'created_at':true | filter:Search_Forums | itemsPerPage: pageSize" pagination-id="paginate1" current-page="currentPage">
                  <div class="media">
                    <div class="media-left">
                      <a class="img-thumbnail" href="javascript:void(0)" ng-repeat="forumImg in frmalm | orderBy:'created_at':true | limitTo:5" ng-show="forumImg._id === notifsFrm.id_group">
                        <img style="width:100px; height:65px" ng-src="{{forumImg.imgs.slice(3)}}" alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading" ng-repeat="namaForums in frmalm | orderBy:'created_at':true | limitTo:5" ng-show="namaForums._id === notifsFrm.id_group">{{namaForums.judul}}</h4>
                    
                      <small>{{notifsFrm.nama}}</small>
                    
                    </div>
                    
                  </div>
                </li>

               
              </ul>

 <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginate1" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center>










               

               




            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>


      </div> 
  </div>
</div>

</div>