<div class="app-forum">



 <div class="page bg-white animsition">
  <!-- Forum Sidebar -->
  <div class="page-aside">
    <div class="page-aside-switch">
      <i class="icon wb-chevron-left" aria-hidden="true"></i>
      <i class="icon wb-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="page-aside-inner" data-plugin="pageAsideScroll">
      <div data-role="container">
        <div data-role="content">
          <section class="page-aside-section">
            <h5 class="page-aside-title"><i aria-hidden="true">Main Edit</i></h5>
              <div class="list-group">
                <a class="list-group-item" href="javascript:void(0)" ng-click="DmMyGroupEdit.showEdtGroup()"><i class="fa fa-edit" aria-hidden="true"> Edit Group</i></a>
                
                <a class="list-group-item" href="javascript:void(0)" ng-click="DmMyGroupEdit.showAdmin()"><i class="fa fa-cogs" aria-hidden="true"> Show Admin</i></a>
                
                <a class="list-group-item" href="javascript:void(0)" ng-click="DmMyGroupEdit.showAgt()"><i class="fa fa-group" aria-hidden="true"> Show Anggota</i></a>
                
                <a class="list-group-item" href="javascript:void(0)" ng-click="DmMyGroupEdit.showAddAgt()"><i class="fa fa-user" aria-hidden="true"> Add Anggota</i></a>
              
                <a class="list-group-item" href="javascript:void(0)" ng-click="DmMyGroupEdit.Konfrm()"><i class="fa fa-gear"> Konfirmasi Anggota</i></a>
              </div>
          </section>
           <section class="page-aside-section">
             <!--  <h5 class="page-aside-title">Kabar Baru</h5>
              <div class="list-group">
                <a class="list-group-item" href="javascript:void(0)"><i class="icon wb-dashboard" aria-hidden="true"></i>Add Admin</a>
                <a class="list-group-item" href="javascript:void(0)"><i class="icon wb-dashboard" aria-hidden="true"></i>Show Admin</a>
                <a class="list-group-item" href="javascript:void(0)"><i class="icon wb-pluse" aria-hidden="true"></i>All Anggota</a>
                <a class="list-group-item" href="javascript:void(0)" ng-click="DmMyGroup.showNewData()"><i class="icon wb-heart" aria-hidden="true"></i>Add Anggota</a>
              </div> -->
            </section>
        </div>
      </div>
    </div>
  </div>







  <!-- Forum Content -->
  <div class="page-main">

    <!-- Forum Content Header -->
    <div class="page-header">
      <img ng-src="{{desk.imgs.slice(3)}}" class="width-full" style="height:255px;">
      <hr>
      <span><h2 class="page-title">{{desk.nama}}</h2></span>
      <h4>{{desk.deskripsi}}</h4>
      <hr>
      <form class="margin-top-20" action="#" role="search">
        <div class="input-search input-search-dark">
          <input type="text" class="form-control width-full" ng-model="search" placeholder="Search Chat..." name=""/>
          <button type="submit" class="input-search-btn">
            <i class="icon wb-search" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>

    <!-- Forum Nav -->
    <div class="page-nav-tabs">
      <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
        <li class="active" role="presentation">
          <a data-toggle="tab" href="javascript:void(0)#forum-newest" aria-controls="forum-newest" aria-expanded="true"
          role="tab">Group Chat</a>
        </li>
        <!-- <li role="presentation">
          <a data-toggle="tab" href="javascript:void(0)#forum-activity" aria-controls="forum-activity" aria-expanded="false"
          role="tab">Activity</a>
        </li>
        <li role="presentation">
          <a data-toggle="tab" href="javascript:void(0)#forum-answer" aria-controls="forum-answer" aria-expanded="false"
          role="tab">Answer</a>
        </li> -->
      </ul>
    </div>

    <!-- Forum Content -->
    <div class="page-content tab-content page-content-table nav-tabs-animate">
      <div class="tab-pane animation-fade active" id="forum-newest" role="tabpanel">
        <table class="table is-indent">
          <tbody>   
            <tr dir-paginate="post in DmMyGroupEdit.Postngs | orderBy:'created_at':true | filter:search | itemsPerPage: pageSizeGrpEdit" pagination-id="paginate7" current-page="currentPageGrpEdit">
              <!-- <div><a href="javascript:void(0)" ng-if="errornya" ng-click="setnew()">data baru {{difference}}</a></div> -->
              <td class="pre-cell"></td>
              <td class="cell-60 responsive-hide">
                <a href="javascript:void(0)">
                  <img class="img-thumbnail" style="width:50px; height:40px" ng-repeat="DatsCr in DataCrAlm" ng-show="DatsCr.mhsNiu === post.nim " ng-src="{{DatsCr.urlimgs}}" alt="...">
                </a>
                <!-- <a href="javascript:void(0)">
                  <img class="img-thumbnail" style="width:50px; height:40px" ng-repeat="DatsAlm in DataAlm" ng-show="DatsAlm.nim == post.nim " ng-src="{{DatsAlm.urlimgs}}" alt="...">
                </a> -->
              </td>
              <td>
                <div class="content">
                  <div class="title">
                    {{post.post}}
                    <!-- <div class="flags responsive-hide">
                      <span class="sticky-top label label-round label-danger">TOP</span>
                      <i class="locked icon wb-lock" aria-hidden="true"></i>
                    </div> -->
                  </div>
                    </br></br>
                  <div class="metas" ng-repeat="anggota in DmMyGroupEdit.Anggota" ng-show="anggota.admin === true && anggota.nim == post.nim">
                    <!-- <span class="author label label-danger">Admin</span> -->
                    <!-- <span class="started">{{post.created_at}}</span> -->
                  </div>
                    <span class="author label label-danger" ng-show="desk.nim == post.nim">Admin</span>
                </div>
              </td>
              <td class="cell-100 forum-posts">
                <span class="date">{{post.created_at | date:'yyyy-MM-dd'}}</span>
                <span class="date">{{post.created_at | date: "HH:mm:ss"}}</span>
                <span class="unit">{{post.nama}}</span>
              </td>
              <td class="suf-cell"><span class="fa fa-close" ng-click="DmMyGroupEdit.delPost(post._id)"></span></td>
            </tr>     
          </tbody>
        </table>
   <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginate7" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center>


        </div>






<!-- 

        <div class="tab-pane animation-fade" id="forum-activity" role="tabpanel">
          <table class="table is-indent">
            <tbody>
              <tr data-url="panel.tpl" data-toggle="slidePanel">
                <td class="pre-cell"></td>
                <td class="cell-60 responsive-hide">
                  <a class="avatar" href="javascript:void(0)">
                    <img class="img-responsive" src="public/UsrAlumni/dashboard/photos/11.jpg"
                    alt="...">
                  </a>
                </td>
                <td>
                  <div class="content">
                    <div class="title">
                      Repellere summo tritani uterque nullo sollicitudines. Frui lectorem.
                      <div class="flags responsive-hide">
                        <span class="sticky-top label label-round label-danger"><i class="icon wb-dropup" aria-hidden="true"></i>TOP</span>
                        <i class="locked icon wb-lock" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="metas">
                      <span class="author">By Gwendolyn Wheeler</span>
                      <span class="started">1 day ago</span>
                      <span class="tags">Technical Support</span>
                    </div>
                  </div>
                </td>
                <td class="cell-80 forum-posts">
                  <span class="num">1</span>
                  <span class="unit">Post</span>
                </td>
                <td class="suf-cell"></td>
              </tr>

            </tbody>
          </table> -->
         <!--  <ul class="pagination pagination-gap">
            <li class="disabled"><a href="javascript:void(0)">Previous</a></li>
            <li class="active"><a href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)">5</a></li>
            <li><a href="javascript:void(0)">Next</a></li>
          </ul> -->
        <!-- </div> -->



<!-- 
        <div class="tab-pane animation-fade" id="forum-answer" role="tabpanel">
          <table class="table is-indent">
            <tbody>
              <tr data-url="panel.tpl" data-toggle="slidePanel">
                <td class="pre-cell"></td>
                <td class="cell-60 responsive-hide">
                  <a class="avatar" href="javascript:void(0)">
                    <img class="img-responsive" src="public/UsrAlumni/dashboard/photos/2.jpg"
                    alt="...">
                  </a>
                </td>
                <td>
                  <div class="content">
                    <div class="title">
                      Augeri, sanos simulent atomi habet ullo consuetudine saepti.
                      <div class="flags responsive-hide">
                        <span class="sticky-top label label-round label-danger"><i class="icon wb-dropup" aria-hidden="true"></i>TOP</span>
                        <i class="locked icon wb-lock" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="metas">
                      <span class="author">By Mary Adams</span>
                      <span class="started">1 day ago</span>
                      <span class="tags">Plugins</span>
                    </div>
                  </div>
                </td>
                <td class="cell-80 forum-posts">
                  <span class="num">1</span>
                  <span class="unit">Post</span>
                </td>
                <td class="suf-cell"></td>
              </tr>

            </tbody>
          </table> -->
         <!--  <ul class="pagination pagination-gap">
            <li class="disabled"><a href="javascript:void(0)">Previous</a></li>
            <li class="active"><a href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)">5</a></li>
            <li><a href="javascript:void(0)">Next</a></li>
          </ul> -->
      <!--   </div>
      </div>
    </div>
  </div> -->


</div>