<div class="app-media">
  <div class="page bg-white animsition">
    <!-- Media Sidebar -->
    <!-- <div class="page-aside">
      <div class="page-aside-switch">
        <i class="icon wb-chevron-left" aria-hidden="true"></i>
        <i class="icon wb-chevron-right" aria-hidden="true"></i>
      </div>
      <div class="page-aside-inner" data-plugin="pageAsideScroll">
        <div data-role="container">
          <div data-role="content">
            <section class="page-aside-section">
              <h5 class="page-aside-title">Main</h5>
              <div class="list-group">
                <a class="list-group-item active" href="javascript:void(0)"><i class="icon wb-dashboard" aria-hidden="true"></i>My Group</a>
                <a class="list-group-item" href="javascript:void(0)" ng-click="DmMyGroup.showNewData()"><i class="icon wb-heart" aria-hidden="true"></i>New Group</a>
              </div>
            </section>
          </div>
          <div data-role="content">
          </div>
        </div>
      </div>
    </div> -->

    <!-- Media Content -->
    <div class="page-main">

      <!-- Media Content Header -->
      <div class="page-header">
        <h1 class="page-title">My Group</h1>
        <!-- <div class="page-header-actions">
          <form>
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="" placeholder="Search Group..." ng-model="search">
            </div>
          </form>
        </div> -->
      </div>

      <!-- Media Content -->
      <div class="page-content page-content-table" data-selectable="selectable">
        <hr>
        <div class="page-header">

          <h4>Follow Group</h4>
          <div class="page-header-actions">
            <form>
              <div class="input-search input-search-dark">
                <i class="input-search-icon wb-search" aria-hidden="true"></i>
                <input type="text" class="form-control" name="" placeholder="Search Group..." ng-model="searchFoll">
              </div>
            </form>
          </div>
        </div>
        <!-- Media -->
        <div class="media-list is-grid padding-bottom-50">
          <ul class="blocks blocks-100 blocks-xlg-4 blocks-lg-3 blocks-md-3 blocks-ms-2 blocks-xs-2"
          data-plugin="animateList" data-child=">li">
          
          <li dir-paginate="grpFollow in DmMyGroup.grpfollow|filter:searchFoll | orderBy:'created_at':true | itemsPerPage: 8" pagination-id="paginateFollGrp" current-page="currentPageMyGrp" ng-hide="grpFollow.nim === nims">

            <div class="media-item" style="background-color: #eff2f7;">
              <div class="image-wrap">
                <img class="img-rounded" style="width:100%; height:95px;" ng-src="{{grpFollow.imgs.slice(3)}}">
              </div>
              <div class="info-wrap">
                <div class="title"><a href="javascript:void(0)" ng-click="go('dash/groups/'+ grpFollow._id +'/'+ grpFollow.urlslug +'')" style="color:black">{{grpFollow.nama}}</a></div>
                <div class="glyphicon glyphicon-tag">{{grpFollow.tag}}</div>

                <div class="pull pull-right">
                  <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="go('dash/mygroup/'+ grpFollow.urlslug +'/'+ grpFollow._id +'')">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <!-- </a> -->
                  <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Delete" ng-click="DmMyGroup.deleteData(grpFollow._id)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>



              </div>
            </div>
          </li>


        </ul>
        <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginateFollGrp" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center>
      </div>
    </div>
<hr>
    <div class="page-content page-content-table" data-selectable="selectable">
      <hr>
      <div class="page-header">

        <h4>My Group</h4>
        <div class="page-header-actions">

          <form>
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="" placeholder="Search Group..." ng-model="searchMyGrp">
              <br>
              <button type="submit" ng-click="DmMyGroup.showNewData()" class="btn btn-success btn-filter pull-right">New Group </button>
            </div>
          </form>
        </div>
      </div>
      <!-- Media -->
      <div class="media-list is-grid padding-bottom-50">
        <ul class="blocks blocks-100 blocks-xlg-4 blocks-lg-3 blocks-md-3 blocks-ms-2 blocks-xs-2"
        data-plugin="animateList" data-child=">li">

        <li dir-paginate="group in DmMyGroup.grp | orderBy:'created_at':true | filter:searchMyGrp | itemsPerPage: 8" pagination-id="paginateMyGrp" current-page="1">

          <div class="media-item" style="background-color: #eff2f7;">
            <div class="image-wrap">
              <img class="img-rounded" style="width:100%; height:95px;"  ng-src="{{group.imgs.slice(3)}}">
            </div>
            <div class="info-wrap">




              <div class="title"><a href="javascript:void(0)" ng-click="go('dash/groups/'+ group._id +'/'+ group.urlslug +'')" style="color:black">{{group.nama}}</a></div>
              <div class="glyphicon glyphicon-tag">{{group.tag}}</div>

              <div class="pull pull-right">
                <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="go('dash/mygroup/'+ group.urlslug +'/'+ group._id +'')">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <!-- </a> -->
                <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Delete" ng-click="DmMyGroup.deleteData(group._id)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>



            </div>
          </div>
        </li>


      </ul>
       <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginateMyGrp" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center>

    </div>
  </div>
</div>
</div>

</div>