<style type="text/css">
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<div class="dashboard">
 <!-- Page -->
 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
      <div class="col-lg-3 col-sm-6">
        <!-- Widget Linearea One-->




        <div class="widget widget-shadow" id="widgetLineareaOne">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
              <div class="clearfix">
                <div class="grey-800 pull-left padding-vertical-10">
                  <i class="fa fa-group grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>        Group Yang Dibuat
                  <!-- <span>{{not1}}</span> -->
                </div><br>
                <div class="margin-bottom-25 grey-500"></div>
                <div class="margin-bottom-5 grey-500">
                  <i class="icon md-long-arrow-down red-500 font-size-23" ng-show="grp <= 20"></i>
                  <i class="icon md-long-arrow-up green-500 font-size-25" ng-show="grp >= 21"></i>
                  {{grp}} On Post
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Widget Linearea One -->
      </div>
      <div class="col-lg-3 col-sm-6">
        <!-- Widget Linearea Two -->
        <div class="widget widget-shadow" id="widgetLineareaTwo">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
              <div class="clearfix">
                <div class="grey-800 pull-left padding-vertical-10">
                  <i class="icon md-file grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>Pos Berita Dimiliki
                </div><br>
                <div class="margin-bottom-25 grey-500"></div>
                <div class="margin-bottom-5 grey-500">
                  <i class="icon md-long-arrow-down red-500 font-size-23" ng-show="tdynews <= 20"></i>
                  <i class="icon md-long-arrow-up green-500 font-size-25" ng-show="tdynews >= 21"></i>
                  {{tdynews}} On Post
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Widget Linearea Two -->
      </div>
      <div class="col-lg-3 col-sm-6">
        <!-- Widget Linearea Three -->
        <div class="widget widget-shadow" id="widgetLineareaThree">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
              <div class="clearfix">
                <div class="grey-800 pull-left padding-vertical-10">
                  <i class="icon md-chart grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>           Pos Lowongan Kerja
                </div><br>
                <div class="margin-bottom-25 grey-500"></div>
                <div class="margin-bottom-5 grey-500">
                  <i class="icon md-long-arrow-down red-500 font-size-23" ng-show="newws <= 20"></i>
                  <i class="icon md-long-arrow-up green-500 font-size-25" ng-show="newws >= 21"></i>
                  {{newws}} On Post
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Widget Linearea Three -->
      </div>
      <div class="col-lg-3 col-sm-6">
        <!-- Widget Linearea Four -->
        <div class="widget widget-shadow" id="widgetLineareaFour">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
              <div class="clearfix">
                <div class="grey-800 pull-left padding-vertical-10">
                  <i class="icon md-accounts-outline grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>       Forum Yang Dibuat
                </div><br>
                <div class="margin-bottom-25 grey-500"></div>
                <div class="margin-bottom-5 grey-500">
                  <i class="icon md-long-arrow-down red-500 font-size-23" ng-show="frm <= 20"></i>
                  <i class="icon md-long-arrow-up green-500 font-size-25" ng-show="frm >= 21"></i>
                  {{frm}} On Post
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Widget Linearea Four -->
      </div>

      <div class="clearfix"></div>

      <div class="col-xlg-7 col-md-12">
        <!-- Widget Jvmap -->
        <div class="widget widget-shadow">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
             <div class="clearfix">
              <div class="grey-800 pull-left padding-vertical-10">
                <i class="icon fa fa-list grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>
                Survey Alumni
              </div>
            </div>
          </div>
          
                <div class="form-group">
                  <select class="form-control" name="level" id="level" ng-model="_id" ng-click="CheckSurvey(_id)" required>
                    <option value="">-- SELECT DATA --</options>
                      <option ng-repeat="data in Surveys | orderBy: 'created_at'" value="{{data._id}}">{{data.nama}}</option>
                  </select>
                </div>
                <br>
                <div class="row" ng-show="SurveBener === true">
                  <div class="col-sm-2 col-md-12">
                      <div class="col-sm-2 col-md-12" style="background-color:rgba(63, 81, 181, 0.22);">
                        <div class="form-control">
                          <span class="fa fa-exclamation"><b>{{SurveyBy.nama}}</b></span>
                        </div>
                      </div>
                      <div class="col-sm-2 col-md-12" style="background-color:rgba(63, 81, 181, 0.22);">
                        <div class="form-control">
                          <span class="fa fa-exclamation">Deskripsi: <b>{{SurveyBy.deskripsi}}</b></span>
                        </div>
                    </div><br><br>
                  <form ng-submit="PosttSurvey(Result[$index].hasil,SurveyBy)">
                  <table class="table table-striped table-border">
                    <thead style="border-style:1px black">
                      <tr>
                        <th>NO</th>
                        <th></th>
                        <th colspan="5">NILAI</th>
                      </tr>
                    </thead>
                    <thead>
                      <tr ng-repeat="dataRownya in arrayss">
                        <th>#</th>
                        <th>ASPEK YANG DINILAI</th>
                        <th ng-repeat="dataROWASLI in dataRownya">{{dataROWASLI}}</th>
                        <!-- <th>Username</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="DataPertanyaan in SurveyBy.soal">
                        <td>{{$index + 1}}</td>
                        <td>{{DataPertanyaan.judulsoal}}</td>
                        <td><label><input type="radio" value="1" ng-model="Result[$index].hasil"></label></td>
                        <td><label><input type="radio" value="2" ng-model="Result[$index].hasil"></label></td>
                        <td><label><input type="radio" value="3" ng-model="Result[$index].hasil"></label></td>
                        <td ng-show="SurveyBy.options.length > 3"><input type="radio" value="4" ng-model="Result[$index].hasil"></td>
                        <td ng-show="SurveyBy.options.length > 3"><input type="radio" value="5" ng-model="Result[$index].hasil"></td>
                        <td>Result : {{Result[$index]}}</td>
                      </tr>                      
                    </tbody>

                  </table>
                  <div class="pull-right">
                    <button class="btn btn-success" type="submit">Selesai</button>
                  </div>
                  <hr>
                  
                  </form>
                </div>
                </div>
            
          
        </div>
      </div>
    </div>
    <!-- End Widget Jvmap -->


      <div class="clearfix"></div>

      <div class="col-xlg-7 col-md-7">
        <!-- Widget Jvmap -->
        <div class="widget widget-shadow">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
             <div class="clearfix">
              <div class="grey-800 pull-left padding-vertical-10">
                <i class="icon md-google-maps grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>
                Daerah Pekerjaan Alumni
              </div>
            </div>
          </div>
          <div class="height-450">
            <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" options="{scaleControl: true}" event-ready="onMapReady($ngMap)">
              <ng-map id="map" zoom="5" center="-7.2574719, 112.75208829999997" default-style="false" style="background-size: cover; height:440px;">
              <marker ng-repeat="trace in DmDash.alumnis" position="{{trace.lat}}, {{trace.lng}}" title="{{trace.nama}}">
              </marker>

            </ng-map>
          </div>   
        </div>
      </div>
    </div>
    <!-- End Widget Jvmap -->
  </div>

  <div class="col-xlg-5 col-md-5">
          <div class="widget widget-shadow">
          <div class="padding-20 padding-top-10">
             <div class="clearfix">
               <div class="grey-800 pull-left padding-vertical-10">
                <i class="icon md-view-list grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>
                Last Time Manage Meeting
              </div>
                  <form>
              <div class="input-search input-search-dark">
                <i class="input-search-icon wb-search" aria-hidden="true"></i>
                <input type="text" class="form-control" name="" placeholder="Search..." ng-model="search">
              </div>
            </form>
             </div> 
          </div>
          <hr>
            <div class="widget-content padding-horizontal-20">
              <ul class="list-group list-group-full list-group-dividered">
                <li class="list-group-item" dir-paginate="moms in DmDash.mom | filter:search |orderBy:'created_at':true | itemsPerPage: pageSize" current-page="currentPage">
                  <div class="media">
                    <div class="media-left">
                      <i><span class="fa fa-file-pdf-o fa-2x"></span></i>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{moms.judul}}</h4>
                      <span class="fa fa-tags"><small> {{moms.tag}}</small></span>
                    </div>
                    <div class="media-right">
                      <a href="javascript:void(0)" style="color:black" ng-click="DmDash.Show(moms._id)"><i><span class="fa fa-eye fa-2x"></span></i></a>
                    </div>
                  </div>
                </li>
              </ul>
               <center><dir-pagination-controls boundary-links="true" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center> 
          
            </div>
          </div>
          <!-- End Widget User list -->
        </div>
          </div>
        </div>



</div>
</div>
