 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

<div class="panel panel-default">
  <div class="panel-heading">
              <h3 class="panel-title">
                Data Berita Harian
              </h3>
            </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">               
            <table datatable="ng" dt-instance="DmTdynews.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Judul</th>
                  <th>Tag</th>
                  <!-- <th>Gambar</th> -->
                  <th>AddBy</th>
                  <th>Nim</th>
                  <th>Date Create</th>
                  <th><button type="button" ng-click="go('dash/tdynews/new')" class="btn btn-sm btn-success" title="Add New"><i class="glyphicon glyphicon-plus"></i> Add new</button></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="tdynews in DmTdynews.neww">
                  <td>{{$index + 1}}</td>
                  <td>{{tdynews.judul}}</td>
                  <td>{{tdynews.bidang}}</td>
                  <!-- <td>{{tdynews.imgs}}</td> -->
                  <td>{{tdynews.addby}}</td>
                  <td>{{tdynews.nim}}</td>
                  <td>{{tdynews.created_at | date:'MMMM dd, yyyy'}}</td>
                 
                  <td>
                    <!-- <a ui-sref="alumni.sadminedit({ person:_id })"> -->
                    <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="go('dash/tdynews/edit/'+ tdynews._id +'')">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <!-- </a> -->
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="DmTdynews.showData(tdynews._id);">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Delete" ng-click="DmTdynews.deleteData(tdynews._id)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </td>   
                </tr>
              </tbody> 
            </table>

          </div>
        </div>
      </div>
    </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>

</div>
</div>
</div>