<script>
    Breakpoints();
  </script>

<div class="no-js css-menubar">
<nav class="site-navbar navbar navbar-inverse navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
      data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
      data-toggle="collapse">
        <i class="icon md-more" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
        <img class="navbar-brand-logo" src="public/UsrAlumni/img/if_ico.png" title="Alumni">
        <span class="navbar-brand-text hidden-xs"> Alumni</span>
      </div>
     <!--  <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search"
      data-toggle="collapse">
        <span class="sr-only">Toggle Search</span>
        <i class="icon md-search" aria-hidden="true"></i>
      </button> -->
    </div>

    <div class="navbar-container container-fluid">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="hidden-float" id="toggleMenubar">
            <a data-toggle="menubar" href="javascript:void(0)" role="button">
              <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
            </a>
          </li>
          <!-- <li class="hidden-float">
            <a class="icon md-search" data-toggle="collapse" href="javascript:void(0)" data-target="#site-navbar-search"
            role="button">
              <span class="sr-only">Toggle Search</span>
            </a>
          </li> -->
        </ul>
      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle">
        <span class="icon md-long-arrow-tab"></span>
        <span class="navbar-brand-text hidden-xs"  ng-bind="$state.current.data.title"></span>
      </div>
        <!-- End Navbar Toolbar -->

        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          <li class="dropdown">
          <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications" aria-expanded="false"
            data-animation="scale-up" role="button">
              <i class="icon md-account" aria-hidden="true"></i>
              <span class="badge badge-danger up">&nabla;</span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <a href="javascript:void(0)" ui-sref="DashMgalumni.profile" role="menuitem"><i class="icon md-account" aria-hidden="true"></i> Profile</a>
              </li>
              <!-- <li role="presentation">
                <a href="javascript:void(0)" role="menuitem"><i class="icon md-card" aria-hidden="true"></i> Billing</a>
              </li>
              <li role="presentation">
                <a href="javascript:void(0)" role="menuitem"><i class="icon md-settings" aria-hidden="true"></i> Settings</a>
              </li> -->
              <li class="divider" role="presentation"></li>
              <li role="presentation">
                <a ui-sref="MgLogout" role="menuitem"><i class="icon md-power" aria-hidden="true"></i> Logout</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications Groups" aria-expanded="false" data-animation="scale-up" role="button" ng-click="stNewmsgGrp()">
              <i class="fa fa-group" aria-hidden="true"></i>
              <span class="badge badge-danger up" ng-show="difference > 0">{{difference}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" style="height:200px" role="menu" >
              <li class="dropdown-menu-header" role="presentation">
                <a href="javascript:void(0)" ng-click="ShowAllListGroups()"><h5>ALL NOTIFICATIONS GROUPS</h5></a>
                <!-- <span class="label label-round label-danger" >New 5</span> -->
              </li>
              <li class="list-group" role="presentation" ng-repeat="notgroups in not1 | orderBy:'created_at':true | limitTo:5">
                <div data-role="container">
                  <div data-role="content">
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem" >
                      <div class="media">
                        <div class="media-left padding-right-10" ng-repeat="nms in nmgrp | orderBy:'created_at':true | limitTo:5" ng-show="nms._id === notgroups.id_group">
                          <i class="avatar" href="javascript:void(0)">
                            <img class="img-responsive" ng-src="{{nms.imgs.slice(3)}}" alt="...">
                          </i>
                        </div>
                       <!--  <div class="media-left padding-right-10" ng-repeat="nmsfolow in nmflowgrp | orderBy:'created_at':true | limitTo:5" ng-show="nmsfolow._id === notgroups.id_group">
                          <i class="avatar" href="javascript:void(0)">
                            <img class="img-responsive" ng-src="{{nmsfolow.imgs.slice(3)}}" alt="...">
                          </i>
                        </div> -->
                        <div class="media-body">
                          <h3 class="media-heading" ng-repeat="nms in nmgrp | orderBy:'created_at':true | limitTo:5" ng-show="nms._id === notgroups.id_group" ng-click="go('/dash/groups/'+ nms._id +'/'+ nms.urlslug +'')"><b>Group:</b> {{nms.nama}}</h3>
                       <!--    <h3 class="media-heading" ng-repeat="nmsfolow in nmflowgrp | orderBy:'created_at':true | limitTo:5" ng-show="nmsfolow._id === notgroups.id_group" ng-click="go('/dash/groups/'+ nmsfolow._id +'/'+ nmsfolow.urlslug +'')"><b>Group:</b> {{nmsfolow.nama}}</h3> -->
                          <h6 class="media-body">{{notgroups.nama}}</h6>
                          <h6 class="media-meta">{{notgroups.post}}</h6>
                        </div>
                      </div>
                    </a>
                    
                  </div>
                </div>
              </li>
              <li class="dropdown-menu-footer" role="presentation">
                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                  <i class="icon md-settings" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0)" role="menuitem">
                    
                  </a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications Forums" aria-expanded="false"
            data-animation="scale-up" role="button" ng-click="setNewsMsgForums()">
              <i class="icon md-notifications" aria-hidden="true"></i>
              <span class="badge badge-danger up" ng-show="notifResults > 0">{{notifResults}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" style="height:200px" role="menu">
              <li class="dropdown-menu-header" role="presentation">
                <a href="javascript:void(0)" ng-click="ShowAllListForums();"><h5>ALL NOTIFICATIONS FORUMS</h5></a>
                <span class="label label-round label-info"></span>
              </li>

              <li class="list-group" role="presentation" ng-repeat="notifsFrm in frmntf | orderBy:'created_at':true | limitTo:5">
                <div data-role="container">
                  <div data-role="content">
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem" >
                      <div class="media">
                       
                          <div class="media-left padding-right-10" ng-repeat="forumImg in frmalm | orderBy:'created_at':true | limitTo:5" ng-show="forumImg._id === notifsFrm.id_group">
                          <i class="avatar" href="javascript:void(0)">
                            <img class="img-responsive" ng-src="{{forumImg.imgs.slice(3)}}">
                          </i>
                        </div>
                       
                        <div class="media-body">
                          <h6 class="media-heading" ng-repeat="namaForums in frmalm | orderBy:'created_at':true | limitTo:5" ng-show="namaForums._id === notifsFrm.id_group" ng-click="go('/dash/forum/thread/'+ namaForums._id +'/'+ namaForums.urlslug +'')">{{namaForums.judul}}</h6>
                          <div class="media-meta">
                            <time datetime="2015-06-17T20:22:05+08:00">{{notifsFrm.nama}}</time>
                          </div>
                          <p ng-bind-html="notifsFrm.post | limitTo:300" ng-model="notifsFrm.post"></p>
                        </div>
                      </div>
                    </a>
                    
                  </div>
                </div>
              </li>
                <li class="dropdown-menu-footer" role="presentation">
                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                  <i class="icon wb-settings" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0)" role="menuitem">
          
                  </a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications Confirm Groups" aria-expanded="false"
            data-animation="scale-up" role="button">
              <i class="fa fa-child" aria-hidden="true"></i>
              <span class="badge badge-danger up" ng-show="CffollowGrp.length > 0">{{CffollowGrp.length}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" style="height:200px" role="menu">
              <li class="dropdown-menu-header" role="presentation">
                <a href="javascript:void(0)" ng-click="ShowAllCfrmGrp()"><h5>SHOW ALL CONFIRMATION GROUP</h5></a>
                <span class="label label-round label-info"></span>
              </li>

              <li class="list-group" role="presentation" ng-repeat="confrm in CffollowGrp | orderBy:'created_at':true | limitTo:8">
                <div data-role="container">
                  <div data-role="content">
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem" >
                      <div class="media">
                       
                          <div class="media-left padding-right-10">
                          <i class="avatar" href="javascript:void(0)">
                            <img class="img-responsive" ng-src="{{confrm.imgs.slice(3)}}">
                          </i>
                        </div>
                       
                        <div class="media-body">
                          <h6 class="media-heading">{{confrm.nama}}</h6>
                          <div class="media-meta">
                            <time datetime="2015-06-17T20:22:05+08:00"><span class="fa fa-tag"></span> {{confrm.tag}}</time>
                              <span class="fa fa-close fa-lg pull-right"  ng-click="ConfirmDelNotGrp(confrm._id)"></span>
                              <span class="fa fa-check-circle fa-lg pull-right" ng-click="ConfirmGrp(confrm._id)"></span>
                          </div>
                          <h6 class="media-detail">{{confrm.deskripsi}}</h6>
                        </div>
                      </div>
                    </a>
                    
                  </div>
                </div>
              </li>
            </ul>
          </li>
                
        </ul>
        <!-- End Navbar Toolbar Right -->
      </div>
      <!-- End Navbar Collapse -->

      <!-- Site Navbar Seach -->
      <!-- <div class="collapse navbar-search-overlap" id="site-navbar-search">
        <form role="search">
          <div class="form-group">
            <div class="input-search">
              <i class="input-search-icon md-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="site-search" placeholder="Search...">
              <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
              data-toggle="collapse" aria-label="Close"></button>
            </div>
          </div>
        </form>
      </div> -->
      <!-- End Site Navbar Seach -->
    </div>
  </nav>
  
<!-- ASIDE -->
  <div class="site-menubar" style="background-color: black;">
    <div ng-include="'./templates/views/DashAlumni/Dash.Alumni.Partial.html'"></div>
  </div>