 <div class="page animsition">
  <div class="page-content container-fluid">
   <div class="row" data-plugin="matchHeight" data-by-row="true">
   <form name="regForm" ng-submit="DmTdynewsNew.newtdy(dataTdy,htmlContent);">
	<div class="panel panel-default">
	  <div class="panel-heading">
      <div class="panel-title">Buat Data Berita Harian
		<span class="pull-right">
			<div class="btn-group">
              <button type="button" class="btn btn-danger btn-filter" title="Back" ng-click="go('dash/tdynews')"><i class="fa fa-arrow-left"></i> Kembali</button>
              <button type="reset" class="btn btn-warning btn-filter" title="Refress"><i class="fa fa-refres"></i> Reset</button>
              <button type="submit" class="btn btn-success btn-filter" title="Create"><i class="fa fa-arrow-right"></i> Create</button>
              </div>
        </span>
       </div>
       </div>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <!-- Input addon -->
          <div class="box box-info">
            <!-- glyphicon glyphicon-user -->
            <div class="box-body">

              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file"></i></span>
                <input ng-model="DmTdynewsNew.dataTdy.judul" type="text" name="judul" id="judul" class="form-control" placeholder="Judul" required>
              </div>
              <br/>
              
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                <input ng-model="DmTdynewsNew.dataTdy.bidang" type="text" name="bidang" id="bidang" class="form-control" placeholder="Tag" required>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-image-o"></i></span>
                <input type="file" file-model="DmTdynewsNew.dataTdy.imgs" name="imgs" id="imgs" class="form-control" placeholder="Gambar" required>
              </div>
              <br>
               <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
                  <div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around" required></div>
              </div>
              <br>
              <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-check-square"><h6>RAW:</h6></i></span>
                  <textarea class="form-control" style="color:black; height:65px;" ng-model="htmlContent" id="postings" name="postings" placeholder="Deskripsi" disabled></textarea>
                </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!--/.col (left) -->


      </div>   <!-- /.row -->
    </section><!-- /.content -->
    <br>
  </form>
</div>








</div>
</div>
</div>