<div class="app-forum">



 <div class="page bg-white animsition">
  <!-- Forum Sidebar -->
  <div class="page-aside">
    <div class="page-aside-switch">
      <i class="icon wb-chevron-left" aria-hidden="true"></i>
      <i class="icon wb-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="page-aside-inner" data-plugin="pageAsideScroll">
      <div data-role="container">
        <div data-role="content">
          <section class="page-aside-section">
            <!-- <h5 class="page-aside-title">Admin Group</h5> -->
            <div class="list-group" ng-repeat="admin in DmGroups.Anggota" ng-show="admin.nim == nim && admin.admin === true ">
              <a class="list-group-item" href="javascript:void(0)" ng-click="go('dash/mygroup/'+ desk.urlslug +'/'+ desk._id +'')">
                <i class="icon wb-emoticon" aria-hidden="true"></i>
                <span class="list-group-item-content">Edit Group</span>
              </a>
            </div>
          </section>

          <section class="page-aside-section">
            <h5 class="page-aside-title">Member Group</h5>
            <div class="list-group" ng-repeat="anggota in DmGroups.Anggota | filter:search" ng-show="anggota.active == 1">
              <a class="list-group-item" href="javascript:void(0)">
                
                  <img class="img-thumbnail" style="width:50px; height:40px" ng-repeat="DatsCr in DataCrAlm" ng-show="DatsCr.mhsNiu === anggota.nim " ng-src="{{DatsCr.urlimgs}}" alt="...">
                  <!-- <img class="img-thumbnail" style="width:50px; height:40px" ng-repeat="DatsAlm in DataAlm" ng-show="DatsAlm.nim == anggota.nim " ng-src="{{DatsAlm.urlimgs}}" alt="..."> -->
                <span class="list-group-item-content">{{anggota.nama}}</span>
              </a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>







  <!-- Forum Content -->
  <div class="page-main">

    <!-- Forum Content Header -->
    <div class="page-header">

      <img ng-src="{{desk.imgs.slice(3)}}" class="width-full" style="height:255px;">
      <hr> 
      <h2 class="page-title">{{desk.nama}}</h2><!-- {{desk.active}} -->
      <h4>{{desk.deskripsi}}</h4>
      <hr>
      <form class="margin-top-20" action="#" role="search">
        <div class="input-search input-search-dark">
          <input type="text" class="form-control width-full" ng-model="search" placeholder="Search Member..." name=""/>
          <button type="submit" class="input-search-btn">
            <i class="icon wb-search" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>

    <!-- Forum Nav -->
    <div class="page-nav-tabs">
      <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
        <li class="active" role="presentation">
          <a data-toggle="tab" href="javascript:void(0)#forum-newest" aria-controls="forum-newest" aria-expanded="true"
          role="tab">Group Chat</a>
        </li>
        <!-- <li role="presentation">
          <a data-toggle="tab" href="javascript:void(0)#forum-activity" aria-controls="forum-activity" aria-expanded="false"
          role="tab">Activity</a>
        </li>
        <li role="presentation">
          <a data-toggle="tab" href="javascript:void(0)#forum-answer" aria-controls="forum-answer" aria-expanded="false"
          role="tab">Answer</a>
        </li> -->
      </ul>
    </div>

    <!-- Forum Content -->
    <div class="page-content tab-content page-content-table nav-tabs-animate">
      <div class="tab-pane animation-fade active" id="forum-newest" role="tabpanel">
        <table class="table is-indent">
          <tbody>
            <tr>
              <td class="pre-cell"></td>
              <td class="cell-60 responsive-hide">
             <!--    <a class="avatar" href="javascript:void(0)">
                  <img class="img-responsive" src="public/UsrAlumni/dashboard/photos/1.jpg"
                  alt="...">
                </a> -->
              </td>
              
              <td>
                <div class="content">
                  <form ng-submit="DmGroups.newPost(dataPst)">
                    <div class="input-search input-search-dark">
                      <textarea class="form-control width-full" style="height:85px;" ng-model="DmGroups.dataPst.postings" placeholder="Post..." name="postings" id="postings">
                      </textarea>
                      
                    </div>
                    <button type="submit" class="btn btn-primary">
                      <i class="fa fa-arrow-right" aria-hidden="true"> Kirim</i>
                    </button>
                  </form>
                </div>
              </td>
              <td class="cell-80 forum-posts">
               
              </td>
              
              <td class="suf-cell"></td>
            </tr>     

            <tr dir-paginate="post in DmGroups.Postngs | orderBy:'created_at':true | itemsPerPage: pageSizeGroupss" pagination-id="paginate9" current-page="currentPageGroupss">
              <!-- <div><a href="javascript:void(0)" ng-show="tertunda" ng-click="setnew()" style="color:red">data baru {{difference}}</a></div> -->
              <td class="pre-cell"></td>
              <td class="cell-60 responsive-hide">
                <a href="javascript:void(0)">
                  <img class="img-thumbnail" style="width:50px; height:40px" ng-repeat="DatsCr in DataCrAlm" ng-show="DatsCr.mhsNiu === post.nim " ng-src="{{DatsCr.urlimgs}}" alt="...">
                </a>
                <!-- <a href="javascript:void(0)">
                  <img class="img-thumbnail" style="width:50px; height:40px" ng-repeat="DatsAlm in DataAlm" ng-show="DatsAlm.nim == post.nim " ng-src="{{DatsAlm.urlimgs}}" alt="...">
                </a> -->
              </td>
              <td>
                <div class="content">
                  <div class="title">
                    {{post.post}}
                    <!-- <div class="flags responsive-hide">
                      <span class="sticky-top label label-round label-danger">TOP</span>
                      <i class="locked icon wb-lock" aria-hidden="true"></i>
                    </div> -->
                  </div>
                </br></br>
                <div class="metas" ng-repeat="anggota in DmGroups.Anggota | filter:search" ng-show="anggota.admin === true && anggota.nim == post.nim">
                  <!-- <span class="author label label-danger">Admin</span> -->
                  <!-- <span class="started">{{post.created_at}}</span> -->
                </div>
                <span class="author label label-danger" ng-show="desk.nim == post.nim">Admin</span>
              </div>
            </td>
            <td class="cell-80 forum-posts">
              <span class="label label-warning pull-right">{{post.created_at | date: "HH:mm:ss"}}</span>
              <span class="label label-warning pull-right">{{desk.created_at | date:'yyyy-MM-dd'}}</span>
              <span class="unit">{{post.nama}}</span>
            </td>
            <td class="suf-cell"></td>
          </tr>     
        </tbody>
      </table>
       <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginate9" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center>
        </div>






<!-- 

        <div class="tab-pane animation-fade" id="forum-activity" role="tabpanel">
          <table class="table is-indent">
            <tbody>
              <tr data-url="panel.tpl" data-toggle="slidePanel">
                <td class="pre-cell"></td>
                <td class="cell-60 responsive-hide">
                  <a class="avatar" href="javascript:void(0)">
                    <img class="img-responsive" src="public/UsrAlumni/dashboard/photos/11.jpg"
                    alt="...">
                  </a>
                </td>
                <td>
                  <div class="content">
                    <div class="title">
                      Repellere summo tritani uterque nullo sollicitudines. Frui lectorem.
                      <div class="flags responsive-hide">
                        <span class="sticky-top label label-round label-danger"><i class="icon wb-dropup" aria-hidden="true"></i>TOP</span>
                        <i class="locked icon wb-lock" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="metas">
                      <span class="author">By Gwendolyn Wheeler</span>
                      <span class="started">1 day ago</span>
                      <span class="tags">Technical Support</span>
                    </div>
                  </div>
                </td>
                <td class="cell-80 forum-posts">
                  <span class="num">1</span>
                  <span class="unit">Post</span>
                </td>
                <td class="suf-cell"></td>
              </tr>

            </tbody>
          </table> -->
         <!--  <ul class="pagination pagination-gap">
            <li class="disabled"><a href="javascript:void(0)">Previous</a></li>
            <li class="active"><a href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)">5</a></li>
            <li><a href="javascript:void(0)">Next</a></li>
          </ul> -->
          <!-- </div> -->



<!-- 
        <div class="tab-pane animation-fade" id="forum-answer" role="tabpanel">
          <table class="table is-indent">
            <tbody>
              <tr data-url="panel.tpl" data-toggle="slidePanel">
                <td class="pre-cell"></td>
                <td class="cell-60 responsive-hide">
                  <a class="avatar" href="javascript:void(0)">
                    <img class="img-responsive" src="public/UsrAlumni/dashboard/photos/2.jpg"
                    alt="...">
                  </a>
                </td>
                <td>
                  <div class="content">
                    <div class="title">
                      Augeri, sanos simulent atomi habet ullo consuetudine saepti.
                      <div class="flags responsive-hide">
                        <span class="sticky-top label label-round label-danger"><i class="icon wb-dropup" aria-hidden="true"></i>TOP</span>
                        <i class="locked icon wb-lock" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="metas">
                      <span class="author">By Mary Adams</span>
                      <span class="started">1 day ago</span>
                      <span class="tags">Plugins</span>
                    </div>
                  </div>
                </td>
                <td class="cell-80 forum-posts">
                  <span class="num">1</span>
                  <span class="unit">Post</span>
                </td>
                <td class="suf-cell"></td>
              </tr>

            </tbody>
          </table> -->
         <!--  <ul class="pagination pagination-gap">
            <li class="disabled"><a href="javascript:void(0)">Previous</a></li>
            <li class="active"><a href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">4</a></li>
            <li><a href="javascript:void(0)">5</a></li>
            <li><a href="javascript:void(0)">Next</a></li>
          </ul> -->
      <!--   </div>
      </div>
    </div>
  </div> -->


</div>