<div class="app-media">
  <div class="page bg-white animsition">
   

    <!-- Media Content -->
    <div class="page-main">

      <!-- Media Content Header -->
      <div class="page-header">
        <h1 class="page-title" ng-hide="hidde === true">Create Event</h1>
        <h1 class="page-title" ng-show="hidde === true">Edit Event</h1>
        <button ng-show="hidde === true" type="submit" class="btn btn-warning btn-filter pull-right" ng-click="DmEvent.relload()">Back To Create</button>
        <hr>
         

        <form class="form-horizontal">
          <div ng-show="hidde === true">
          <img ng-src="{{imgs}}" class="width-full" style="height:255px;"/>
          <hr> 
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                <input ng-model="judul" type="text" name="judul" id="judul" class="form-control" placeholder="judul" required>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                <input ng-model="tag" type="text" name="tag" id="tag" class="form-control" placeholder="tag" required>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-image-o"></i></span>
                <input type="urls" ng-model="imgs" name="imgs" id="imgs" class="form-control" placeholder="Url Image" required>
              </div>
            </div>
          </div></br>
      
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
            <div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around" required></div>
          </div>
          <button ng-hide="hidde === true" type="submit" class="btn btn-success btn-filter" ng-click="DmEvent.newevent(judul,tag, imgs, htmlContent)">Create</button>
          <button ng-show="hidde === true" type="submit" class="btn btn-success btn-filter" ng-click="DmEvent.editEvent(idgroup, judul, tag, imgs, htmlContent)">Edit</button>
          <hr> 
          <div class="row">
              <div class="col-xs-6 col-sm-12" style="color:black;">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-check-square"><h6>RAW:</h6></i></span>
                  <textarea class="form-control" style="color:black; height:65px;" ng-model="htmlContent" id="postings" name="postings" placeholder="Deskripsi" disabled></textarea>
                </div>
              </div>
          </div>

       </form>  
      
          <hr>
          <h4>My Event</h4>
            <form>
              <div class="input-search input-search-dark">
                <i class="input-search-icon wb-search" aria-hidden="true"></i>
                <input type="text" class="form-control" name="" placeholder="Search..." ng-model="search">
              </div>
            </form>
      </div>

      <!-- Media Content -->
      <div class="page-content page-content-table" data-selectable="selectable">


        <!-- Media -->
        <div class="media-list is-grid padding-bottom-50">
          <ul class="blocks blocks-100 blocks-xlg-4 blocks-lg-3 blocks-md-3 blocks-ms-2 blocks-xs-2"
          data-plugin="animateList" data-child=">li">
          
          <li ng-repeat="event in DmEvent.evnt |filter:search">

            <div class="media-item" style="background-color: #eff2f7;">
              <div class="image-wrap">
                <img class="img-rounded" style="width:100%; height:95px;"  ng-src="{{event.imgs}}">
              </div>
              <div class="info-wrap">




                <div class="title"><a href="javascript:void(0)" ng-click="DmEvent.showData(event._id)" style="color:black">{{event.judul}}</a></div>
                <div class="glyphicon glyphicon-tag">{{event.tag}}</div>

                <div class="pull pull-right">
                  <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="DmEvent.EditData(event._id)">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <!-- </a> -->
                  <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Delete" ng-click="DmEvent.deleteData(event._id)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>



              </div>
            </div>
          </li>


        </ul>
          <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>