<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Edit Data Group</h4>
   </div>

    <form class="form-horizontal" ng-submit="DmMyGroupEdit.editGrp(nmGrp, tagGrp, deskGrp, imgs)">

   <div class="modal-body">
        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-group"></i></span>
              <input ng-model="nmGrp" type="text" name="nama" id="nama" class="form-control" placeholder="nama">
            </div>
            <br/>
             <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-tag"></i></span>
              <input ng-model="tagGrp" type="text" name="tag" id="tag" class="form-control" placeholder="tag">
            </div>
            <br/>
             <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-quote-left"></i></span>
                 <textarea class="form-control" ng-model="deskGrp" id="deskripsi" name="deskripsi" placeholder="Deskripsi" required></textarea>
              </div>
            </br>
            <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-image-o"></i></span>
                <input type="file" file-model="imgs" name="imgs" id="imgs" class="form-control" placeholder="Gambar">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="input-group">
                <img class="image img-rounded" style="width:35%; height:45%;" ng-src="{{imgsGrp.slice(3)}}"/>
              </div>
            </div>
          </div>
        </br>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>

      <div class="modal-footer">
  <button type="submit" class="btn btn-success btn-filter">Edit</button>
  <button type="reset" class="btn btn-warning btn-filter">Reset</button>
 </div>
      </form>
    
  </div>
</div>

</div>''