<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
<!--      <button class="close" ng-click="lookData.hide()" type="button">x</button> -->
     <h4 class="modal-title">ISI DATA PEKERJAAN</h4>
   </div>
   <form ng-submit="MgKerja.newpk(company, web, address,cprofile,jenis,jabatan,lat,lng,email);">
   <div class="modal-body">
    
      <div class="row">
        <!-- left column -->
          <!-- general form elements -->
          <!-- Input addon -->
          <div class="box box-info">
            <!-- glyphicon glyphicon-user -->
            <div class="box-body">
              <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-building"></i></span>
                            <input type="text" name="company" id="company" ng-model="company" class="form-control" placeholder="COMPANY" ng-change="changeCompany(company)" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-cloud"></i></span>
                            <input type="text" name="web" id="web" ng-model="web" class="form-control" placeholder="WEBSITE COMPANY" required>
                        </div>
                    </div>
                </div>
<br/>
<div class="row">
                   <div class="col-xs-12 col-sm-12">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" name="email" id="email" ng-model="email" class="form-control" placeholder="EMAIL COMPANY" required>
                        </div>
                    </div>
                    </div>
<br/>

<div class="row">
                   <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-flag"></i></span>
                           <textarea style="width:235px" ng-model="address" name="address" id="address" placeholder="ALAMAT" ng-change="changeAddress(address)" ng-model-options='{ debounce: 2000 }' required md-select-on-focus></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-font"></i></span>
                           <textarea style="width:235px" ng-model="cprofile" name="cprofile" id="cprofile" placeholder="Deskripsi Company" required></textarea>
                        </div>
                    </div>
                </div>
<br/>
<div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-cogs"></i></span>
                            <input type="text" ng-model="jenis" name="jenis" id="jenis" class="form-control" placeholder="Jenis Perusahaan" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                            <input type="text" ng-model="jabatan" name="jabatan" id="jabatan" class="form-control" placeholder="Jabatan" required>
                        </div>
                    </div>
                </div>
<br/>
<div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">

                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" ng-model="lat" name="lat" id="lat" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" ng-model="lng" name="lng" id="lng" class="form-control" readonly>
                        </div>
                    </div>
                </div>
<br/>

 
          <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" options="{scaleControl: true}" event-ready="onMapReady($ngMap)">
                    <ng-map id="map" center="{{lat}}, {{lng}}" zoom="5">
                    <marker position="{{lat}}, {{lng}}"></marker>
                    
                    <div class="ng-map-marker" lat="markerPosition.lat()" lng="markerPosition.lng()" draggable="true" event-dragend="onDragEnd($event, $ngMap)">
                        <div class="marker" ng-class="{dragging: $dragging}"></div>
                    </div>
                </ng-map>
            </div>
 

            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!--/.col (left) -->

    

      
      </div>   <!-- /.row -->

 <div class="modal-footer">
  <button type="submit" class="btn btn-success btn-filter">Create</button>
  <button type="reset" class="btn btn-warning btn-filter">Reset</button>
 </div>
 
    </div>
</form>



  </div>
</div>

</div>