<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Buat Group Baru</h4>
   </div>

    <form class="form-horizontal" ng-submit="DmMyGroupNew.newgrp(datagroup)">

   <div class="modal-body">
        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
              <input ng-model="DmMyGroupNew.datagroup.nama" type="text" name="nama" id="nama" class="form-control" placeholder="nama">
            </div>
            <br/>
             <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
              <input ng-model="DmMyGroupNew.datagroup.tag" type="text" name="tag" id="tag" class="form-control" placeholder="tag">
            </div>
            <br/>
             <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
                 <textarea class="form-control" ng-model="DmMyGroupNew.datagroup.deskripsi" id="deskripsi" name="deskripsi" placeholder="Deskripsi" required></textarea>
              </div>
            </br>
             <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-image-o"></i></span>
                <input type="file" file-model="DmMyGroupNew.datagroup.imgs" name="imgs" id="imgs" class="form-control" placeholder="Gambar" required>
              </div>
              {{datagroup}}
              <br>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>

      <div class="modal-footer">
  <button type="submit" class="btn btn-success btn-filter">Create</button>
  <button type="reset" class="btn btn-warning btn-filter">Reset</button>
 </div>
      </form>
    
  </div>
</div>

</div>''