  <!-- Content --> 
    <div ui-view></div>
  <!-- / -->



<!-- Footer -->
  <footer class="site-footer">
       <div class="site-footer-legal">Copyright © Teknik Informatika 2018<a href="javascript:void(0);"></a></div>
    <!-- <div class="site-footer-right">
      Crafted with <i class="red-600 icon md-favorite"></i> by <a href="http://themeforest.net/user/amazingSurge">amazingSurge</a>
    </div> -->
  </footer>



