 <div class="page animsition">
  <div class="page-content container-fluid">
   <div class="row" data-plugin="matchHeight" data-by-row="true">
   <form name="regForm" ng-submit="DmTdynewsEdit.newtdy(judul, deskripsi, bidang);">
	<div class="panel panel-default">
	  <div class="panel-heading">
      <div class="panel-title">Edit Data Berita Harian
		<span class="pull-right">
			<div class="btn-group">
              <button type="button" class="btn btn-danger btn-filter" title="Back" ng-click="go('dash/tdynews')"><i class="fa fa-arrow-left"></i> Kembali</button>
              <button type="reset" class="btn btn-warning btn-filter" title="Refress"><i class="fa fa-refres"></i> Reset</button>
              <button type="submit" class="btn btn-success btn-filter" title="Create"><i class="fa fa-arrow-right"></i> Edit</button>
              </div>
        </span>
       </div>
       </div>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <!-- Input addon -->
          <div class="box box-info">
            <!-- glyphicon glyphicon-user -->
            <div class="box-body">

              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file" style="width:145px"> Judul</i></span>
                <input ng-model="judul" type="text" name="judul" id="judul" class="form-control" placeholder="Judul" required>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-image-o" style="width:145px"> Img</i></span>
                <input type="file" file-model="imgs" name="imgs" id="imgs" class="form-control" placeholder="Gambar">
              </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!--/.col (left) -->

	

        <!-- right column -->
        <div class="col-md-6">
          <!-- general form elements disabled -->
          <div class="box box-warning">
            <div class="box-body">
               <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-tag" style="width:145px"> Bidang</i></span>
                <input ng-model="bidang" type="text" name="bidang" id="bidang" class="form-control" placeholder="Tag" required>
              </div>
              <br/>
             
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-check-square" style="width:145px"> Deskripsi</i></span>
                 <textarea class="form-control" ng-model="deskripsi" id="deskripsi" name="deskripsi" placeholder="Deskripsi" required></textarea>
              </div>
              <br/>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!--/.col (right) -->
      </div>   <!-- /.row -->
    </section><!-- /.content -->
    <br>
  </form>
</div>








</div>
</div>
</div>