<div class="modal" role="dialog" id="lookData">
  <!-- Large modal -->
  


    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
         <button class="close" ng-click="lookData.hide(); StartIntervalNotifForum();" type="button">x</button>
        <h4 class="modal-title" >List Notifications Group</h4>
       </div>
         <div class="modal-body">







 <!-- Media Content -->
    <div class="page-main">

      <!-- Media Content Header -->
      <div class="page-header">
        <!-- <h1 class="page-title">List Notifications Group</h1> -->
        <div class="page-header-actions">
          <form>
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="search" ng-model="Search_Group" placeholder="Search Group...">
            </div>
          </form>
        </div>
      </div>

      <!-- Media Content -->
      <div class="page-content page-content-table" data-selectable="selectable">
        <!-- Media -->
        <div class="media-list is-grid">
          <ul class="blocks blocks-100 blocks-xlg-4 blocks-lg-3 blocks-md-3 blocks-ms-2 blocks-xs-2" data-plugin="animateList" data-child=">li">
            <div class="widget-content padding-horizontal-20">
              <ul class="list-group list-group-full list-group-dividered">
                
                <li class="list-group-item" dir-paginate="notgroups in not1 | orderBy:'created_at':true | filter:Search_Group | itemsPerPage: pageSize" pagination-id="paginate3" current-page="currentPage">
                  <div class="media">
                    <div class="media-left">
                      <a class="img-thumbnail" href="javascript:void(0)" ng-repeat="nms in nmgrp | orderBy:'created_at':true | limitTo:5" ng-show="nms._id === notgroups.id_group">
                        <img style="width:100px; height:65px" ng-src="{{nms.imgs.slice(3)}}" alt="...">
                      </a>
                      <a class="img-thumbnail" href="javascript:void(0)" ng-repeat="nmsfolow in nmflowgrp | orderBy:'created_at':true | limitTo:5" ng-show="nmsfolow._id === notgroups.id_group">
                        <img style="width:100px; height:65px" ng-src="{{nmsfolow.imgs.slice(3)}}" alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading" ng-repeat="nms in nmgrp | orderBy:'created_at':true | limitTo:5" ng-show="nms._id === notgroups.id_group"><b>Group:</b> {{nms.nama}}</h4>
                      <h4 class="media-heading" ng-repeat="nmsfolow in nmflowgrp | orderBy:'created_at':true" ng-show="nmsfolow._id === notgroups.id_group"><b>Group:</b> {{nmsfolow.nama}}</h4>
                    
                      <h6 class="media-body">{{notgroups.nama}}</h6>
                      <small class="media-meta">{{notgroups.post}}</small>
                    </div>
                    
                  </div>
                </li>
              </ul>
              <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginate3" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center>

            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>


      </div> 
  </div>
</div>

</div>