<div class="app-media">
 <div class="page bg-white animsition">

  <!-- Media Content -->
  <div class="page-main">

    <!-- Media Content Header -->
    <div class="page-header">
      <h1 class="page-title">New Thread</h1>
      <div class="page-header-actions">
        <form>
          <div class="input-search input-search-dark">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" name="" placeholder="Search Forum..." ng-model="search">
          </div>
        </form>
      </div>
    </div>

    <!-- Media Content -->
    <div class="page-content page-content-table" data-selectable="selectable">
      <!-- Media -->
      <div class="media-list is-grid padding-bottom-50">
        <ul class="blocks blocks-100 blocks-xlg-4 blocks-lg-3 blocks-md-3 blocks-ms-2 blocks-xs-2"
        data-plugin="animateList" data-child=">li">

        <li dir-paginate="forum in DmForums.show |filter:search | itemsPerPage: pageSizeAllForums" pagination-id="paginate11" current-page="currentPageAllForums">

          <div class="media-item" style="background-color: #eff2f7;">
            <div class="image-wrap">
              <img class="img-rounded" style="width:100%; height:95px;"  ng-src="{{forum.imgs.slice(3)}}">
            </div>
            <div class="info-wrap">


              <div class="title"><a href="javascript:void(0)" ng-click="go('dash/forum/thread/'+ forum._id +'/'+ forum.urlslug +'')" style="color:black">{{forum.judul}}</a></div>
              <div class="glyphicon glyphicon-tag">{{forum.tag}}</div>

<!--               <div class="pull pull-right">
                <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="go('dash/mygroup/'+ forum.urlslug +'/'+ forum._id +'')">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>

                <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Delete" ng-click="DmForums.deleteData(forum._id)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
 -->


            </div>
          </div>
        </li>


      </ul>
            <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginate11" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center>
      <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</div>
</div>


<!-- 
<div class="site-action">
  <button type="button" ng-click="DmForums.showNewData()" class="site-action-toggle btn-raised btn btn-success btn-floating">
    <i class="front-icon md-upload animation-scale-up" aria-hidden="true"></i>
    <i class="back-icon md-close animation-scale-up" aria-hidden="true"></i>
  </button>
</div> -->

</div>