 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

<div class="panel panel-default">
  <div class="panel-heading">
              <h3 class="panel-title">
                Pendataan StartUp
              </h3>
            </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">               
            <table datatable="ng" dt-instance="DmStart.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Nim</th>
                  <th>Nama</th>
                  <th>StartUp</th>
                  <th>Bidang</th>
                  <th>Tahun Berdiri</th>
                  <th>Website</th>
                  <th>Produk StartUp</th>
                  <th>Created Date</th>
                  <th>Created Time</th>
                  <th><button type="button" ng-click="showCreateData()" class="btn btn-sm btn-success" title="Add New"><i class="glyphicon glyphicon-plus"></i> Add new</button></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="berita in DmStart.neww">
                  <td>{{$index + 1}}</td>
                  <td>{{berita.nim}}</td>
                  <td>{{berita.addby}}</td>
                  <td>{{berita.nama}}</td>
                  <td>{{berita.bidang}}</td>
                  <td>{{berita.tahun | date:'yyyy'}}</td>
                  <td><a href="{{berita.website}}" value="{{berita.website}}" style="color:blue">{{berita.website}}</a></td>
                  <td>{{berita.produk.substring(0, 45)}}</td>
                  <td>{{berita.created_at | date:'yyyy-MM-dd'}}</td>
                  <td>{{berita.created_at | date: 'HH:mm:ss'}}</td>
                  <td>
                     <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="DmStart.showData(berita._id);">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <div ng-show="berita.nim === nim">
                    <!-- <a ui-sref="alumni.sadminedit({ berita:_id })"> -->
                    <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="DmStart.editData(berita._id);">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <!-- </a> -->
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Delete" ng-click="DmStart.deleteData(berita._id)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    </div>
                  </td>   
                </tr>
              </tbody> 
            </table>

          </div>
        </div>
      </div>
    </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>

</div>
</div>
</div>