<div class="app-forum">
 <div class="page bg-white animsition">
 

 <!-- Forum Content Header -->
    <div class="page-header">
      <img ng-src="{{desk.imgs.slice(3)}}" class="width-full" style="height:255px;"/>
      <hr> 
      <h2 class="page-title" style="color:black;">{{desk.judul}}</h2>
      <h4 ta-bind="text" ng-model="desk.postings" ta-readonly='disabled'></h4>
      <hr>
      <span>Post By:</span> 
      <span class="label label-danger">{{desk.addby}}</span>
      <span class="label label-warning pull-right">{{desk.created_at | date:'yyyy-MM-dd'}}</span>
      <br>
      <span class="label label-warning pull-right">{{desk.created_at |date: "HH:mm:ss"}}</span>
      <span class="fa fa-tags"> {{desk.tag}}</span>
    </div>
<hr>


  <!-- Forum Content -->
  <div class="page-main">
    <!-- Forum Nav -->
    <div class="page-nav-tabs">
      <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
        <li class="active" role="presentation">
          <a data-toggle="tab" href="javascript:void(0)#forum-newest" aria-controls="forum-newest" aria-expanded="true"
          role="tab">Comments</a>
        </li>
      </ul>
    </div>

    <!-- Forum Content -->
    <div class="page-content tab-content page-content-table nav-tabs-animate">
      <div class="tab-pane animation-fade active">
        <table class="table is-indent">
          <tbody>
          
            <tr>
              
              <td class="pre-cell"></td>
              <td class="cell-60 responsive-hide"></td>
              <td>
                <form ng-submit="DmForumsThrd.newPost(htmlContent)">
                  <div class="content">
                    <div class="input-group">
                      <div autofocus text-angular ng-model="htmlContent" name="demo-editor"  ta-text-editor-class="border-around" ta-html-editor-class="border-around" required>
                      </div>
                    </div
                  </div>
                  <button type="submit" class="btn btn-primary pull-right">
                        <i class="fa fa-arrow-right" aria-hidden="true"> Kirim</i>
                  </button>
                </form>
              </td>
              <td class="cell-80 forum-posts">
                
              </td>
              
              <td class="suf-cell"></td>
            </tr>     
          


            <tr dir-paginate="post in DmForumsThrd.Comment | orderBy:'created_at':true| itemsPerPage: pageSizeForumThread" pagination-id="paginate12" current-page="currentPageForumThread">
              <!-- <div><a href="javascript:void(0)" ng-show="tertunda" ng-click="setnew()" style="color:red">data baru {{difference}}</a></div> -->
              <td class="pre-cell"></td>
              <td class="cell-60 responsive-hide">
                <a href="javascript:void(0)">
                  <img class="img-thumbnail" style="width:50px; height:40px" ng-repeat="prf in DmForumsThrd.cr" ng-show="prf.mhsNiu === post.nim" ng-src="{{prf.urlimgs}}" alt="...">
                </a>
               <!--  <a href="javascript:void(0)">
                  <img class="img-thumbnail" style="width:50px; height:40px" ng-repeat="prf1 in DmForumsThrd.alm" ng-show="prf1.nim == post.nim" ng-src="{{prf1.urlimgs}}"
                  alt="...">
                 </a> -->
              </td>
              <td>
                <div class="content">
                  <h5 ng-bind-html="post.post" ng-model="post.post"></h5>
              </div>
            </td>
              <td class="cell-100 forum-posts">
              <span class="date">{{post.created_at | date:'yyyy-MM-dd'}}</span>
              <span class="date">{{post.created_at | date: "HH:mm:ss"}}</span>
              <span class="unit" ng-repeat="cralm in DmForumsThrd.cr" ng-show="cralm.mhsNiu === post.nim">{{cralm.mhsNama}}</span>
             <!--  <span class="unit" ng-repeat="alms in DmForumsThrd.alm" ng-show="alms.nim == post.nim">{{alms.nama}}</span> -->
            </td>

            <td class="suf-cell"></td>
          </tr>     
        </tbody>
      </table>
     <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginate12" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center>
        </div>

</div>
</div>
</div>
