<div class="modal" role="dialog" id="lookData">
  <!-- Large modal -->
  


    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
         <button class="close" ng-click="lookData.hide()" type="button">x</button>
         <h4 class="modal-title">Konfirmasi Anggota</h4>
       </div>

       <form class="form-horizontal">

         <div class="modal-body">







 <!-- Media Content -->
    <div class="page-main">

      <!-- Media Content Header -->
      <div class="page-header">
        <h1 class="page-title">Konfirmasi Anggota</h1>
        <div class="page-header-actions">
          <form>
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="search" ng-model="search" placeholder="Search...">
            </div>
          </form>
        </div>
      </div>

      <!-- Media Content -->
      <div class="page-content page-content-table" data-selectable="selectable">
        <!-- Media -->
        <div class="media-list is-grid">
          <ul class="blocks blocks-100 blocks-xlg-4 blocks-lg-3 blocks-md-3 blocks-ms-2 blocks-xs-2" data-plugin="animateList" data-child=">li">
            <div class="widget-content padding-horizontal-20">
              <ul class="list-group list-group-full list-group-dividered">
                
                <li class="list-group-item" dir-paginate="anggota in DmMyGroupEdit.anggot | filter:search | itemsPerPage: pageSizeGrpEdit" pagination-id="paginate6" current-page="currentPageGrpEdit" ng-show="anggota.active == 0 && anggota.addby === false">
                 
                  <div class="media">
                    <div class="media-left">
                      <a href="javascript:void(0)">
                        <img style="width:50px; height:40px" ng-repeat="DatsCr in DataCrAlm" ng-show="DatsCr.mhsNiu === anggota.nim " ng-src="{{DatsCr.urlimgs}}" alt="...">
                      </a>
                      <!-- <a href="javascript:void(0)">
                        <img style="width:50px; height:40px" ng-repeat="DatsAlm in DataAlm" ng-show="DatsAlm.nim == anggota.nim " ng-src="{{DatsAlm.urlimgs}}" alt="...">
                      </a> -->
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{anggota.nama}}</h4>
                    	<!-- <h4 class="media-heading">{{anggota._id}}</h4> -->
                    </div>
	                    <div class="media-right">
	                      <button type="submit" ng-click="DmMyGroupEdit.konfAgt(anggota.nim)" class="btn btn-success btn-filter">Konfirmasi </button>
	                    </div>
                      <div class="media-right">
                        <button type="submit" ng-click="DmMyGroupEdit.delAgt(anggota._id)" class="btn btn-danger btn-filter">Delete </button>
                      </div>
	                	</div> 
                  </div>
                </li>
                
              </ul>
                 <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginate6" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center>


            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>


      </div>
    </form>
    
  </div>
</div>

</div>