 <div class="page animsition">
  <div class="page-content container-fluid">
   <div class="row" data-plugin="matchHeight" data-by-row="true">
   <form name="regForm" ng-submit="DmEditLok.newloker(judul, perusahaan, lokasi, gajih, deskripsi, bidang, date_on, date_off);">
	<div class="panel panel-default">
	  <div class="panel-heading">
      <div class="panel-title">Edit Data Lowongan Pekerjaan
		<span class="pull-right">
			<div class="btn-group">
              <button type="button" class="btn btn-danger btn-filter" title="Back" ng-click="go('dash/loker')"><i class="fa fa-arrow-left"></i> Kembali</button>
              <button type="reset" class="btn btn-warning btn-filter" title="Refress"><i class="fa fa-refres"></i> Reset</button>
              <button type="submit" class="btn btn-success btn-filter" title="Create"><i class="fa fa-arrow-right"></i> Edit</button>
              </div>
        </span>
       </div>
       </div>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <!-- Input addon -->
          <div class="box box-info">
            <!-- glyphicon glyphicon-user -->
            <div class="box-body">

              <div class="input-group">
                <span class="input-group-addon" style="width:145px"><i class="fa fa-file"> Judul</i></span>
                <input style="width:285px" ng-model="judul" type="text" name="judul" id="judul" class="form-control" placeholder="Judul" required>
              </div>
              <br/>
              
              <div class="input-group">
                <span class="input-group-addon" style="width:145px"><i class="fa fa-flag"> Lokasi</i></span>
                <input style="width:285px" ng-model="lokasi" type="text" name="lokasi" id="lokasi" class="form-control" placeholder="Daerah" required>
              </div>
              <br/>
             <div class="input-group">
                <span class="input-group-addon" style="width:145px"><i class="fa fa-briefcase"> Nama Perusahaan</i></span>
                <input style="width:285px" ng-model="perusahaan" type="text" name="perusahaan" id="perusahaan" class="form-control" placeholder="Nama Perusahaan" required>
              </div>
              <br/>
       
                  <div class="input-group">
                    <span class="input-group-addon" style="width:145px"><i class="fa fa-money"> Gajih Awal</i></span>
                    <input style="width:285px" ng-model="gajih" type="number" min="100000" name="gajih" id="gajih" class="form-control" placeholder="Gajih" required>
                  </div>
                <br>
                  <div class="input-group">
                  <span class="input-group-addon" style="width:145px"><i class="fa fa-money"> Gajih Akhir</i></span>
                    <input style="width:285px" ng-model="gajih1" type="number" min="{{gajih}}" name="gajih" id="gajih" class="form-control" placeholder="Gajih" required>
                  </div>
               
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="width:145px"><i class="fa fa-file-image-o"> Url Image</i></span>
                <input style="width:285px" type="url" ng-model="imgs" name="imgs" id="imgs" class="form-control" placeholder="Gambar" required>
              </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!--/.col (left) -->

	

        <!-- right column -->
        <div class="col-md-6">
          <!-- general form elements disabled -->
          <div class="box box-warning">
            <div class="box-body">
              <div class="input-group">
                <span class="input-group-addon" style="width:145px"><i class="fa fa-check-square"> Deskripsi</i></span>
                 <textarea style="width:285px" class="form-control" ng-model="deskripsi" id="deskripsi" name="deskripsi" placeholder="Deskripsi" required>{{Res.detail.deskripsi}}</textarea>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="width:145px"><i class="fa fa-plus-square-o"> Prasyarat</i></span>
                <textarea style="width:285px" class="form-control" ng-model="prasyarat" id="prasyarat" name="prasyarat" placeholder="Prasyarat" required>{{prasyarat}}</textarea>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="width:145px"><i class="fa fa-tag"> Bidang</i></span>
                <input style="width:285px" ng-model="bidang" type="text" name="bidang" id="bidang" class="form-control" placeholder="Bidang" required>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="width:145px"><i class="fa fa-check"> Tanggal Mulai</i></span>
                <input style="width:285px" ng-model="date_on" type="date" name="date_on" id="date_on" class="form-control" min="{{date | date:'yyyy-MM-dd'}}" required>
              </div>
              <br/>
              
              <!-- {{date_on}} -->
              <div class="input-group">
                <span class="input-group-addon" style="width:145px"><i class="fa fa-close"> Tanggal Berakhir</i></span>
                <input style="width:285px" ng-model="date_off" type="date" name="date_off" id="date_off" class="form-control" min="{{date_on | date:'yyyy-MM-dd'}}" required>
              </div>
              <br/>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!--/.col (right) -->
      </div>   <!-- /.row -->
    </section><!-- /.content -->
    <br>
  </form>
</div>








</div>
</div>
</div>