<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Lihat Data Event</h4>
   </div>
   <div class="modal-body">
    <form class="form-horizontal">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            <div class="input-group">                
              <img ng-src="{{eventalm.imgs}}" class="img-thumbnail" style="align:right;">
            </div>
            <br/>

            <div class="row">
            <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-file"> Judul</i></span>
                <input ng-model="eventalm.judul" type="text" name="judul" id="judul" class="form-control" placeholder="judul" readonly>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"> Tag</i></span>
                <input ng-model="eventalm.tag" type="text" name="tag" id="tag" class="form-control" placeholder="tag" readonly>
              </div>
            </div>
          </div></br>
          <div class="row">
            <div class="col-xs-2 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"> Nim</i></span>
                <input ng-model="eventalm.nim" type="text" name="nim" id="nim" class="form-control" placeholder="nim" readonly>
              </div>
            </div>
            <div class="col-xs-2 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"> AddBy</i></span>
                <input ng-model="eventalm.addby" type="text" name="addby" id="addby" class="form-control" placeholder="addby" readonly>
              </div>
            </div>
          </div></br>
          <div class="row">
            <div class="col-xs-2 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"> Created At</i></span>
                <input type="date" class="form-control" placeholder="Create At" id="hp" name="hp" ng-model="created_at" readonly>
              </div>
            </div>
            <div class="col-xs-2 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"> Time Add</i></span>
                <input type="time" class="form-control" placeholder="Create At" id="hp" name="hp" ng-model="created_at" readonly>
              </div>
            </div>
          </div></br>
          <div class="row">
            <div class="col-xs-2 col-sm-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"> Deskripsi</i></span>
                <h5 id="postingsss" ta-bind="text" ng-model="eventalm.postings"></h5>
              </div>
            </div>
          </div></br>
              
             
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>''