<div class="app-media">
   <div class="page bg-white animsition">
    

    <!-- Media Content -->
    <div class="page-main">

      <!-- Media Content Header -->
      <div class="page-header">
        <h1 class="page-title">All Group</h1>
        <div class="page-header-actions">
          <form>
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="" placeholder="Search Group..." ng-model="search">
            </div>
          </form>
        </div>
      </div>

      <!-- Media Content -->
      <div class="page-content page-content-table" data-selectable="selectable">


        <!-- Media -->
        <div class="media-list is-grid padding-bottom-50">
          <ul class="blocks blocks-100 blocks-xlg-4 blocks-lg-3 blocks-md-3 blocks-ms-2 blocks-xs-2"
          data-plugin="animateList" data-child=">li">
          
            <li dir-paginate="group in DmGroupsAll.show |filter:search | itemsPerPage: pageSizeAllGroupss" pagination-id="paginate10" current-page="currentPageAllGroupss">

              <div class="media-item" style="background-color: #eff2f7;">
                <div class="image-wrap">
                  <img class="img-rounded" style="width:100%; height:95px;"  ng-src="{{group.imgs.slice(3)}}">
                </div>
                <div class="info-wrap">




                  <div class="title" style="color:black">{{group.nama}}</div>
                  <div class="glyphicon glyphicon-tag">{{group.tag}}</div>
                  
              <div class="pull pull-right" ng-hide="group.nim == nim">
                <button type="button" data-placement="top" title="Add Group" class="btn btn-xs btn-primary" ng-click="DmGroupsAll.Add(group._id)">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
              </div>

     
       
                   


                </div>
              </div>
            </li>
            
           
          </ul>
            <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginate10" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center>
          <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>

</div>