<div class="app-media">
 <div class="page bg-white animsition">

  <!-- Media Content -->
  <div class="page-main">

    <!-- Media Content Header -->
      <div class="page-header">
        <h1 class="page-title" ng-hide="hidde === true">Create Meeting Creation</h1>
        <h1 class="page-title" ng-show="hidde === true">Edit Meeting Creation</h1>
        <button ng-show="hidde === true" type="submit" class="btn btn-warning btn-filter pull-right" ng-click="DmMom.relload()">Back To Create</button>
        <hr>
         

        <form class="form-horizontal">
          <div class="row">
            <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-file"> Judul</i></span>
                <input ng-model="judul" type="text" name="judul" id="judul" class="form-control" placeholder="judul" required>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"> Tag</i></span>
                <input ng-model="tag" type="text" name="tag" id="tag" class="form-control" placeholder="tag" required>
              </div>
            </div>
          </div></br>
         <!--  <div class="col-xs-2 col-md-12"> -->
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-check-square"> Deskripsi</i></span>
            <div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around" required></div>
          </div>
          <!-- </div> -->
          <br>
          <button ng-hide="hidde === true" type="submit" class="btn btn-success btn-filter" ng-click="DmMom.newmom(judul,tag, htmlContent)">Create</button>
          <button ng-show="hidde === true" type="submit" class="btn btn-success btn-filter" ng-click="DmMom.editMom(idmom, judul, tag, htmlContent)">Edit</button>
          <hr> 
          <div class="row">
              <div class="col-xs-6 col-sm-12" style="color:black;">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-check-square"><h6>RAW:</h6></i></span>
                  <textarea class="form-control" style="color:black; height:65px;" ng-model="htmlContent" id="postings" name="postings" placeholder="Deskripsi" disabled></textarea>
                </div>
              </div>
          </div>

       </form>  
      
          <hr>
          <h4>Meeting Creation</h4>
            <form>
              <div class="input-search input-search-dark">
                <i class="input-search-icon wb-search" aria-hidden="true"></i>
                <input type="text" class="form-control" name="" placeholder="Search..." ng-model="search">
              </div>
            </form>
      </div>


  
    <!-- Forum Content -->
    <div class="page-content tab-content page-content-table nav-tabs-animate">
      <div class="tab-pane animation-fade active">
        <table class="table is-indent">
          <tbody>
    
            <tr dir-paginate="post in DmMom.mom | filter:search |orderBy:'created_at':true | itemsPerPage: pageSize" current-page="currentPage">
              <!-- <div><a href="javascript:void(0)" ng-show="tertunda" ng-click="setnew()" style="color:red">data baru {{difference}}</a></div> -->
              <td class="pre-cell"></td>
              <td class="cell-60 responsive-hide">
                <i class="glyphicon glyphicon-file"></i>
              </td>
              <td>
                <div class="content">
                  <div class="title">
                    <div><h5 ta-bind="text" ng-model="post.judul" ta-readonly='disabled'></h5></div>
                    <hr>
                    <span class="label label-danger">{{post.addby}}</span>
                    <span class="date">{{post.created_at | date:'yyyy-MM-dd'}}</span>
                    <span class="date">{{post.created_at | date: "HH:mm:ss"}}</span>
                  </div>

              </div>
            </td>
              <td class="cell-100 forum-posts">
                <div class="pull pull-right">
                    <button type="button" data-placement="top" title="Show And Print" class="btn btn-xs btn-default" ng-click="DmMom.showData(post._id)">
                      <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                    <!-- </a> -->
                    <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="DmMom.EditData(post._id)">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <!-- </a> -->
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Delete" ng-click="DmMom.deleteData(post._id)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
              
            </td>
            <td class="suf-cell"></td>
          </tr>  
          
           
        </tbody>
      </table>
         <center><dir-pagination-controls boundary-links="true" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center> 
          
      
        </div>

</div>
</div>


<!-- 
<div class="site-action">
  <button type="button" ng-click="DmMom.showNewData()" class="site-action-toggle btn-raised btn btn-success btn-floating">
    <i class="front-icon md-upload animation-scale-up" aria-hidden="true"></i>
    <i class="back-icon md-close animation-scale-up" aria-hidden="true"></i>
  </button>
</div> -->

</div>