<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
<!--      <button class="close" ng-click="lookData.hide()" type="button">x</button> -->
     <h2 class="modal-title">LOST CONNECTION</h2>
   </div>
   
   <div class="modal-body">
    
      <div class="row">
        <h3 style="text-align:center;">GANGUAN, KONEKSI LOOOSSTTT</h3>
        <h4 style="text-align:center;">RELOAD KEMBALI</h4>
      </div>   <!-- /.row -->
 
    </div>




  </div>
</div>

</div>