a {
  color: #eff2f7;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #eff2f7;
  outline: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/*.site-menu-item{
	color:#eff2f7;
}*/

.page-content{
	  background-color:  rgba(255, 255, 255, 0.15);    
    /*overflow-y: auto;
    overflow-x: hidden;*/
    /*height: 555px;*/
}
/*a {
  color: #4fd2c2;
  text-decoration: none;
}
a:hover, a:focus {
  color: #2ba99a;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}*/

.nav-sub {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
          transition: max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}

.nav-sub .md-ripple-container {
  display: none;
  visibility: hidden;
}

.active > .nav-sub {
  max-height: 999px;
}

.active > .nav-sub .md-ripple-container {
  display: block;
  visibility: visible;
}


.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable.hover {
  overflow-y: hidden !important;
}

.scrollable.hover > * {
  margin-top: -1px;
}

.scrollable.hover:hover {
  overflow: visible !important;
  overflow-y: auto !important;
}

.smart .scrollable {
  overflow-y: auto !important;
}

.scroll-x,
.scroll-y {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-x {
  overflow-x: auto;
}

