
<div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

      <div class="panel panel-default">
        <form name="regForm" ng-submit="AccAlmAdd.signup(sgnData, nim);">
          <!-- Main content -->

          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title">Create Account</h3>

              <div class="box-body">
                <div class="row">
                  <section class="content">
                     <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <div class="form-group">
                  <select class="form-control" value="Admin" name="level" id="level" ng-model="nim" required>
                    <option value="">-- SELECT NIM --</option>
                    <option ng-repeat="data in AccAlmAdd.cralumnisx | orderBy: 'mhsNiu'" value="{{data.mhsNiu}}" >{{data.mhsNiu}} - {{data.mhsNama}}</option>
                  </select>
                </div>
              </div>
              <br/>
              <div class="input-group" ng-show="nim">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input ng-model="nim" ng-blur="AccAlmAdd.checkNim(sgnData)" type="text" name="nim" id="nim" class="form-control" placeholder="NIM" required readonly>
              </div>
            
          <br>
                    
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                          <input ng-model="AccAlmAdd.sgnData.password" type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                        </d iv>
                        <br/>
                        
                      </div>

                    </div>
                    <br>
                    <span class="pull-right">
                          <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-filter" title="Back" ng-click="go('alumni/account-alumni')"><i class="fa fa-arrow-left"></i> Back</button>
                            <button type="reset" class="btn btn-warning btn-filter" title="Refress"><i class="fa fa-refres"></i> Reset</button>
                            <button type="submit" class="btn btn-success btn-filter" title="Create"><i class="fa fa-arrow-right"></i> Create</button>
                          </div>
                        </span>
                  </section>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </form>
    </div>
  </div>
</div>
</div>




