<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title"></h4>
   </div>
   <div class="modal-body">
    

        <div class="box box-info">
          <div class="box-header">
            <h3 class="box-title">Edit Password Alumni</h3>
          </div>
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
                        <div class="input-group" ng-hide="benarsPass === true">
                          <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                          <input ng-model="alumnixsShow.password" ng-blur="AccAlmEdit.checkPassword(alumnixsShow)" type="password" name="password" id="password" class="form-control" placeholder="MASUKAN VERIFIKASI PASSWORD">
                        </div>
                        <br/>
                        <div class="input-group pull-right" ng-hide="benarsPass === true">
                          <!-- <span class="input-group-addon"><i class="fa fa-briefcase"></i></span> -->
                        <button type="submit" class="btn btn-success btn-filter" title="Edit Password" ><i class="fa fa-arrow-right"></i> Verifikasi</button>
                        </div>
<form class="form-horizontal" name="AccAlmEdit.regForm" ng-submit="AccAlmEdit.EditPass(firstPassword, confirm)">
                        <div ng-show="benarsPass === true">
                          <div class="input-group" ng-class="{ 'has-success': confirmed && !AccAlmEdit.regForm.firstPassword.$error.$required, 'has-error':(!confirmed && !AccAlmEdit.regForm.firstPassword.$error.$required) || (AccAlmEdit.regForm.firstPassword.$error.required && !AccAlmEdit.regForm.firstPassword.$pristine)}">
                        <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                        <input type="text" name="firstPassword" ng-model="firstPassword" id="firstPassword" class="form-control" placeholder="Password" required>
                      </div>
                      <br/>

                      <div class="input-group" ng-class="{ 'has-success': confirmed && !AccAlmEdit.regForm.confirmPassword.$error.$required, 'has-error':(!confirmed && !AccAlmEdit.regForm.confirmPassword.$error.$required) || (AccAlmEdit.regForm.confirmPassword.$error.required && !AccAlmEdit.regForm.confirmPassword.$pristine)}">
                        <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                        <input type="password" ng-model="confirm" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Retype Password" match="{{[firstPassword]}}" ng-change="function()" required>
                        <label class="control-label" ng-show="!confirmed && !confirmed &&!AccAlmEdit.regForm.confirmPassword.$pristine && AccAlmEdit.regForm.firstPassword.$valid" for="inputError"><i class="fa fa-times-circle-o"></i> Password Not Match</label>
                        
              </div>
              <br/>
              <div class="input-group pull-right">
                          <!-- <span class="input-group-addon"><i class="fa fa-briefcase"></i></span> -->
                        <button type="submit" class="btn btn-success btn-filter" title="Edit Password" ><i class="fa fa-arrow-right"></i> Edit</button>
                        </div>
                        </div>
                        <br/>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>