<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title"></h4>
   </div>
   <div class="modal-body">
    <form class="form-horizontal">

        <div class="box box-info">
          <div class="box-header">
            <h3 class="box-title">Account Alumni</h3>
          </div>
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input ng-model="alumnixsShow.nim" type="text" name="username" id="username" class="form-control" placeholder="Username" readonly>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-code"></i></span>
              <input ng-model="alumnixsShow.active" name="password" id="password" class="form-control" placeholder="Level" readonly>
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-check"></i></span>
                <input ng-model="alumnixsShow.verifi" type="text" name="nama" id="nama" class="form-control" placeholder="Name" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="date" class="form-control" placeholder="Date" id="hp" name="hp" ng-model="created_at" readonly>
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="time" class="form-control" placeholder="Date" id="hp" name="hp" ng-model="created_at" readonly>
              </div>
              <br/>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>