
<div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

      <div class="panel panel-default">
        
          <!-- Main content -->

          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title">Edit Account</h3>
               <div class="input-group pull-right">
                          <!-- <span class="input-group-addon"><i class="fa fa-briefcase"></i></span> -->
               <!--  <button type="submit" class="btn btn-success btn-filter" ng-click="AccAlmEdit.ShowData()" title="Edit Password" ><i class="fa fa-arrow-right"></i> Edit Password</button> -->
                </div>
                <hr>        
          
              <div class="box-body">
                <div class="row">
                  <section class="content">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                          <input ng-model="alumnixsShow" type="number" name="nim" id="nim" class="form-control" placeholder="NIM" required>
                        </div>
                        </div>
                        
                        <div class="col-md-4">
                          <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-filter" title="Back" ng-click="go('alumni/account-alumni')"><i class="fa fa-arrow-left"></i> Back</button>
                            <button type="reset" class="btn btn-warning btn-filter" title="Refress"><i class="fa fa-refres"></i> Reset</button>
                            <button type="submit" ng-click="AccAlmEdit.updt(alumnixsShow);" class="btn btn-success btn-filter" title="Edit"><i class="fa fa-arrow-right"></i> Edit</button>
                          </div>
                          </div>
                        
                      </div>
                      </br>
                      <div class="row">
                       <div class="col-md-8">
                        <div class="input-group" ng-hide="benarsPass === true">
                          <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                          <input ng-model="alumniPass.password" ng-blur="AccAlmEdit.checkPassword(alumniPass);" type="password" name="password" id="password" class="form-control" placeholder="MASUKAN VERIFIKASI PASSWORD">
                        </div>
                       
                        </div>
                        
                        <div class="col-md-4">
                        <div class="input-group" ng-hide="benarsPass === true">
                        <button type="submit" class="btn btn-success btn-filter" title="Edit Password" ><i class="fa fa-arrow-right"></i> Verifikasi</button>
                        </div>
                        </div>
                        </div>
                        <br/>


                        <div ng-if="benarsPass == true">
                          <form class="form-horizontal" name="AccAlmEdit.regForm" ng-submit="AccAlmEdit.EditPass(firstPassword, confirm)">
                          <div class="input-group" ng-class="{ 'has-success': confirmed && !AccAlmEdit.regForm.firstPassword.$error.$required, 'has-error':(!confirmed && !AccAlmEdit.regForm.firstPassword.$error.$required) || (AccAlmEdit.regForm.firstPassword.$error.required && !AccAlmEdit.regForm.firstPassword.$pristine)}">
                        <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                        <input type="text" name="firstPassword" ng-model="firstPassword" id="firstPassword" class="form-control" placeholder="Password" required>
                      </div>
                      <br/>

                      <div class="input-group" ng-class="{ 'has-success': confirmed && !AccAlmEdit.regForm.confirmPassword.$error.$required, 'has-error':(!confirmed && !AccAlmEdit.regForm.confirmPassword.$error.$required) || (AccAlmEdit.regForm.confirmPassword.$error.required && !AccAlmEdit.regForm.confirmPassword.$pristine)}">
                        <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                        <input type="password" ng-model="confirm" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Retype Password" match="{{[firstPassword]}}" ng-change="function()" required>
                        <label class="control-label" ng-show="!confirmed && !confirmed &&!AccAlmEdit.regForm.confirmPassword.$pristine && AccAlmEdit.regForm.firstPassword.$valid" for="inputError"><i class="fa fa-times-circle-o"></i> Password Not Match</label>
                        
              </div>
              <br/>
              <div class="input-group pull-right">
                          <!-- <span class="input-group-addon"><i class="fa fa-briefcase"></i></span> -->
                        <button type="submit" class="btn btn-success btn-filter" title="Edit Password" ><i class="fa fa-arrow-right"></i> Edit</button>
                        </div>
                        </form>
                        </div>
                      
                        <br/>
                        
                        
                      </div>

                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>  
        </div>
      
    </div>
  </div>
</div>
</div>




