
 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

<div class="panel panel-default">
  <div class="panel-heading">
              <h3 class="panel-title">
                Data Superadmin
              </h3>
            </div><div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">               
      <table datatable="ng" dt-instance="SadminController1.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nim</th>
            <th>Username</th>
            <th>Activate Account</th>
            <th>Level</th>
            <th>Created Date</th>
            <th>Created Time</th>
            <th><button type="button" ng-click="go('alumni/sadmin/new')" class="btn btn-sm btn-success" title="Add New"><i class="glyphicon glyphicon-plus"></i> Add new</button></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="person in SadminController1.superadmins">
            <td>{{$index + 1}}</td>
            <td>{{person.nim}}</td>
            <td>{{person.username}}</td>
            <td>{{person.active}}</td>
            <td>{{person.level}}</td>
            <td>{{person.created_at | date:'yyyy-MM-dd'}}</td>
            <td>{{person.created_at | date: 'HH:mm:ss'}}</td>
            <td>
              <!-- <a ui-sref="alumni.sadminedit({ person:_id })"> -->
              <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="EditData(person._id);">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <!-- </a> -->
              <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="showData(person._id);">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
              <button type="button" title="Delete" class="remove-news btn btn-xs btn-default" ng-click="SadminController1.deleteSuperadmin(person.username);">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>   
          </tr>
        </tbody> 
      </table>

    </div>
  </div>
</div>
</div>

</div>
</div>
</div>