<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title"></h4>
   </div>
   <div class="modal-body">
    <form class="form-horizontal">

        <div class="box box-info">
          <div class="box-header">
            <h3 class="box-title">Account</h3>
          </div>
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-code"></i> Nim</span>
              <input ng-model="superadmin.nim" type="text" name="nim" id="nim" class="form-control" placeholder="Nim" readonly>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-user"></i> Username</span>
              <input ng-model="superadmin.username" type="text" name="username" id="username" class="form-control" placeholder="Username" readonly>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-users"></i> Level</span>
              <input ng-model="superadmin.level" name="password" id="password" class="form-control" placeholder="Level" readonly>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-users"></i> Active</span>
              <input ng-model="superadmin.active" name="password" id="password" class="form-control" placeholder="active" readonly>
            </div>
            <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-calendar"></i> Date Created</span>
                <input type="date" class="form-control" placeholder="Date" id="hp" name="hp" ng-model="created_at" readonly>
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-calendar"></i> Time Created</span>
                <input type="time" class="form-control" placeholder="Date" id="hp" name="hp" ng-model="created_at" readonly>
              </div>
              <br/>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>