
<div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">


<div class="panel panel-default">
  <form name="regForm" ng-submit="SadminNewController1.signup(sgnData, nim);">
      <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title">Create Account</h3>
            
              
              <div class="box-body">
                <div class="row">
                  
                

          
        
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
        

              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input ng-model="SadminNewController1.sgnData.username" ng-blur="SadminNewController1.checkUsername(sgnData)" type="text" name="username" id="username" class="form-control" placeholder="Username" required>
              </div>
              <br/>
             <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                <input ng-model="SadminNewController1.sgnData.password" type="password" name="password" id="password" class="form-control" placeholder="Password" required>
              </div>
              <br/>
           
        </div><!--/.col (left) -->


        <!-- right column -->
        <div class="col-md-6">
        
              <div class="input-group">
                 <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <div class="form-group">
                  <select class="form-control" ng-model="SadminNewController1.sgnData.level" name="level" id="level" required>
                    <option value="">-- SELECT LEVEL AKSES --</option>
                    <option value="SUPERADMIN" >SUPERADMIN</option>
                    <option value="ADMIN" >ADMIN</option>
                  </select>
                </div>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <div class="form-group">
                  <select class="form-control" value="Admin" name="level" id="level" ng-model="nim" required>
                    <option value="">-- SELECT NIM --</option>
                    <option ng-repeat="data in SadminNewController1.cralumnisx | orderBy: 'mhsNiu'" value="{{data.mhsNiu}}" >{{data.mhsNiu}} - {{data.mhsNama}}</option>
                  </select>
                </div>
              </div>
              <br/>
              <div class="input-group" ng-show="nim">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input ng-model="nim" ng-blur="SadminNewController1.checkNim(sgnData)" type="text" name="nim" id="nim" class="form-control" placeholder="NIM" required readonly>
              </div>
            
          <br>
          <span class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-danger btn-filter" title="Back" ng-click="go('alumni/sadmin')"><i class="fa fa-arrow-left"></i> Back</button>
              <button type="reset" class="btn btn-warning btn-filter" title="Refress"><i class="fa fa-refres"></i> Reset</button>
              <button type="submit" class="btn btn-success btn-filter" title="Create"><i class="fa fa-arrow-right"></i> Create</button>
              </div>


            <!-- <button type="reset" class="btn btn-sm btn-warning">
              <i class="fa fa-refres"></i> Reset
            </button>
            <button type="submit" class="btn btn-sm btn-success">
              <i class="fa fa-arrow-right"></i> Create
            </button> -->
          </span>
        </div><!--/.col (right) -->
      </div>   <!-- /.row -->
    </section><!-- /.content -->
    <br>
  </form>
</div>

</div></div>




