<!-- TEST -->
  <link href="public/vendor/survey/select2.min.css" rel="stylesheet" />
<link href="public/vendor/survey/surveyeditor.css" type="text/css" rel="stylesheet" />
   <script src="public/vendor/survey/knockout-min.js"></script>
   <script src="public/vendor/survey/survey.ko.js"></script>
   <script src="public/vendor/survey/ace.min.js"></script>
   <script src="public/vendor/survey/worker-json.js"></script>
   <script src="public/vendor/survey/mode-json.js"></script>
   <script src="public/vendor/survey/select2.min.js"></script>
   <script src="public/vendor/survey/surveyeditor.js"></script>
  <!--   // <script src="https://unpkg.com/nouislider@9.2.0"></script>
    //     <script src="https://unpkg.com/wnumb@1.1.0"></script>
    //     <link href="https://unpkg.com/nouislider@9.2.0/distribute/nouislider.min.css" rel="stylesheet"/>
    //     <script src="https://unpkg.com/surveyjs-widgets"></script> -->

<!-- //TEST -->
<div class="app-media">
 <div class="page bg-white animsition">

  <!-- Media Content -->
  <div class="page-main">

    <!-- Media Content Header -->
    <div class="page-header">
      <h1 class="page-title">Add Survey Alumni
        <div class="pull-right">
          <button class="btn btn-danger" ng-click="go('alumni/alumni-survey')">Back</button>
        </div>
      </h1>
      
      <hr>
      <form class="form-horizontal">
        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
              <input ng-model="judul" type="text" name="judul" id="judul" class="form-control" placeholder="judul" required>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-list"></i></span>
              <textarea class="form-control" style="color:black; height:35px;" ng-model="deskripsi" id="postings" name="postings" placeholder="Deskripsi" required></textarea>
            </div>
          </div><br>
          <div class="col-md-12">
            <div id="surveyContainer">
            <div id="editorElement"></div>  
            </div>
          </div>
        </div></br>
        <!-- {{survey.options}} -->
      
     
      <!-- <div class="pull-right">
        <button type="submit" ng-click="add(survey)" ng-hide="hide === true" class="btn btn-success btn-filter">Create</button>
        <button type="submit" ng-click="Edits(survey)" ng-show="hide === true" class="btn btn-success btn-filter">Edit</button>
      </div> -->
    </form>  

    <hr><br>
</div>


</div>

</div>