
 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Hasil Survey Alumni
          <!-- <div class="pull-right">
            <button class="btn btn-success" ng-click="gotosref('alumni/add-survey')">Add survey</button>
            <button class="btn btn-primary" ng-click="gotosref('alumni/hasil-survey-alumni')">Results Surveys</button>
          </div> -->
        </h3>
      </div><div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">               
          <table datatable="ng" dt-instance="dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>No.</th>
                <th>Nim</th>
                <th>Nama</th>
                <th>Created Date</th>
                <th>Created Time</th>
                <th>Tools</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="survey in HasilArray">
                <td>{{$index + 1}}</td>
                <td>{{survey.nim}}</td>
                <td>{{survey.addby}}</td>
                <td>{{survey.created_at | date:'yyyy-MM-dd'}}</td>
                <td>{{survey.created_at | date: 'HH:mm:ss'}}</td>
                <td>
                  <!-- </a> -->
                  <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Statistik" ng-click="gotosref('alumni/hasil-survey-alumni/alumni/'+ survey.nim +'/'+ survey._id +'')">
                    <span class="fa fa-bar-chart"></span>
                  </button>
                  <!-- <button type="button" title="Delete" class="remove-news btn btn-xs btn-default" ng-click="deletes(survey._id);">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button> -->
                  <!-- <button type="button" title="Show Chart" class="remove-news btn btn-xs btn-default" ng-click="go('alumni/survey-alumni/'+ survey._id +'/'+ survey.urlslug +'')">
                    <span class="fa fa-bar-chart"></span>
                  </button> -->
                </td>   
              </tr>
            </tbody> 
          </table>

        </div>
      </div>
    </div>
  </div><br><br>

<!--   <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Pie Chart Data Survey Alumni
        </h3>
      </div>
      <div class="row">
      <div class="col-xs-12">
          <nvd3 options="options" data="data"></nvd3>
      </div>
      </div>
  </div> -->

</div>


<!-- Forum Content -->


</div>


<!-- 
<div class="site-action">
  <button type="button" ng-click="dtEventAdd.showNewData()" class="site-action-toggle btn-raised btn btn-success btn-floating">
    <i class="front-icon md-upload animation-scale-up" aria-hidden="true"></i>
    <i class="back-icon md-close animation-scale-up" aria-hidden="true"></i>
  </button>
</div> -->

</div>