<div class="modal" role="dialog" id="lookData">
  <!-- Large modal -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <button class="close" ng-click="lookData.hide()" type="button">x</button>
       <h4 class="modal-title">List Confirmation Alumni</h4>
     </div>
     <div class="modal-body">
       <!-- Media Content -->
       <div class="page-main">

        <!-- Media Content Header -->
        <div class="page-header">
          <div class="page-header-actions">
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="search" ng-model="Search_List" placeholder="Search_List...">
            </div>
          </form>
        </div>
      </div>

      <!-- Media Content -->
      <div class="page-content page-content-table" data-selectable="selectable">
        <!-- Media -->
        <div class="media-list is-grid">
          <ul class="blocks blocks-100 blocks-xlg-4 blocks-lg-3 blocks-md-3 blocks-ms-2 blocks-xs-2" data-plugin="animateList" data-child=">li">
            <div class="widget-content padding-horizontal-20">
              <ul class="list-group list-group-full list-group-dividered">
                
                <li class="list-group-item" dir-paginate="AlumniCF in ResArray | orderBy:'created_at':true | filter:Search_List | itemsPerPage: pageSize" pagination-id="paginate17" current-page="currentPage">
                  <div class="media">
                    <div class="media-left">
                      <a class="img-thumbnail" href="javascript:void(0)">
                        <img style="width:100px; height:65px" ng-src="{{AlumniCF.urlimgs}}"
                        alt="...">
                      </a>
                    </div>

                    <div class="media-body">
                      <h4 class="media-heading">{{AlumniCF.nama}}</h4>
                      <small>{{AlumniCF.nim}}</small>
                    </div>
                    <div class="media-right">
                      <a href="javascript:void(0)" ng-click="CFAlmYes(AlumniCF._id, AlumniCF.nim)"><button type="submit" class="btn btn-success btn-filter">Confirm</button></a>
                    </div>
                    <div class="media-right">
                      <a href="javascript:void(0)" ng-click="CFAlmNo(AlumniCF._id)"><button type="submit" class="btn btn-danger btn-filter">UnConfirm</button></a>
                    </div>
                  </div>
                </li>

              </ul>
              <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginate17" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center> 
              
            </div>
          </ul>
          
        </div>
      </div>
    </div>
  </div>

</div>


</div>

</div>
</div>

</div>