<div class="dashboard">
 <!-- Page -->
 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
      <div class="col-lg-4 col-sm-6">
        <!-- Widget Linearea One-->




        <div class="widget widget-shadow" id="widgetLineareaOne">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
              <div class="clearfix">
                <div class="grey-800 pull-left padding-vertical-10">
                  <i class="fa fa-group grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>
                   Keseluruhan Groups
                  <!-- <span>{{not1}}</span> -->
                </div><br>
                <div class="margin-bottom-25 grey-500"></div>
                <div class="margin-bottom-5 grey-500">
                  <i class="icon md-long-arrow-down red-500 font-size-23" ng-show="DtGroup.length <= 20"></i>
                  <i class="icon md-long-arrow-up green-500 font-size-25" ng-show="DtGroup.length >= 21"></i>
                  {{DtGroup.length}} Data
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Widget Linearea One -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <!-- Widget Linearea Two -->
        <div class="widget widget-shadow" id="widgetLineareaTwo">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
              <div class="clearfix">
                <div class="grey-800 pull-left padding-vertical-10">
                  <i class="icon md-file grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>Keseluruhan Berita Loker
                </div><br>
                <div class="margin-bottom-25 grey-500"></div>
                <div class="margin-bottom-5 grey-500">
                  <i class="icon md-long-arrow-down red-500 font-size-23" ng-show="DtNewss.length <= 20"></i>
                  <i class="icon md-long-arrow-up green-500 font-size-25" ng-show="DtNewss.length >= 21"></i>
                  {{DtNewss.length}} Data
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Widget Linearea Two -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <!-- Widget Linearea Three -->
        <div class="widget widget-shadow" id="widgetLineareaThree">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
              <div class="clearfix">
                <div class="grey-800 pull-left padding-vertical-10">
                  <i class="icon md-chart grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>Keseluruhan Berita Harian
                </div><br>
                <div class="margin-bottom-25 grey-500"></div>
                <div class="margin-bottom-5 grey-500">
                  <i class="icon md-long-arrow-down red-500 font-size-23" ng-show="DtTdyNewss.length <= 20"></i>
                  <i class="icon md-long-arrow-up green-500 font-size-25" ng-show="DtTdyNewss.length >= 21"></i>
                  {{DtTdyNewss.length}} Data
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Widget Linearea Three -->
      </div>
      <div class="col-lg-4 col-sm-6">
        <!-- Widget Linearea Four -->
        <div class="widget widget-shadow" id="widgetLineareaFour">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
              <div class="clearfix">
                <div class="grey-800 pull-left padding-vertical-10">
                  <i class="icon md-accounts-outline grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>Keseluruhan Forums
                </div><br>
                <div class="margin-bottom-25 grey-500"></div>
                <div class="margin-bottom-5 grey-500">
                  <i class="icon md-long-arrow-down red-500 font-size-23" ng-show="DtForum.length <= 20"></i>
                  <i class="icon md-long-arrow-up green-500 font-size-25" ng-show="DtForum.length >= 21"></i>
                  {{DtForum.length}} Data
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Widget Linearea Four -->
      </div>

      <div class="col-lg-4 col-sm-6">
        <!-- Widget Linearea Four -->
        <div class="widget widget-shadow" id="widgetLineareaFour">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
              <div class="clearfix">
                <div class="grey-800 pull-left padding-vertical-10">
                  <i class="icon md-accounts-outline grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>Keseluruhan Data Cron Lulusan
                </div><br>
                <div class="margin-bottom-25 grey-500"></div>
                <div class="margin-bottom-5 grey-500">
                  <i class="icon md-long-arrow-down red-500 font-size-23" ng-show="DtCralm.length <= 20"></i>
                  <i class="icon md-long-arrow-up green-500 font-size-25" ng-show="DtCralm.length >= 21"></i>
                  {{DtCralm.length}} Data
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Widget Linearea Four -->
      </div>

     <!--  <div class="col-lg-4 col-sm-6">
        <div class="widget widget-shadow" id="widgetLineareaFour">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
              <div class="clearfix">
                <div class="grey-800 pull-left padding-vertical-10">
                  <i class="icon md-accounts-outline grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>Keseluruhan Data Scraping
                </div><br>
                <div class="margin-bottom-25 grey-500"></div>
                <div class="margin-bottom-5 grey-500">
                  <i class="icon md-long-arrow-down red-500 font-size-23" ng-show="DtScraps.length <= 20"></i>
                  <i class="icon md-long-arrow-up green-500 font-size-25" ng-show="DtScraps.length >= 21"></i>
                  {{DtScraps.length}} Data
                </div>
              </div>
            </div>
          </div>
        </div>
         </div> -->

      <div class="col-lg-4 col-sm-6">
        <!-- Widget Linearea Four -->
        <div class="widget widget-shadow" id="widgetLineareaFour">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
              <div class="clearfix">
                <div class="grey-800 pull-left padding-vertical-10">
                  <i class="icon md-accounts-outline grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>Keseluruhan Data Event
                </div><br>
                <div class="margin-bottom-25 grey-500"></div>
                <div class="margin-bottom-5 grey-500">
                  <i class="icon md-long-arrow-down red-500 font-size-23" ng-show="DtEvent.length <= 20"></i>
                  <i class="icon md-long-arrow-up green-500 font-size-25" ng-show="DtEvent.length >= 21"></i>
                  {{DtEvent.length}} Data
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Widget Linearea Four -->
      </div>

      <!-- <div class="clearfix"></div>
 -->
      

   <!-- <div class="col-xlg-7 col-md-12">
        <div class="widget widget-shadow">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
             <div class="clearfix">
              <div class="grey-800 pull-left padding-vertical-10">
                <i class="icon md-google-maps grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>
                Daerah Pekerjaan Alumni
              </div>
            </div>
          </div>
          <div class="height-450">
            <div class="row">
    <nvd3 options="options" data="data"></nvd3>
  </div> 
        </div>
      </div>
    </div>
  </div> -->


<div class="clearfix"></div>
      <div class="col-xlg-7 col-md-7">
        <!-- Widget Jvmap -->
        <div class="widget widget-shadow">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
             <div class="clearfix">
              <div class="grey-800 pull-left padding-vertical-10">
                <i class="icon md-google-maps grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>
                Daerah Pekerjaan Alumni
              </div>
            </div>
          </div>
          <div class="height-450">
            <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" options="{scaleControl: true}" event-ready="onMapReady($ngMap)">
              <ng-map id="map" zoom="5" center="-7.2574719, 112.75208829999997" default-style="false" style="background-size: cover; height:440px;">
              <marker ng-repeat="trace in DTDashboardController1.DtPekerjaan" position="{{trace.lat}}, {{trace.lng}}" title="{{trace.nama}}">
              </marker>

            </ng-map>
          </div>   
        </div>
      </div>
    </div>
    <!-- End Widget Jvmap -->
  </div>

  <div class="col-xlg-5 col-md-5">
          <div class="widget widget-shadow">
          <div class="padding-20 padding-top-10">
             <div class="clearfix">
               <div class="grey-800 pull-left padding-vertical-10">
                <i class="icon md-view-list grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>
                All Report Data Meeting
              </div>
                  <form>
              <div class="input-search input-search-dark">
                <i class="input-search-icon wb-search" aria-hidden="true"></i>
                <input type="text" class="form-control" name="" placeholder="Search..." ng-model="search">
              </div>
            </form>
             </div> 
          </div>
          <hr>
            <div class="widget-content padding-horizontal-20">
              <ul class="list-group list-group-full list-group-dividered">
                <li class="list-group-item" dir-paginate="dtmoms in DtMom | filter:search |orderBy:'created_at':true | itemsPerPage: pageSizedtMOM" pagination-id="paginate16" current-page="currentPagedtMOM">
                  <div class="media">
                    <div class="media-left">
                      <i><span class="fa fa-file-pdf-o fa-2x"></span></i>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{dtmoms.judul}}</h4>
                      <span class="fa fa-tags"><small> {{dtmoms.tag}}</small></span>
                    </div>
                    <div class="media-right">
                      <a href="javascript:void(0)" style="color:black" ng-click="Show(dtmoms._id)"><i><span class="fa fa-eye fa-2x"></span></i></a>
                    </div>
                  </div>
                </li>
              </ul>
               <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginate16"  template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center> 
          
            </div>
          </div>
          <!-- End Widget User list -->
        </div>
          </div>
        </div>



</div>
</div>
