<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Result Data Cron Job Alumni</h4>
   </div>
   <div class="modal-body">
    <form class="form-horizontal">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-code"></i> NIM</span>
              <input ng-model="cralmone.mhsNiu" type="text" class="form-control" placeholder="NIM" readonly>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-user"></i> NAMA</span>
              <input ng-model="cralmone.mhsNama" class="form-control" placeholder="Nama" readonly>
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-code-fork"></i> KODE PRODI</span>
                <input ng-model="cralmone.mhsProdiKode" type="text" class="form-control" placeholder="lokasi" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-university"></i> NAMA PRODI</span>
                <input type="text" class="form-control" placeholder="Gajih" ng-model="cralmone.prodiNamaResmi" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-crosshairs"></i> ANGKATAN</span>
                <input type="text" class="form-control" placeholder="Addby" ng-model="cralmone.mhsAngkatan" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-calendar"></i> TANGGAL LULUS</span>
                <input type="date" class="form-control" placeholder="Create At" ng-model="tanggallls" readonly>
              </div>
              <br/>
              <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-bullseye"></i> PRODI INFO</span>
              <input type="text" class="form-control" ng-model="cralmone.prodi_info" readonly></input>
              </div>
              <br/>
              <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-user"></i> DOSEN PEMBIMBING</span>
              <input type="text" class="form-control" ng-model="cralmone.dosen_pa" readonly></input>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-bolt"></i> NIP DOSEN</span>
                <input type="text" class="form-control" ng-model="cralmone.nip_pa" readonly>
              </div>
              <br/>
           













            
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-user"></i> JENIS KELAMIN</span>
                <input type="text" class="form-control" ng-model="cralmone.mhsJenisKelamin" readonly>
              </div>
              <br/><div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-map-marker"></i> TEMPAT LAHIR</span>
                <input type="text" class="form-control" ng-model="cralmone.tempatLahir" readonly>
              </div>
              <br/><div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-calendar"></i> TANGGAL LAHIR</span>
                <input type="date" class="form-control" ng-model="tanggallahir" readonly>
              </div>
              <br/><div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-lightbulb-o"></i> AGAMA</span>
                <input type="text" class="form-control" ng-model="cralmone.agmrNama" readonly>
              </div>
              <br/><div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-group"></i> JML SAUDARA</span>
                <input type="text" class="form-control" ng-model="cralmone.mhsJumlahSaudara" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-map-marker"></i> ALAMAT MHS</span>
                <textarea ng-model="cralmone.mhsAlamatMhs" class="form-control" readonly></textarea>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-phone-square"></i> NO HP</span>
                <input type="text" class="form-control" ng-model="cralmone.mhsNoHp" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-globe"></i> EMAIL</span>
                <input type="text" class="form-control" ng-model="cralmone.mhsEmail" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-gear"></i> STATUS</span>
                <input type="text" class="form-control" ng-model="cralmone.status" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-calendar"></i> CREATED AT</span>
                <input type="date" class="form-control" ng-model="created_at" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-clock-o"></i> TIME AT</span>
                <input type="time" class="form-control" placeholder="Date Off" id="hp" name="hp" ng-model="created_at" readonly>
              </div>
              <br/>
            
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>''