
 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

<div class="panel panel-default">
  <div class="panel-heading">
              <h3 class="panel-title">
                Data Cron Job Alumni
                <span class="pull-right"><button class="btn btn-success" ng-click="Add();">Create</button></span>
              </h3>
            </div>
<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">               
      <table datatable="ng" dt-instance="DtCj.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nim</th>
            <th>Nama</th>
            <th>Prodi Kode</th>
            <th>Nama Prodi</th>
            <th>Angkatan</th>
            <th>Tanggal Lulus</th>
            <th>Jenis Kelamin</th>
            <th>Tempat Lahir</th>
            <th>Tanggal Lahir</th>
            <th>Agama</th>
            <th>Status Data</th>
            <th>Created Date</th>
            <th>Created Time</th>
            <th>Tools</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="cralms in DtCj.CjCr">
            <td>{{$index + 1}}</td>
            <td>{{cralms.mhsNiu}}</td>
            <td>{{cralms.mhsNama}}</td>
            <td>{{cralms.mhsProdiKode}}</td>
            <td>{{cralms.prodiNamaResmi}}</td>
            <td>{{cralms.mhsAngkatan}}</td>
            <td>{{cralms.mhsTanggalLulus | date:'yyyy-MM-dd'}}</td>
            <td>{{cralms.mhsJenisKelamin}}</td>
            <td>{{cralms.tempatLahir}}</td>
            <td>{{cralms.mhsTanggalLahir | date:'yyyy-MM-dd'}}</td>
            <td>{{cralms.agmrNama}}</td>
            <td>{{cralms.status}}</td>
            <td>{{cralms.created_at | date:'yyyy-MM-dd'}}</td>
            <td>{{cralms.created_at | date: 'HH:mm:ss'}}</td>
            <td>
              <!-- <a ui-sref="alumni.sadminedit({ cralms:_id })"> -->
              <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="EditData(cralms._id);">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <!-- </a> -->
              <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="showData(cralms._id);">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
              <button type="button" title="Delete" class="remove-news btn btn-xs btn-default" ng-click="DtCj.delete(cralms._id);">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>   
          </tr>
        </tbody> 
      </table>

    </div>
  </div>
</div>
</div>

</div>
</div>
</div>