<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Create Data Berita Pekerjaan</h4>
   </div>
   <div class="modal-body">
   <form class="form-horizontal" ng-submit="DtCj.Create(DataCr);">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">

             <div class="row">
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-code"></i></span>
                
                <input ng-model="DtCj.DataCr.mhsNiu" type="text" pattern="[0-9]*" minlength="9" maxlength="11" name="mhsNiu" id="mhsNiu" class="form-control" placeholder="Nim" required>
              </div>
              </div>
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input ng-model="DtCj.DataCr.mhsNama" type="text" name="mhsNama" id="mhsNama" class="form-control" placeholder="Nama" required>
              </div>
              </div>
              </div>
              <br/>

              <div class="row">
              <div class="col-xs-6 col-sm-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <select ng-model="DtCj.DataCr.mhsJenisKelamin" name="mhsJenisKelamin" id="mhsJenisKelamin" class="form-control" placeholder="Jenis Kelamin" required>
                  <option value="">--- Jenis Kelamin ---</option>
                  <option value="Laki-laki">Laki - Laki</option>
                  <option value="Perempuan">Perempuan</option>

                </select>
              </div>
              </div>
              </div>
              <br/>

              <div class="row">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-road"></i></span>
                    <input ng-model="DtCj.DataCr.tempatLahir" type="text" name="tempatLahir" id="tempatLahir" class="form-control" placeholder="Tempat Lahir" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                    <input ng-model="DtCj.DataCr.mhsTanggalLahir" type="date" name="mhsTanggalLahir" id="mhsTanggalLahir" class="form-control" placeholder="Tanggal Lahir" required>
                  </div>
                </div>
              </div>
              <br>

              <div class="row">
              <div class="col-xs-6 col-sm-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-road"></i></span>
                <textarea class="form-control" ng-model="DtCj.DataCr.mhsAlamatMhs" id="mhsAlamatMhs" name="mhsAlamatMhs" placeholder="Alamat Mahasiswa" required></textarea>
              </div>
              </div>
              </div>
              <br/>

              <div class="row">
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-bolt"></i></span>
                <select ng-model="DtCj.DataCr.agmrNama" name="agmrNama" id="agmrNama" class="form-control" placeholder="Agama" required>
                  <option value="">--- Pilih Agama ---</option>
                  <option value="Islam">Islam</option>
                  <option value="Keristen">Keristen</option>
                  <option value="Budha">Budha</option>
                  <option value="Hindu">Hindu</option>
                </select>
              </div>
              </div>
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <input ng-model="DtCj.DataCr.mhsJumlahSaudara" type="number" min="1" max="15" name="mhsJumlahSaudara" id="mhsJumlahSaudara" class="form-control" placeholder="Jumlah Saudara" required>
              </div>
              </div>
              </div>
              <br/>

              <div class="row">
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                <input ng-model="DtCj.DataCr.mhsNoHp" type="text"  pattern="[0-9]*" minlength="11" maxlength="12" name="mhsNoHp" id="mhsNoHp" placeholder="No Hp" class="form-control" required>
              </div>
              </div>
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input ng-model="DtCj.DataCr.mhsEmail" type="email" name="mhsEmail" id="mhsEmail" placeholder="Email Mhs" class="form-control" required>
              </div>
              </div>
              </div>
              <br/>

              <div class="row">
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-info-circle"></i></span>
                <input ng-model="DtCj.DataCr.mhsAngkatan" type="text"  pattern="[0-9]*" minlength="4" maxlength="6" name="mhsAngkatan" id="mhsAngkatan" class="form-control" placeholder="Angkatan" required>
              </div>
              </div>
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input ng-model="DtCj.DataCr.mhsTanggalLulus" type="date" name="mhsTanggalLulus" id="mhsTanggalLulus" class="form-control" min="{{'2000-01-01' | date:'yyyy-MM-dd'}}" placeholder="Tanggal Lulus" required>
              </div>
              </div>
              </div>
              <br/>

              <div class="row">
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-code"></i></span>
                <input ng-model="DtCj.DataCr.nip_pa" type="text" pattern="[0-9]*" minlength="16" maxlength="22" name="nip_pa" id="nip_pa" class="form-control" placeholder="Nip Dosen Pembimbing Akademik" required>
              </div>
              </div>
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input ng-model="DtCj.DataCr.dosen_pa" placeholder="Nama Dosen Pembimbing Akademik" type="text" name="dosen_pa" id="dosen_pa" class="form-control" required>
              </div>
              </div>
              </div>
              <br/>
 
              <div class="row">
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-code"></i></span>
                <input ng-model="DtCj.DataCr.mhsProdiKode" type="number" min="3" max="4" name="mhsProdiKode" id="mhsProdiKode" ng-value="'705'" class="form-control" readonly required>
              </div>
              </div>
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-university"></i></span>
                <input ng-model="DtCj.DataCr.prodiNamaResmi" type="text" name="prodiNamaResmi" id="prodiNamaResmi" class="form-control" ng-value="'TEKNIK INFORMATIKA'" readonly required>
              </div>
              </div>
              </div>
              <br/>
              <div class="row">
                 <div class="col-xs-6 col-sm-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-university"></i></span>
                <input ng-model="DtCj.DataCr.prodi_info" type="text" name="prodi_info" id="prodi_info" class="form-control" ng-value="'TEKNIK INFORMATIKA - S1 Reguler'" readonly required>
              </div>
              </div>
              </div>
              <br>
            <span class="pull-right">
            <button type="submit" class="btn btn-sm btn-success">
              <i class="fa fa-arrow-right"></i> Create
            </button>
          </span>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>

