<div class="app-media">
 <div class="page bg-white animsition">

  <!-- Media Content -->
  <div class="page-main">

    <!-- Media Content Header -->
      <div class="page-header">
        <h1 class="page-title">Add Berita Event</h1>
        <hr>
         

        <form class="form-horizontal" ng-submit="dtEventAdd.Add(evnt)">
          <div class="row">
            <div class="col-xs-6 col-sm-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                <input ng-model="dtEventAdd.evnt.judul" type="text" name="judul" id="judul" class="form-control" placeholder="judul" required>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                <input ng-model="dtEventAdd.evnt.bidang" type="text" name="bidang" id="bidang" class="form-control" placeholder="tag" required>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-image-o"></i></span>
                <input type="url" ng-model="dtEventAdd.evnt.imgs" name="imgs" id="imgs" class="form-control" placeholder="Url Gambar" required>
              </div>
            </div>
          </div></br>
      
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
            <div text-angular ng-model="dtEventAdd.evnt.htmlContent" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around" required></div>
          </div>
          <br>
          
          <div class="row">
              <div class="col-xs-6 col-sm-12" style="color:black;">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-check-square"><h6>RAW:</h6></i></span>
                  <textarea class="form-control" style="color:black; height:65px;" ng-model="dtEventAdd.evnt.htmlContent" id="postings" name="postings" placeholder="Deskripsi" disabled></textarea>
                </div>
              </div>
          </div>
          <br>
          <button type="submit" class="btn btn-success btn-filter">Create</button>
          <button type="submit" class="btn btn-danger btn-filter" ng-click="go('/alumni/news-events')">Back</button>

       </form>  
      
          <hr>
      </div>


  
    <!-- Forum Content -->
</div>


<!-- 
<div class="site-action">
  <button type="button" ng-click="dtEventAdd.showNewData()" class="site-action-toggle btn-raised btn btn-success btn-floating">
    <i class="front-icon md-upload animation-scale-up" aria-hidden="true"></i>
    <i class="back-icon md-close animation-scale-up" aria-hidden="true"></i>
  </button>
</div> -->

</div>