<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Lihat Data Berita Harian</h4>
   </div>
   <div class="modal-body">
    <form class="form-horizontal">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            <div class="input-group">                
              <img ng-src="{{gambar}}" class="img-thumbnail" style="align:right;">
            </div>
            <br/>

            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-file"></i> Judul</span>
              <input ng-model="berita.judul" type="text" name="judul" id="judul" class="form-control" placeholder="judul" readonly>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-list-alt"></i> Deskripsi</span>
              <h5 ta-bind="text" ng-model="berita.postings"></h5>
            </div>
              <br/>
        
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-tag"></i> Tag</span>
                <input type="text" class="form-control" placeholder="Tag" id="hp" name="hp" ng-model="berita.tag" readonly>
              </div>
              <br/>

              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-user"></i> Addby</span>
                <input type="text" class="form-control" placeholder="Addby" id="hp" name="hp" ng-model="berita.addby" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-user"></i> Nim</span>
                <input type="text" class="form-control" placeholder="Addby" id="hp" name="hp" ng-model="berita.nim" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-calendar"></i> Created At</span>
                <input type="date" class="form-control" placeholder="Create At" id="hp" name="hp" ng-model="created_at" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-calendar"></i> Time At</span>
                <input type="time" class="form-control" placeholder="Create At" id="hp" name="hp" ng-model="created_at" readonly>
              </div>
              <br/>
             
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>''