
 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

<div class="panel panel-default">
  <div class="panel-heading">
              <h3 class="panel-title">
                Data Forums Add By Superadmin And Admin
              </h3>
            </div><div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">               
      <table datatable="ng" dt-instance="DtForums.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
        <thead>
          <tr>
                  <th>No.</th>
                  <th>Judul</th>
                  <th>Tag</th>
                  <th>AddBy</th>
                  <th>Nim</th>
                  <th>Date Created</th>
                  <th>Time Created</th>
                  <th><button type="button" ng-click="go('alumni/forums/new')" class="btn btn-sm btn-success" title="Add New"><i class="glyphicon glyphicon-plus"></i> Add new</button></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="frAlm in DtForums.OPTforum |orderBy:'created_at':true">
                  <td>{{$index + 1}}</td>
                  <td>{{frAlm.judul}}</td>
                  <td>{{frAlm.tag}}</td>
                  <td>{{frAlm.addby}}</td>
                  <td>{{frAlm.nim}}</td>
                  <td>{{frAlm.created_at | date:'yyyy-MM-dd'}}</td>
                  <td>{{frAlm.created_at | date: 'HH:mm:ss'}}</td>
                  <td>
                     <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="go('alumni/forums/edit/'+ frAlm._id +'/'+ frAlm.urlslug +'')">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <!-- </a> -->
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="showData(frAlm._id);">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Delete" ng-click="DtForums.deleteData(frAlm._id)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <!-- <a ui-sref="alumni.sadminedit({ person:_id })"> -->
                    <!-- <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read Comment" ng-click="showDataComments(frAlm._id)">
                      <span class=" fa fa-comments-o"></span>
                    </button> -->
                  </td>   
                </tr>
        </tbody> 
      </table>

    </div>
  </div>
</div>
</div>

</div>
</div>
</div>


 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

<div class="panel panel-default">
  <div class="panel-heading">
              <h3 class="panel-title">
                Data Forums Add By Alumni
              </h3>
            </div><div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">               
      <table datatable="ng" dt-instance="DtForums.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
        <thead>
    <tr>
                  <th>No.</th>
                  <th>Judul</th>
                  <th>Tag</th>
                  <th>AddBy</th>
                  <th>Nim</th>
                  <th>Date Created</th>
                  <th>Time Created</th>
                  <th>Tools</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="frAlm2 in DtForums.NotOPTforum |orderBy:'created_at':true">
                  <td>{{$index + 1}}</td>
                  <td>{{frAlm2.judul}}</td>
                  <td>{{frAlm2.tag}}</td>
                  <td>{{frAlm2.addby}}</td>
                  <td>{{frAlm2.nim}}</td>
                  <td>{{frAlm2.created_at | date:'yyyy-MM-dd'}}</td>
                  <td>{{frAlm2.created_at | date: 'HH:mm:ss'}}</td>
                  <td>
                      <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="go('alumni/forums/edit/'+ frAlm2._id +'/'+ frAlm2.urlslug +'')">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <!-- </a> -->
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="showData(frAlm2._id);">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Delete" ng-click="DtForums.deleteData(frAlm2._id)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <!-- <a ui-sref="alumni.sadminedit({ person:_id })"> -->
                    <!-- <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read Comment" ng-click="showDataComments(frAlm2._id)">
                      <span class=" fa fa-comments-o"></span>
                    </button> -->
                  </td>   
                </tr>
        </tbody> 
      </table>

    </div>
  </div>
</div>
</div>

</div>
</div>
</div>





