<div class="app-forum">
 <div class="page bg-white animsition">
 
 <div class="page-header">
        <h1 class="page-title">Edit Thread</h1>
        <hr>
        <img ng-src="{{DtFRM.imgs.slice(3)}}" class="width-full" style="height:255px;"/>
      <hr> 
         

        <form class="form-horizontal" ng-submit="editfrm(DtFRM, imgs)">

          <div class="row">
            <div class="col-xs-6 col-sm-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                <input ng-model="DtFRM.judul" type="text" name="judul" id="judul" class="form-control" placeholder="judul" required>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                <input ng-model="DtFRM.tag" type="text" name="tag" id="tag" class="form-control" placeholder="tag" required>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-image-o"></i></span>
                <input type="file" file-model="imgs" name="imgs" id="imgs" class="form-control" placeholder="Gambar">
              </div>
            </div>
          </div>
            
          <br>
      
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
            <div text-angular ng-model="DtFRM.postings" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around" required></div>
          </div>
          <br>
          <button type="submit" class="btn btn-success btn-filter">Edit</button>
          <hr> 
          <div class="row">
              <div class="col-xs-6 col-sm-12" style="color:black;">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-check-square"><h6>RAW:</h6></i></span>
                  <textarea class="form-control" style="color:black; height:65px;" ng-model="DtFRM.postings" id="postings" name="postings" placeholder="Deskripsi" disabled></textarea>
                </div>
              </div>
          </div>

       </form>  
      
          <hr>
      </div>



  <!-- Forum Content -->
  <div class="page-main">
    <!-- Forum Nav -->
    <div class="page-nav-tabs">
      <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
        <li class="active" role="presentation">
          <a data-toggle="tab" href="javascript:void(0)#forum-newest" aria-controls="forum-newest" aria-expanded="true"
          role="tab">Comments</a>
        </li>
      </ul>
    </div>

    <!-- Forum Content -->
    <div class="page-content tab-content page-content-table nav-tabs-animate">
      <div class="tab-pane animation-fade active">
        <table class="table is-indent">
          <tbody>
     
            <tr dir-paginate="CMNTFRMS in DataCMFRM |orderBy:'created_at':true| filter:search| itemsPerPage: pageSizeFRM" pagination-id="paginate21" current-page="currentPageFRM">
              <!-- <div><a href="javascript:void(0)" ng-show="tertunda" ng-click="setnew()" style="color:red">data baru {{difference}}</a></div> -->
              <td class="pre-cell"></td>
              <td class="cell-60 responsive-hide">
                <a href="javascript:void(0)">
                        <img style="width:50px; height:40px" ng-repeat="DatsCRALM in DATACRALM_ASLI" ng-show="DatsCRALM.mhsNiu === CMNTFRMS.nim" ng-src="{{DatsCRALM.urlimgs}}" alt="...">
                      </a>
                      <a href="javascript:void(0)">
                        <img style="width:50px; height:40px" ng-repeat="DatsALM in DATAALM_ASLI" ng-show="DatsALM.nim == CMNTFRMS.nim " ng-src="{{DatsALM.urlimgs}}" alt="...">
                </a>
              </td>
              <td>
                <div class="content">
                  <div class="title">
                    <div><h5 ng-bind-html="CMNTFRMS.post" ng-model="CMNTFRMS.post"></h5></div>
                    <!-- <div class="flags responsive-hide">
                      <span class="sticky-top label label-round label-danger">TOP</span>
                      <i class="locked icon wb-lock" aria-hidden="true"></i>
                    </div> -->
                  </div>

              </div>
            </td>
            <td class="cell-100 forum-posts">
              <span class="date">{{CMNTFRMS.created_at | date:'yyyy-MM-dd'}}</span>
              <span class="date">{{CMNTFRMS.created_at | date: "HH:mm:ss"}}</span>
              <span class="unit">{{CMNTFRMS.nama}}</span>
            </td>
            <td class="suf-cell"><span class="fa fa-close" ng-click="delPost(CMNTFRMS._id)"></span></td>
          </tr>     
        </tbody>
      </table>
       <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginate21" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center>
        </div>

</div>
</div>
</div>
