<div class="app-forum">
 <div class="page bg-white animsition">
 
 <div class="page-header">
        <h1 class="page-title">Create Thread</h1>
        <hr>
           <form class="form-horizontal" ng-submit="newPost(judul,tag, imgs, htmlContent)">

          <div class="row">
            <div class="col-xs-6 col-sm-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                <input ng-model="judul" type="text" name="judul" id="judul" class="form-control" placeholder="judul" required>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                <input ng-model="tag" type="text" name="tag" id="tag" class="form-control" placeholder="tag" required>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-image-o"></i></span>
                <input type="file" file-model="imgs" name="imgs" id="imgs" class="form-control" placeholder="Gambar" required>
              </div>
            </div>
          </div></br>
      
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
            <div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around" required></div>
          </div>
          <br>
          <button type="submit" class="btn btn-success btn-filter">Create</button>
          <hr> 
          <div class="row">
              <div class="col-xs-6 col-sm-12" style="color:black;">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-check-square"><h6>RAW:</h6></i></span>
                  <textarea class="form-control" style="color:black; height:65px;" ng-model="htmlContent" id="postings" name="postings" placeholder="Deskripsi" disabled></textarea>
                </div>
              </div>
          </div>

       </form>  
      
          <hr>
      </div>
</div>
