
 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

<div class="panel panel-default">
  <div class="panel-heading">
              <h3 class="panel-title">
                Data Group Event Add By Superadmin And Admin
              </h3>
            </div><div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">               
      <table datatable="ng" dt-instance="DtGroup.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
        <thead>
          <tr>
                  <th>No.</th>
                  <th>Nama nama</th>
                  <th>Tag</th>
                  <th>AddBy</th>
                  <th>Nim</th>
                  <th>Date Created</th>
                  <th>Time Created</th>
                  <th><button type="button" ng-click="showDataCreate()" class="btn btn-sm btn-success" title="Add New"><i class="glyphicon glyphicon-plus"></i> Add new</button></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="GroupALm in DtGroup.OPTgroup |orderBy:'created_at':true">
                  <td>{{$index + 1}}</td>
                  <td>{{GroupALm.nama}}</td>
                  <td>{{GroupALm.tag}}</td>
                  <td>{{GroupALm.addby}}</td>
                  <td>{{GroupALm.nim}}</td>
                  <td>{{GroupALm.created_at | date:'yyyy-MM-dd'}}</td>
                  <td>{{GroupALm.created_at | date: 'HH:mm:ss'}}</td>
                  <td>
                   <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="showDataEdit(GroupALm._id)">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <!-- </a> -->
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="showData(GroupALm._id);">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Delete" ng-click="DtGroup.deleteData(GroupALm._id)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <!-- <a ui-sref="alumni.sadminedit({ person:_id })"> -->
                    <button type="button" data-placement="top" title="Anggota Group" class="btn btn-xs btn-default" ng-click="showDataAgt(GroupALm._id)">
                      <span class="fa fa-group"></span>
                    </button>
                    <!-- </a> -->
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Anggota Admin" ng-click="showDataAdm(GroupALm._id);">
                      <span class=" fa fa-child"></span>
                    </button>
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read Comment" ng-click="showDataComments(GroupALm._id)">
                      <span class=" fa fa-comments-o"></span>
                    </button>
                  </td>   
                </tr>
        </tbody> 
      </table>

    </div>
  </div>
</div>
</div>

</div>
</div>
</div>


 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

<div class="panel panel-default">
  <div class="panel-heading">
              <h3 class="panel-title">
                Data Group Event Add By Alumni
              </h3>
            </div><div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">               
      <table datatable="ng" dt-instance="DtGroup.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
        <thead>
    <tr>
                  <th>No.</th>
                  <th>Nama Group</th>
                  <th>Tag</th>
                  <th>AddBy</th>
                  <th>Nim</th>
                  <th>Date Created</th>
                  <th>Time Created</th>
                  <th>Tools</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="GroupALm1 in DtGroup.NotOPTgroup |orderBy:'created_at':true">
                  <td>{{$index + 1}}</td>
                  <td>{{GroupALm1.nama}}</td>
                  <td>{{GroupALm1.tag}}</td>
                  <td>{{GroupALm1.addby}}</td>
                  <td>{{GroupALm1.nim}}</td>
                  <td>{{GroupALm1.created_at | date:'yyyy-MM-dd'}}</td>
                  <td>{{GroupALm1.created_at | date: 'HH:mm:ss'}}</td>
                  <td>
                    <!-- <a ui-sref="alumni.sadminedit({ person:_id })"> -->
                    <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="showDataEdit(GroupALm1._id)">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <!-- </a> -->
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="showData(GroupALm1._id);">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Delete" ng-click="DtGroup.deleteData(GroupALm1._id)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <!-- <a ui-sref="alumni.sadminedit({ person:_id })"> -->
                    <button type="button" data-placement="top" title="Anggota Group" class="btn btn-xs btn-default" ng-click="showDataAgt(GroupALm1._id)">
                      <span class="fa fa-group"></span>
                    </button>
                    <!-- </a> -->
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Anggota Admin" ng-click="showDataAdm(GroupALm1._id);">
                      <span class=" fa fa-child"></span>
                    </button>
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read Comment" ng-click="showDataComments(GroupALm1._id)">
                      <span class=" fa fa-comments-o"></span>
                    </button>
                  </td>   
                </tr>
        </tbody> 
      </table>

    </div>
  </div>
</div>
</div>

</div>
</div>
</div>





