<div class="modal" role="dialog" id="lookData">
  <!-- Large modal -->
  


    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
         <button class="close" ng-click="lookData.hide()" type="button">x</button>
         <h4 class="modal-title">All Admin</h4>
       </div>

       <form class="form-horizontal">

         <div class="modal-body">







 <!-- Media Content -->
    <div class="page-main">

      <!-- Media Content Header -->
      <div class="page-header">
        <h1 class="page-title">Admin</h1>
        <div class="page-header-actions">
          <form>
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="search" ng-model="search" placeholder="Search...">
            </div>
          </form>
        </div>
      </div>

      <!-- Media Content -->
      <div class="page-content page-content-table" data-selectable="selectable">
        <!-- Media -->
        <div class="media-list is-grid">
          <ul class="blocks blocks-100 blocks-xlg-4 blocks-lg-3 blocks-md-3 blocks-ms-2 blocks-xs-2" data-plugin="animateList" data-child=">li">
            <div class="widget-content padding-horizontal-20">
              <ul class="list-group list-group-full list-group-dividered">
                
                <li class="list-group-item" dir-paginate="anggota in DataAdmGRP |orderBy:'created_at':true| filter:search| itemsPerPage: pageSizeGrpAGT" pagination-id="paginate19" current-page="currentPageGrpAGT" ng-hide="anggota.admin === false">
                 
                  <div class="media">
                    <div class="media-left">
                       <a href="javascript:void(0)">
                        <img style="width:50px; height:40px" ng-repeat="DatsCRALM in DATACRALM_ASLI" ng-show="DatsCRALM.mhsNiu === anggota.nim" ng-src="{{DatsCRALM.urlimgs}}" alt="...">
                      </a>
                      <a href="javascript:void(0)">
                        <img style="width:50px; height:40px" ng-repeat="DatsALM in DATAALM_ASLI" ng-show="DatsALM.nim == anggota.nim " ng-src="{{DatsALM.urlimgs}}" alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{anggota.nama}}</h4>
                    	<!-- <h4 class="media-heading">{{anggota._id}}</h4> -->
                    </div>
	                    <div class="media-right">
	                      <button type="submit" ng-click="DtGroup.delAdmn(anggota.nim, DtGrpID)" class="btn btn-danger btn-filter">Delete </button>
	                    </div>
	                	</div> 
                  </div>
                </li>
                
              </ul>

       <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginate19" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center>

            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>


      </div>
    </form>
    
  </div>
</div>

</div>