<div class="modal" role="dialog" id="lookData">
  <!-- Large modal -->
  


    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
         <button class="close" ng-click="lookData.hide()" type="button">x</button>
         <h4 class="modal-title">All Comments</h4>
       </div>

       <form class="form-horizontal">

         <div class="modal-body">







 <!-- Media Content -->
    <div class="page-main">

      <!-- Media Content Header -->
      <div class="page-header">
        <h1 class="page-title">Data Comment</h1>
        <div class="page-header-actions">
          <form>
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="search" ng-model="search" placeholder="Search...">
            </div>
          </form>
        </div>
      </div>

      <!-- Media Content -->
      <div class="page-content page-content-table" data-selectable="selectable">
        <!-- Media -->
        <div class="media-list is-grid">
          <ul class="blocks blocks-100 blocks-xlg-4 blocks-lg-3 blocks-md-3 blocks-ms-2 blocks-xs-2" data-plugin="animateList" data-child=">li">
            <div class="widget-content padding-horizontal-20">
              <ul class="list-group list-group-full list-group-dividered">
                
                <li class="list-group-item" dir-paginate="anggota in DataCMGRP |orderBy:'created_at':true| filter:search| itemsPerPage: pageSizeGrpAGT" pagination-id="paginate19" current-page="currentPageGrpAGT">
                 
                  <div class="media">
                    <div class="media-left">
                      <a href="javascript:void(0)">
                        <img style="width:50px; height:40px" ng-repeat="DatsCRALM in DATACRALM_ASLI" ng-show="DatsCRALM.mhsNiu === anggota.nim" ng-src="{{DatsCRALM.urlimgs}}" alt="...">
                      </a>
                      <a href="javascript:void(0)">
                        <img style="width:50px; height:40px" ng-repeat="DatsALM in DATAALM_ASLI" ng-show="DatsALM.nim == anggota.nim " ng-src="{{DatsALM.urlimgs}}" alt="...">
                      </a>
                  <!--     <div ng-show="(DtGrp.nim === anggota.nim) && (DtGrp.addby === 'SUPERADMIN' || 'ADMIN')">
                      <span class="label label-danger"><h3>{{DtGrp.addby}}</h3></span>
                      </div> -->
                    </div>
                    <div class="media-body">
                      <!-- <h4 class="media-heading">{{anggota.nama}}</h4> -->
                    	<!-- <h4 class="media-heading">{{anggota.nim}}</h4> -->
                      <h4 class="media-heading">{{anggota.post}}</h4>
                    </div>
	                    <!-- <div class="pull-right label label-danger">
	                        <span class="date">{{anggota.created_at | date:'yyyy-MM-dd'}}</span>
                          
                          <span class="date">{{anggota.created_at | date: "HH:mm:ss"}}</span>
                          
                          <span class="unit">{{anggota.nama}}</span>
	                    </div> -->
                      <div class="media-right">
                          <span class="date">{{anggota.created_at | date:'yyyy-MM-dd'}}</span>
                          
                          <span class="date">{{anggota.created_at | date: "HH:mm:ss"}}</span>
                      </div>
                      <div class="media-right">
                          <button type="button" class="btn btn-xs btn-default" title="Delete" ng-click="DelComment(anggota._id, DtGrpID);">
                            <span class=" fa fa-close fa-lg"></span>
                          </button>
                          <span class="unit">{{anggota.nama}}</span>
                      </div>
                  </div>
                </li>
                
              </ul>
       <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginate19" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center>



            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>


      </div>
    </form>
    
  </div>
</div>

</div>