<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Add Data Group</h4>
   </div>
   <div class="modal-body">
  <form class="form-horizontal" ng-submit="creatGrp(DataGRP, imgs)">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-file"></i> Nama Group</span>
              <input ng-model="DataGRP.nama" type="text" name="judul" id="judul" class="form-control" placeholder="judul" required>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-list-alt"></i> Keterangan Group</span>
              <textarea class="form-control" ng-model="DataGRP.deskripsi" name="deskripsi" id="deskripsi" placeholder="Deskripsi" required></textarea>
              </div>
              <br/>

              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-tag"></i> Tag</span>
                <input type="text" class="form-control" placeholder="Tag" id="hp" name="hp" ng-model="DataGRP.tag" required>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-image-o"></i></span>
                <input type="file" file-model="imgs" name="imgs" id="imgs" class="form-control" placeholder="Gambar" required>
              </div>
             <span class="pull-right">
            <button type="submit" class="btn btn-sm btn-success">
              <i class="fa fa-arrow-right"></i> Create
            </button>
          </span>
            </div>
              <br/>
              
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>''