
 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

<div class="panel panel-default">
  <div class="panel-heading">
              <h3 class="panel-title">
                Data Pekerjaan Alumni
              </h3>
            </div><div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">               
      <table datatable="ng" dt-instance="DtKj.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nim</th>
            <th>Nama</th>
            <th>Company</th>
            <th>Web</th>
            <!-- <th>Company Profile</th> -->
            <!-- <th>Address</th> -->
            <th>Jenis Perusahaan</th>
            <th>Jabatan</th>
            <th>Lat</th>
            <th>Lng</th>
            <th>Created Date</th>
            <th>Created Time</th>
            <th><button type="button" ng-click="ShowCreateData();" class="btn btn-sm btn-success" title="Add New"><i class="glyphicon glyphicon-plus"></i> Add new</button></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="kjsAlm in DtKj.KjAlm">
            <td>{{$index + 1}}</td>
            <td>{{kjsAlm.nim}}</td>
            <td>{{kjsAlm.nama}}</td>
            <td>{{kjsAlm.company}}</td>
            <td>{{kjsAlm.web}}</td>
           <!--  <td>{{kjsAlm.cprofile}}</td> -->
            <!-- <td>{{kjsAlm.address}}</td> -->
            <td>{{kjsAlm.jenis}}</td>
            <td>{{kjsAlm.jabatan}}</td>
            <td>{{kjsAlm.lat}}</td>
            <td>{{kjsAlm.lng}}</td>
            <td>{{kjsAlm.created_at | date:'yyyy-MM-dd'}}</td>
            <td>{{kjsAlm.created_at | date: 'HH:mm:ss'}}</td>
            <td>
              <!-- <a ui-sref="alumni.sadminedit({ kjsAlm:_id })"> -->
              <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="EditData(kjsAlm._id);">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <!-- </a> -->
              <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="showData(kjsAlm._id);">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
              <button type="button" title="Delete" class="remove-news btn btn-xs btn-default" ng-click="DtKj.delete(kjsAlm._id);">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>   
          </tr>
        </tbody> 
      </table>

    </div>
  </div>
</div>
</div>

</div>
</div>
</div>