<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Edit Data Pekerjaan</h4>
   </div>
   <div class="modal-body">
   <form class="form-horizontal" ng-submit="DtKj.updateDt(kjsalm);">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-code"></i> NIM</span>
              <input ng-model="kjsalm.nim" type="text" class="form-control" placeholder="NIM" required>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-user"></i> NAMA</span>
              <input ng-model="kjsalm.nama" class="form-control" placeholder="Nama" required>
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-code-fork"></i> COMPANY NAME</span>
                <input ng-model="kjsalm.company" type="text" class="form-control" ng-change="changeCompany(kjsalm.company)" required placeholder="lokasi">
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-university"></i> WEB COMPANY</span>
                <input type="text" class="form-control" placeholder="WEB COMPANY" ng-model="kjsalm.web" required>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-crosshairs"></i> COMPANY PROFILE</span>
                <textarea class="form-control" placeholder="Addby" ng-model="kjsalm.cprofile" required></textarea>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-road"></i> ADDRESS</span>
                <textarea class="form-control" placeholder="Create At" ng-model="kjsalm.address" ng-change="changeAddress(kjsalm.address)" id="address" name="address" required></textarea>
              </div>
              <br/>
              <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-tag"></i> JENIS</span>
              <input type="text" class="form-control" ng-model="kjsalm.jenis" required></input>
              </div>
              <br/>
              <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;" required><i class="fa fa-briefcase"></i> JABATAN</span>
              <input type="text" class="form-control" ng-model="kjsalm.jabatan" required></input>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-map-marker"></i> LATITUDE</span>
                <input type="text" class="form-control" ng-model="kjsalm.lat" readonly>
              </div>
              <br/>
                      
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="f fa fa-map-marker"></i> LENGTH</span>
                <input type="text" class="form-control" ng-model="kjsalm.lng" readonly>
              </div>
              <span class="pull-right">
            <button type="submit" class="btn btn-sm btn-success">
              <i class="fa fa-arrow-right"></i> Update
            </button>
          </span>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
        <div ng-hide="true === true">
  <div class="row">
<!--                     <div class="col-xs-12 col-sm-6">
                        <div class="input-group">

                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" ng-model="lat" name="lat" id="lat" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" ng-model="lng" name="lng" id="lng" class="form-control" readonly>
                        </div>
                    </div>
                </div> -->
<br/>
 <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" options="{scaleControl: true}" event-ready="onMapReady($ngMap)">
                    <ng-map id="map" center="{{lat}}, {{lng}}" zoom="5">
                    <marker position="{{lat}}, {{lng}}"></marker>
                    
                    <div class="ng-map-marker" lat="markerPosition.lat()" lng="markerPosition.lng()" draggable="true" event-dragend="onDragEnd($event, $ngMap)">
                        <div class="marker" ng-class="{dragging: $dragging}"></div>
                    </div>
                </ng-map>
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
</div>
      </form>
    </div>
  </div>
</div>

</div>''