<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Create Data Pekerjaan</h4>
   </div>
   <div class="modal-body">
   <form class="form-horizontal" ng-submit="DtKjAdd.createDt(kerjacr, nim);">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                  <select class="form-control" ng-model="nim" required>
                    <option value="">-- SELECT NIM --</option>
                    <option ng-repeat="data in alumnisx | orderBy: 'mhsNiu'" value="{{data.nim || data.mhsNiu}}" >{{data.nim || data.mhsNiu}} - {{data.nama || data.mhsNama}}</option>
                  </select>
              </div>
              <br>
            <hr/>
              
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                <div class="input-group" ng-show="nim">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input ng-model="nim" type="text" name="nim" id="nim" class="form-control" placeholder="NIM" required readonly>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="input-group" ng-repeat="data in alumnisx | orderBy: 'mhsNiu'" ng-show="((data.nim || data.mhsNiu) == nim)">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input ng-model="nama" type="text" name="nama" id="nama" ng-value="data.nama || data.mhsNama" class="form-control" placeholder="NIM">
              </div>
              </div></div>
              <br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-code-fork"></i></span>
                    <input ng-model="kerjacr.company" type="text" class="form-control" ng-change="changeCompany(kerjacr.company)" required placeholder="COMPANY NAME">
                  </div>
              <br/>

              <div class="row">
                <div class="col-xs-12 col-sm-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-university"></i></span>
                  <input type="text" class="form-control" placeholder="WEB COMPANY" ng-model="kerjacr.web" required placeholder="WEB COMPANY">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                <input type="text" class="form-control" ng-model="kerjacr.jenis" required placeholder="JENIS"></input>
                </div>
              </div>
            </div>
              <br/>

              <div class="row">
                
                <div class="col-xs-12 col-sm-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="  fa fa-crosshairs"></i> </span>
                  <textarea class="form-control" ng-model="kerjacr.cprofile" placeholder="COMPANY PROFILE" required></textarea>
                </div>
                </div>
              
              <div class="col-xs-12 col-sm-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-road"></i></span>
                  <textarea class="form-control" ng-model="kerjacr.address" ng-change="changeAddress(kerjacr.address)" id="address" name="address" placeholder="ADDRESS" required></textarea>
                </div>
                </div>
              </div>

              <br/>
              <div class="input-group">
              <span class="input-group-addon" required><i class="fa fa-briefcase"></i> </span>
              <input type="text" class="form-control" ng-model="kerjacr.jabatan" required placeholder="JABATAN"></input>
              </div>
              <br/>

              <div class="row">
                <div class="col-xs-12 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="  fa fa-map-marker"></i> </span>
                <input type="text" class="form-control" ng-model="kerjacr.lat" placeholder="LATITUDE" readonly>
              </div>
              </div>
               <div class="col-xs-12 col-sm-6">       
              <div class="input-group">
                <span class="input-group-addon"><i class="f fa fa-map-marker"></i> </span>
                <input type="text" class="form-control" ng-model="kerjacr.lng" placeholder="LENGTH" readonly>
              </div>
              </div>
              </div>

<br>

              <span class="pull-right">
            <button type="submit" class="btn btn-sm btn-success">
              <i class="fa fa-arrow-right"></i> Add
            </button>
          </span>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
        <div ng-hide="true === true">
  <div class="row">
<!--                     <div class="col-xs-12 col-sm-6">
                        <div class="input-group">

                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" ng-model="lat" name="lat" id="lat" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" ng-model="lng" name="lng" id="lng" class="form-control" readonly>
                        </div>
                    </div>
                </div> -->
<br/>
 <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" options="{scaleControl: true}" event-ready="onMapReady($ngMap)">
                    <ng-map id="map" center="{{kerjacr.lat}}, {{kerjacr.lng}}" zoom="5">
                    <marker position="{{kerjacr.lat}}, {{kerjacr.lng}}"></marker>
                    
                    <div class="ng-map-marker" lat="markerPosition.lat()" lng="markerPosition.lng()" draggable="true" event-dragend="onDragEnd($event, $ngMap)">
                        <div class="marker" ng-class="{dragging: $dragging}"></div>
                    </div>
                </ng-map>
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
</div>
      </form>
    </div>
  </div>
</div>

</div>''