<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Result Data Pekerjaan Alumni</h4>
   </div>
   <div class="modal-body">
    <form class="form-horizontal">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-code"></i> NIM</span>
              <input ng-model="pkjs.nim" type="text" class="form-control" placeholder="NIM" readonly>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-user"></i> NAMA</span>
              <input ng-model="pkjs.nama" class="form-control" placeholder="Nama" readonly>
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-code-fork"></i> COMPANY NAME</span>
                <input ng-model="pkjs.company" type="text" class="form-control" placeholder="lokasi" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-university"></i> WEB COMPANY</span>
                <input type="text" class="form-control" placeholder="Gajih" ng-model="pkjs.web" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-crosshairs"></i> COMPANY PROFILE</span>
                <textarea class="form-control" placeholder="Addby" ng-model="pkjs.cprofile" readonly></textarea>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-road"></i> ADDRESS</span>
                <textarea class="form-control" placeholder="Create At" ng-model="pkjs.address" readonly></textarea>
              </div>
              <br/>
              <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-tag"></i> JENIS</span>
              <input type="text" class="form-control" ng-model="pkjs.jenis" readonly></input>
              </div>
              <br/>
              <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-briefcase"></i> JABATAN</span>
              <input type="text" class="form-control" ng-model="pkjs.jabatan" readonly></input>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-map-marker"></i> LATITUDE</span>
                <input type="text" class="form-control" ng-model="pkjs.lat" readonly>
              </div>
              <br/>
                      
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="f fa fa-map-marker"></i> LENGTH</span>
                <input type="text" class="form-control" ng-model="pkjs.lng" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-calendar"></i> CREATED AT</span>
                <input type="date" class="form-control" ng-model="created_at" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-clock-o"></i> TIME AT</span>
                <input type="time" class="form-control" placeholder="TIME" id="hp" name="hp" ng-model="created_at" readonly>
              </div>
              <br/>
            
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>''