
<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>

     <h4 class="modal-title">Lihat Data Meeting</h4>
   
   </div>
   <div class="modal-body">
    <form class="form-horizontal">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            <div class="row">
            <div class="col-xs-2 col-sm-12">
            <div class="input-group" >
               
                <!-- <textarea id="postingsss" ta-bind="text" ng-model="eventalm.postings">ygugugugugyugu</textarea> -->
                <textarea id="editor" class="form-control" rows="10" cols="30" style="height:440px" type="multipart/form-data">
                
                  <p style="font-size: 12px;"><img src="public/UsrAlumni/img/if_ico.png" width="55px" height="55px" style="font-size: 12px;background-color: initial;text-align: center;float: left;"/></p><h1 style="font-size: 2em;text-align: center;">{{Momms.judul}}</h1><hr style="font-size: 11px;"/><hr style="font-size: 12px;"/><div class="pdf-header" style="text-align: left;font-size: 14px;"><span style="font-size: 11px;background-color: initial;">Penulis: {{Momms.addby}}</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span style="text-align: right;font-size: 11px;">Tanggal: {{Momms.created_at | date:'yyyy-MM-dd'}}</span></div><div class="pdf-header" style="text-align: left;font-size: 11px;"><span style="background-color: initial;text-align: right;"></span><div style="text-align: right;">Jam: {{Momms.created_at |date: "HH:mm:ss"}}</div></div><!--EndFragment--><p><br/></p><p><br/></p><p></p>
                  {{Momms.postings}}

                </textarea>
              </div>
            </div>
          </div></br>
          

              
             
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>''