<div class="app-media">
 <div class="page bg-white animsition">

  <!-- Media Content -->
  <div class="page-main">

    <!-- Media Content Header -->
      <div class="page-header">
        <h1 class="page-title">Edit Meeting Creation</h1>
        <hr>
         

        <form class="form-horizontal" ng-submit="DtMtEdit.Edit(results)">
          <div class="row">
            <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                <input ng-model="results.judul" type="text" name="judul" id="judul" class="form-control" placeholder="judul" required>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                <input ng-model="results.tag" type="text" name="tag" id="tag" class="form-control" placeholder="tag" required>
              </div>
            </div>
          </div></br>
      
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
            <div text-angular ng-model="results.postings" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around" required></div>
          </div>
          <br>
          
          <div class="row">
              <div class="col-xs-6 col-sm-12" style="color:black;">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-check-square"><h6>RAW:</h6></i></span>
                  <textarea class="form-control" style="color:black; height:65px;" ng-model="results.postings" id="postings" name="postings" placeholder="Deskripsi" disabled></textarea>
                </div>
              </div>
          </div>
          <br>
          <button type="submit" class="btn btn-success btn-filter">Edit</button>
          <button type="submit" class="btn btn-danger btn-filter" ng-click="go('/alumni/meating-list')">Back</button>

       </form>  
      
          <hr>
      </div>


  
    <!-- Forum Content -->
</div>


<!-- 
<div class="site-action">
  <button type="button" ng-click="DtMtAdd.showNewData()" class="site-action-toggle btn-raised btn btn-success btn-floating">
    <i class="front-icon md-upload animation-scale-up" aria-hidden="true"></i>
    <i class="back-icon md-close animation-scale-up" aria-hidden="true"></i>
  </button>
</div> -->

</div>