
<div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Data MoM Create By Admin
          </h3>
        </div><div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">               
            <table datatable="ng" dt-instance="DtMt.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Judul</th>
                  <th>Tag</th>
                  <th>Add By</th>
                  <th>Nim</th>
                  <th>Created Add</th>
                  <th>Time Add</th>
                  <th><button type="button" ng-click="go('alumni/meating/add')" class="btn btn-sm btn-success" title="Add New"><i class="glyphicon glyphicon-plus"></i> Add new</button></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="allmom in DtMt.momms">
                  <td>{{$index + 1}}</td>
                  <td>{{allmom.judul}}</td>
                  <td>{{allmom.tag}}</td>
                  <td>{{allmom.addby}}</td>
                  <td>{{allmom.nim}}</td>
                  <td>{{allmom.created_at | date:'yyyy-MM-dd'}}</td>
                  <td>{{allmom.created_at | date: 'HH:mm:ss'}}</td>
                  <td>
                    <!-- <a ui-sref="alumni.sadminedit({ allmom:_id })"> -->
                    <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="go('alumni/meeting/edit/'+ allmom._id +'')">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <!-- </a> -->
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="showData(allmom._id);">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" title="Delete" class="remove-news btn btn-xs btn-default" ng-click="DtMt.delete(allmom._id);">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </td>   
                </tr>
              </tbody> 
            </table>

          </div>
        </div>
      </div>
    </div>


<div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Data MoM Create By Alumni
          </h3>
        </div><div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">               
            <table datatable="ng" dt-instance="DtMt.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Judul</th>
                  <th>Tag</th>
                  <th>Add By</th>
                  <th>Nim</th>
                  <th>Created Add</th>
                  <th>Time Add</th>
                  <th>Tools</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="allmom1 in DtMt.momms1">
                  <td>{{$index + 1}}</td>
                  <td>{{allmom1.judul}}</td>
                  <td>{{allmom1.tag}}</td>
                  <td>{{allmom1.addby}}</td>
                  <td>{{allmom1.nim}}</td>
                  <td>{{allmom1.created_at | date:'yyyy-MM-dd'}}</td>
                  <td>{{allmom1.created_at | date: 'HH:mm:ss'}}</td>
                  <td>
                    <!-- <a ui-sref="alumni.sadminedit({ allmom1:_id })"> -->
                    <!-- </a> -->
                    <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="go('alumni/meeting/edit/'+ allmom1._id +'')">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="showData(allmom1._id);">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" title="Delete" class="remove-news btn btn-xs btn-default" ng-click="DtMt.delete(allmom1._id);">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </td>   
                </tr>
              </tbody> 
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>