<div class="page-profile">

	<!-- Page -->
	<div class="page animsition">
		<div class="page-content container-fluid">
			<div class="row">
				<div class="col-md-3">
					<!-- Page Widget -->
					<div class="widget widget-shadow text-center">
						<div class="widget-header">
							<div class="widget-header-content">
                                <a class="img-thumbnail" href="javascript:void(0)">
                        <img style="width:100px; height:65px" ng-src="{{datac.urlimgs}}"
                        alt="...">
                      </a>
								
								<h4 class="profile-user" >{{datac.mhsNama || datac.nama}}</h4>
								<p class="profile-job">{{datac.mhsEmail || datac.email}}</p>
								<p class="profile-job">{{datac.mhsNoHp || datac.hp}}</p>
                                <p>{{datac.mhsAlamatMhs || datac.alamat}}</p>
								<div class="profile-social">
									<a href="javascript:void(0)" style="color:black">{{datac.tempatLahir || datac.asal}}</a>
									<a href="javascript:void(0)" style="color:black">{{datac.mhsTanggalLahir || datac.tgl_lahir | date:'yyyy-MM-dd'}}</a>
								</div>
								<br>
								
								<button type="button" class="btn btn-danger" ng-show="benar === true" ng-click="DtProfile.showEditcrAlm()">Edit</button>
                                <button type="button" class="btn btn-danger" ng-show="benar1 === true" ng-click="DtProfile.showEditAlm()">Edit</button>
								
							</div>
						</div>
						<br>
						<div class="widget-footer">
							<div class="row no-space">
								<a href="javascript:void(0)" style="color:black">Angkatan </a>
								<a href="javascript:void(0)" style="color:black">{{datac.mhsAngkatan || '-'}}</a>
							</div>
						</div>          
					</div>
					<!-- End Page Widget -->
				</div>

				<div class="col-md-9">
					<!-- Panel -->
					<div class="panel">
						<div class="panel-body nav-tabs-animate nav-tabs-horizontal">
							<ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
								<li class="active" role="presentation"><a data-toggle="tab" href="javascript:void(0)#activities" aria-controls="activities"
									role="tab">Pekerjaan</a></li>
            <!--     <li role="presentation"><a data-toggle="tab" href="#profile" aria-controls="profile" role="tab">Profile</a></li>
                <li role="presentation"><a data-toggle="tab" href="#messages" aria-controls="messages"
                	role="tab">Messages</a></li> -->
                	<li class="dropdown" role="presentation" style="display: none;">
                		<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false">
                			<span class="caret"></span>Menu </a>
                			<ul class="dropdown-menu" role="menu">
                				<li role="presentation" style="display: none;"><a data-toggle="tab" href="javascript:void(0)#activities" aria-controls="activities"
                					role="tab">Pekerjaan</a></li>
                    <!-- <li role="presentation" style="display: none;"><a data-toggle="tab" href="#profile" aria-controls="profile"
                      role="tab">Profile</a></li>
                    <li role="presentation"><a data-toggle="tab" href="#messages" aria-controls="messages"
                    	role="tab">Messages</a></li> -->
                    </ul>
                </li>
            </ul>

            <div class="tab-content">
            	<div class="tab-pane active animation-slide-left" id="activities" role="tabpanel">
            		<ul class="list-group">

            			<li class="list-group-item">
            				<div class="media media-lg">
            					<div class="media-left">
            						<span class="label label-danger">Tentang Pekerjaan</span>
            					</div>
            					<div class="media-body">
            						<h4 class="media-heading">{{datac.mhsNama || datac.nama}}
            						</h4>
            						<span>{{pkrj.jabatan}}</span>
            						<br><br>
            						<div class="profile-brief">
            							<div class="media">
                                            <div class="row">
            									<div class="col-xs-6 col-sm-4">
            										<div>
            											<span><i class="glyphicon glyphicon-briefcase"> {{pkrj.company}}</i></span>
            										</div>
            									</div>
            									<div class="col-xs-6 col-sm-4">
            										<div>
            											<span><i class="glyphicon glyphicon-tag"> {{pkrj.jenis}}</i></span>
            										</div>
            									</div>
            									<div class="col-xs-6 col-sm-4">
            										<div>
            											<span><i class="glyphicon glyphicon-globe"> {{pkrj.web}}</i></span>
            										</div>
            									</div>
            								</div></br>


            								<div class="row">
            									<div class="col-xs-6 col-sm-6">
            										<div>
            											<span><i class="glyphicon glyphicon-star-empty" style="text-align:justify"> {{pkrj.cprofile}}</i></span>
            										</div>
            									</div>
            									<div class="col-xs-6 col-sm-6">
            										<div>
            											<span><i class="glyphicon glyphicon-road"> <p>{{pkrj.address}}</p></i></span>
            										</div>
            									</div>
            								</div></br>



            							</div>
            						</div>
            					</div>
            				</div>
            			</li>
                    </ul>




        <ul class="list-group">

                        <li class="list-group-item">
                            <div class="media media-lg">
                                <div class="media-left">
                                    <button type="button" class="btn btn-danger" ng-click="DtProfile.showEditAcc(DataSp._id)">Account</button>
                               
                               </div>
                                <div class="media-body">
                                    <div class="profile-brief">
                                        <div class="media">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-4">
                                                    <div>
                                                        <span><i class="glyphicon glyphicon-briefcase"> {{DataSp.level}}</i></span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-4">
                                                    <div>
                                                        <span><i class="glyphicon glyphicon-user"> {{DataSp.username}}</i></span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-4">
                                                    <div>
                                                        <span><i class="glyphicon glyphicon-check"> {{DataSp.active}}</i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>




            	

            		</div>
            	</div>
            </div>
            <!-- End Panel -->
        </div>
    </div>
</div>
</div>
<!-- End Page -->




</div>
