<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title"></h4>
   </div>
   <div class="modal-body">


        <div class="box box-info">
          <div class="box-header">
            <h3 class="box-title">Edit Account</h3>
          </div>
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
          	 
          <div class="input-group">
    				<span class="input-group-addon"><i class="fa fa-user"></i></span>
    				<input ng-model="newUsername" type="text" name="username" id="username" class="form-control" placeholder="Username" required>
    			</div>
    			<br/>
			     <div class="input-group pull-right">
                <!-- <span class="input-group-addon"><i class="fa fa-briefcase"></i></span> -->
                <button type="submit" class="btn btn-success btn-filter" title="Edit" ng-click="postData(newUsername, _idNim, newNim)" ><i class="fa fa-arrow-right"></i> Edit Account</button>
            </div>
			<hr/>
			<div class="input-group" ng-hide="benarsPass === true">
                    <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                    <input ng-model="password" type="password" name="password" id="password" class="form-control" placeholder="MASUKAN VERIFIKASI PASSWORD">
            </div>
            <br/>
            <div class="input-group pull-right" ng-hide="benarsPass === true">
                <!-- <span class="input-group-addon"><i class="fa fa-briefcase"></i></span> -->
                <button type="submit" class="btn btn-success btn-filter" title="Edit Password" ng-click="DtProfile.checkPassword(password, _idpassword)" ><i class="fa fa-arrow-right"></i> Verifikasi</button>
            </div>
			<br/>
			<div ng-show="benarsPass === true">    
			<form name="DtProfile.resetAcc" ng-submit="DtProfile.updatePass(firstPassword,DtProfile.resetAcc.firstPassword.$valid, confirm, _idpassword)">
				<div class="input-group" ng-class="{ 'has-success': confirmed && !DtProfile.resetAcc.firstPassword.$error.$required, 'has-error':(!confirmed && !DtProfile.resetAcc.firstPassword.$error.$required) || (DtProfile.resetAcc.firstPassword.$error.required && !DtProfile.resetAcc.firstPassword.$pristine)}">
								<span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
								<input type="text" name="firstPassword" ng-model="firstPassword" id="firstPassword" class="form-control" placeholder="Password" required>
							</div>
							<br/>
							<div class="input-group" ng-class="{ 'has-success': confirmed && !DtProfile.resetAcc.confirmPassword.$error.$required, 'has-error':(!confirmed && !DtProfile.resetAcc.confirmPassword.$error.$required) || (DtProfile.resetAcc.confirmPassword.$error.required && !DtProfile.resetAcc.confirmPassword.$pristine)}">
								<span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
								<input type="password" ng-model="confirm" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Retype Password" match="{{[firstPassword]}}" ng-change="function()" required>
								<label class="control-label" ng-show="!confirmed && !confirmed &&!DtProfile.resetAcc.confirmPassword.$pristine && DtProfile.resetAcc.firstPassword.$valid" for="inputError"><i class="fa fa-times-circle-o"></i> Password Not Match</label>
			
							</div>
							<br/>
							<div class="input-group pull-right">
				                <!-- <span class="input-group-addon"><i class="fa fa-briefcase"></i></span> -->
				                <button type="submit" class="btn btn-success btn-filter" title="Edit Password" ><i class="fa fa-arrow-right"></i> Edit Password</button>
				            </div>
							<br/>
			
			</form>
			</div>

          </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
  </div>
</div>

</div>