
<div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Data Berita Scraping Pekerjaan
          </h3>
        </div><div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">               
            <table datatable="ng" dt-instance="DtScrap.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Judul</th>
                  <th>Perusahaan</th>
                  <th>Lokasi</th>
                  <th>Gajih</th>
                  <th>Bidang</th>
                  <th>Date On</th>
                  <th>Date Off</th>
                  <th>Created Add</th>
                  <th>Time Add</th>
                  <th>Tools</th>
                </tr>
              </thead>
              <tbody>
              <tr ng-repeat="berita in DtScrap.Glob">
                  <td>{{$index + 1}}</td>
                  <td>{{berita.judul}}</td>
                  <td>{{berita.perusahaan}}</td>
                  <td>{{berita.lokasi}}</td>
                  <td>{{berita.gajih[0][0]}} - {{berita.gajih[1][0]}}</td>
                  <td>{{berita.detail['bidang']}}</td>
                  <td>{{berita.detail['date_on']| date:'yyyy-MM-dd'}}</td>
                  <td>{{berita.detail['date_off']| date:'yyyy-MM-dd'}}</td>
                  <td>{{berita.created_at | date:'yyyy-MM-dd'}}</td>
                  <td>{{berita.created_at | date: 'HH:mm:ss'}}</td>
                  <td>
                    <!-- <a ui-sref="alumni.sadminedit({ berita:_id })"> -->
                    <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="EditData(berita._id)">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <!-- </a> -->
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="showData(berita._id);">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" title="Delete" class="remove-news btn btn-xs btn-default" ng-click="DtScrap.delete(berita._id);">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </td>   
                </tr>
              </tbody> 
            </table>

          </div>
        </div>
      </div>
    </div>


<div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Data Berita Pekerjaan Alumni
          </h3>
        </div><div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">               
            <table datatable="ng" dt-instance="DtScrap.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
              <thead>
                 <tr>
                  <th>No.</th>
                  <th>Judul</th>
                  <th>Perusahaan</th>
                  <th>Lokasi</th>
                  <th>Gajih</th>
                  <th>Bidang</th>
                  <th>Date On</th>
                  <th>Date Off</th>
                  <th>Addby</th>
                  <th>Nim</th>
                  <th>Created Add</th>
                  <th>Time Add</th>
                  <th><button type="button" ng-click="ShowCreateData()" class="btn btn-sm btn-success" title="Add New"><i class="glyphicon glyphicon-plus"></i> Add new</button></th>
                </tr>
              </thead>
              <tbody>
              <tr ng-repeat="berita1 in DtScrap.GlobBy">
                  <td>{{$index + 1}}</td>
                  <td>{{berita1.judul}}</td>
                  <td>{{berita1.perusahaan}}</td>
                  <td>{{berita1.lokasi}}</td>
                  <td>{{berita1.gajih[0][0]}} - {{berita1.gajih[1][0]}}</td>
                  <td>{{berita1.detail['bidang']}}</td>
                  <td>{{berita1.detail['date_on'].slice(3,-41)}}</td>
                  <td>{{berita1.detail['date_off'].slice(3,-41)}}</td>
                  <td>{{berita1.addby}}</td>
                  <td>{{berita1.nim}}</td>
                  <td>{{berita1.created_at | date:'yyyy-MM-dd'}}</td>
                  <td>{{berita1.created_at | date: 'HH:mm:ss'}}</td>
                  <td>
                    <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="EditDataAlm(berita1._id)">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="showData(berita1._id);">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" title="Delete" class="remove-news btn btn-xs btn-default" ng-click="DtScrap.delete(berita1._id);">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </td>   
                </tr>
              </tbody> 
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>