<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Create Data Berita Pekerjaan</h4>
   </div>
   <div class="modal-body">
   <form class="form-horizontal" ng-submit="DtScrap.Create(dataLoker);">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">

             <div class="row">
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file"></i></span>
                <input ng-model="DtScrap.dataLoker.judul" type="text" name="judul" id="judul" class="form-control" placeholder="Judul Pekerjaan" required>
              </div>
              </div>
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-flag"></i></span>
                <input ng-model="DtScrap.dataLoker.lokasi" type="text" name="lokasi" id="lokasi" class="form-control" placeholder="Daerah" required>
              </div>
              </div>
              </div>
              <br/>

              <div class="row">
              <div class="col-xs-6 col-sm-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                <input ng-model="DtScrap.dataLoker.perusahaan" type="text" name="perusahaan" id="perusahaan" class="form-control" placeholder="Nama Perusahaan" required>
              </div>
              </div>
              </div>
              <br/>

              <div class="row">
                <div class="col-md-5">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input ng-model="DtScrap.dataLoker.gajih" type="number" min="100000" pattern="[0-9]*" name="gajih" id="gajih" class="form-control" placeholder="Gajih" required>
                  </div>
                </div>
                <div class="col-md-1">
                  <center><span class="fa fa-arrows-h"></span></center>
                </div>
                <div class="col-md-5">
                  <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input ng-model="DtScrap.dataLoker.gajih1" type="number" min="{{DtScrap.dataLoker.gajih}}" name="gajih" id="gajih" class="form-control" placeholder="Gajih" required>
                  </div>
                </div>
              </div>
              <br>

              <div class="row">
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-plus-square-o"></i></span>
                <textarea class="form-control" ng-model="DtScrap.dataLoker.prasyarat" id="prasyarat" name="prasyarat" placeholder="Prasyarat" required></textarea>
              </div>
              </div>
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
                 <textarea class="form-control" ng-model="DtScrap.dataLoker.deskripsi" id="deskripsi" name="deskripsi" placeholder="Deskripsi" required></textarea>
              </div>
              </div>
              </div>
              <br/>

              <div class="row">
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-image-o"></i></span>
                <input type="text" name="imgs" id="imgs" class="form-control" placeholder="http://" required>
              </div>
              </div>
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                <input ng-model="DtScrap.dataLoker.bidang" type="text" name="bidang" id="bidang" class="form-control" placeholder="Bidang" required>
              </div>
              </div>
              </div>
              <br/>

              <div class="row">
              <div class="col-xs-6 col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-check"></i></span>
                <input ng-model="DtScrap.dataLoker.date_on" type="date" name="date_on" id="date_on" class="form-control" min="{{date | date:'yyyy-MM-dd'}}" required>
              </div>
              </div>
              <div class="col-xs-6 col-sm-6">
              <div class="input-group" ng-show="DtScrap.dataLoker.date_on | date:'yyyy-MM-dd' === DtScrap.dataLoker.date_on | date:'yyyy-MM-dd'">
                <span class="input-group-addon"><i class="fa fa-close"></i></span>
                <input ng-model="DtScrap.dataLoker.date_off" type="date" name="date_off" id="date_off" class="form-control" min="{{DtScrap.dataLoker.date_on | date:'yyyy-MM-dd'}}" required>
              </div>
              </div>
              </div>
              <br/>
            <span class="pull-right">
            <button type="submit" class="btn btn-sm btn-success">
              <i class="fa fa-arrow-right"></i> Create
            </button>
          </span>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>

