<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Result Data Berita Pekerjaan</h4>
   </div>
   <div class="modal-body">
   <form class="form-horizontal">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            <div class="input-group" ng-show="pkjs.nim">                
              <img ng-src="{{pkjs.urlimage}}" class="img-thumbnail" style="align:right;">
            </div>
            <br ng-show="pkjs.nim"/>
            <div class="input-group" ng-hide="pkjs.nim">                
              <img ng-src="{{pkjs.urlimage}}" class="img-thumbnail" style="align:right;">
            </div>
            <br ng-hide="pkjs.nim"/>
            
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-code"></i> Judul</span>
              <input ng-model="pkjs.judul" type="text" class="form-control" placeholder="judul" readonly>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-building"></i> Perusahaan</span>
              <input ng-model="pkjs.perusahaan" class="form-control" placeholder="perusahaan" readonly>
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-road"></i> Lokasi</span>
                <input ng-model="pkjs.lokasi" type="text" class="form-control" readonly placeholder="lokasi">
              </div>
              <br/>
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" style="min-width:85px; text-align:left;"><i class="fa fa-money"></i> Gajih</span>
                    <input type="text" class="form-control" placeholder="Gajih" ng-model="pkjs.gajih[0][0]" readonly>
                  </div>
                </div>
                <!-- <div class="col-md-6"> -->
                    
                <!-- </div> -->
                <div class="col-md-6">
                  <div class="input-group">
                   
                    <input type="text" class="form-control" placeholder="Gajih" ng-model="pkjs.gajih[1][0]" readonly>
                  </div>
                </div>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-crosshairs"></i> Bidang</span>
                <input type="text" class="form-control" placeholder="bidang" ng-model="pkjs.detail['bidang']" readonly></input>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-file-text-o"></i> Deskripsi</span>
                <textarea class="form-control" placeholder="Deskripsi" ng-model="pkjs.detail['deskripsi']" id="address" name="address" readonly></textarea>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-file-text-o"></i> Prasyarat</span>
                <textarea class="form-control" placeholder="Prasyarat" ng-model="pkjs.detail['prasyarat']" id="address" name="address" readonly></textarea>
              </div>
              <br/>
              <div class="input-group" ng-hide="pkjs.nim">
              <span class="input-group-addon" style="min-width:185px; text-align:left;" readonly><i class=" fa fa-check"></i> Date On</span>
              <input type="text" class="form-control" ng-model="pkjs.detail['date_on']" readonly></input>
              </div>
              <br ng-hide="pkjs.nim"/>
              <div class="input-group" ng-hide="pkjs.nim">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-minus"></i> Date Off</span>
                <input type="text" class="form-control" ng-model="pkjs.detail['date_off']" readonly>
              </div>
              <br ng-hide="pkjs.nim"/>
              <div class="input-group" ng-show="pkjs.nim">
              <span class="input-group-addon" style="min-width:185px; text-align:left;" readonly><i class=" fa fa-check"></i> Date On</span>
              <input type="date" class="form-control" ng-model="dateon_alm" readonly></input>
              </div>
              <br ng-show="pkjs.nim"/>
              <div class="input-group" ng-show="pkjs.nim">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-minus"></i> Date Off</span>
                <input type="date" class="form-control" ng-model="dateoff_alm" readonly>
              </div>
              <br ng-show="pkjs.nim"/>
              <div class="input-group" ng-show="pkjs.nim">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-code"></i> Nim</span>
                <input type="text" class="form-control" ng-model="pkjs.nim" readonly>
              </div>
              <br ng-show="pkjs.nim"/>
              <div class="input-group" ng-show="pkjs.addby">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-user"></i> Addby</span>
                <input type="text" class="form-control" ng-model="pkjs.addby" readonly>
              </div>
              <br ng-show="pkjs.nim"/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-calendar"></i> CREATED AT</span>
                <input type="date" class="form-control" ng-model="created_at" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-clock-o"></i> TIME AT</span>
                <input type="time" class="form-control" placeholder="TIME" id="hp" name="hp" ng-model="created_at" readonly>
              </div>
              <br/>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
        <div ng-hide="true === true">
  <div class="row">
<!--                     <div class="col-xs-12 col-sm-6">
                        <div class="input-group">

                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" ng-model="lat" name="lat" id="lat" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" ng-model="lng" name="lng" id="lng" class="form-control" readonly>
                        </div>
                    </div>
                </div> -->
<br/>
      </form>
    </div>
  </div>
</div>

</div>