<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Update Data Berita Pekerjaan</h4>
   </div>
   <div class="modal-body">
   <form class="form-horizontal" ng-submit="DtScrap.updateDt(pkjs, gajih, gajih1);">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">

            <div class="input-group">                
              <img ng-src="{{pkjs.urlimage}}" class="img-thumbnail" style="align:right;">
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-code"></i> Judul</span>
              <input ng-model="pkjs.judul" type="text" class="form-control" placeholder="judul" required>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-building"></i> Perusahaan</span>
              <input ng-model="pkjs.perusahaan" class="form-control" placeholder="perusahaan" required>
            </div>
            <br/>
            <br/>
            <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-road"></i> Lokasi</span>
                <input ng-model="pkjs.lokasi" type="text" class="form-control" placeholder="lokasi" required>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input ng-model="gajih" type="number" min="100000" name="gajih" id="gajih" class="form-control" placeholder="Gajih" required>
                  </div>
                </div>
                <div class="col-md-2">
                  <center><span class="fa fa-arrows-h fa-2x"></span></center>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input ng-model="gajih1" type="number" min="{{gajih}}" name="gajih" id="gajih" class="form-control" placeholder="Gajih" required>
                  </div>
                </div>
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-crosshairs"></i> Bidang</span>
                <input type="text" class="form-control" placeholder="bidang" ng-model="pkjs.detail['bidang']" required></input>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-file-text-o"></i> Deskripsi</span>
                <textarea class="form-control" placeholder="Deskripsi" ng-model="pkjs.detail['deskripsi']" id="address" name="address" required></textarea>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-file-text-o"></i> Prasyarat</span>
                <textarea class="form-control" placeholder="Prasyarat" ng-model="pkjs.detail['prasyarat']" id="address" name="address" required></textarea>
              </div>
              <br/>
              <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class=" fa fa-check"></i> Date On</span>
              <input type="text" class="form-control" ng-model="pkjs.detail['date_on']" readonly></input>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="  fa fa-minus"></i> Date Off</span>
                <input type="text" class="form-control" ng-model="pkjs.detail['date_off']" readonly>
              </div>
              <br/>
                <span class="pull-right">
            <button type="submit" class="btn btn-sm btn-success">
              <i class="fa fa-arrow-right"></i> Update
            </button>
          </span>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>