<div class="app-media">
 <div class="page bg-white animsition">

  <!-- Media Content -->
  <div class="page-main">

    <!-- Media Content Header -->
      <div class="page-header">
        <h1 class="page-title"></h1>
      <br>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Results Keseluruhan Data Survey Pimpinan
        </h3>
        
      </div><div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">               
          <table datatable="ng" dt-instance="dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>No.</th>
                <th>Nama Pimpinan</th>
                <th>Jabatan Pimpinan</th>
                <th>Email Pimpinan</th>
                <th>No Hp Pimpinan</th>
                <th>Alumni</th>
                <th>Jabatan Alumni</th> 
                <th>Created Date</th>
                <th>Created Time</th>
                <th>Tools</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="survey in array">
                <td>{{$index + 1}}</td>
                <td>{{survey.addbyP}}</td>
                <td>{{survey.jabatanP}}</td>
                <td>{{survey.emailP}}</td>
                <td>{{survey.hpP}}</td>
                        <td>{{survey.nama}}</td>
                                <td>{{survey.jabatans}}</td>
                <td>{{survey.created_at | date:'yyyy-MM-dd'}}</td>
                <td>{{survey.created_at | date: 'HH:mm:ss'}}</td>
                <td>
                  <!-- <a ui-sref="alumni.sadminedit({ survey:_id })"> -->
                  <button type="button" data-placement="top" title="Result" class="btn btn-xs btn-default" ng-click="go('alumni/survey-pimpinan/data/'+ survey.tokens +'/'+ survey.id_survey + '')">
                    <span class="fa fa-bar-chart"></span>
                  </button>
                 <!--  <button type="button" title="Delete" class="remove-news btn btn-xs btn-default" ng-click="delOneSrvy(survey._id);">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button> -->
                 <!--  <button type="button" title="Show Chart" class="remove-news btn btn-xs btn-default" ng-click="go('alumni/survey-pemimpin/'+ survey._id +'/'+ survey.urlslug +'')">
                    <span class="fa fa-bar-chart"></span>
                  </button> -->
                </td>   
              </tr>
            </tbody> 
          </table>

        </div>
      </div>
    </div>
  </div><br><br>
  
    <!-- Forum Content -->
</div>


<!-- 
<div class="site-action">
  <button type="button" ng-click="dtEventAdd.showNewData()" class="site-action-toggle btn-raised btn btn-success btn-floating">
    <i class="front-icon md-upload animation-scale-up" aria-hidden="true"></i>
    <i class="back-icon md-close animation-scale-up" aria-hidden="true"></i>
  </button>
</div> -->

</div>