<div class="app-media">
 <div class="page bg-white animsition">

  <!-- Media Content -->
  <div class="page-main">

    <!-- Media Content Header -->
    <div class="page-header">
      <h1 class="page-title">Add Survey Alumni</h1>
      <hr>

      <div class="row" style="background-color:rgba(63, 81, 181, 0.22);">
        <div class="col-xs-6 col-sm-12">
          <div class="form-control">
            <span class="fa fa-exclamation"><b> POINTS OF QUESTION 1 - 5 :  1. Sangat Kurang, 2. Kurang, 3. Cukup , 4. Baik, 5. Sangat Baik</b></span>
          </div>
        </div>
      </div>
      <br>
      <form class="form-horizontal">
        <div class="row">
          <div class="col-xs-6 col-sm-4">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
              <input ng-model="survey.nama" type="text" name="judul" id="judul" class="form-control" placeholder="judul" required>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-list"></i></span>
              <textarea class="form-control" style="color:black; height:35px;" ng-model="survey.deskripsi" id="postings" name="postings" placeholder="Deskripsi" required></textarea>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-list"></i></span>
              <input ng-model="optionss" type="text" name="judul" id="judul" class="form-control" placeholder="POINTS" readonly>
            </div>
          </div>
        </div></br>
        <!-- {{survey.options}} -->
        <div class="row">
          <div class="col-xs-6 col-sm-2">
            <div class="input-group">
              <button ng-click="addNewChoice()" class="btn btn-success btn-filter fa fa-click">Add Coloum</button>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2">
           <div class="input-group">
            <button ng-click="removeChoice()" class="btn btn-danger btn-filter fa fa-click">Delete Coloum</button>
          </div>
        </div>
      </div></br>
      <div class="row">
        <div class="col-xs-4 col-md-4" ng-repeat="choice in choices">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-question-circle"></i>  Soal {{$index + 1}}</span>
            <input ng-model="choice.judulsoal" type="text" name="Question" id="Question" class="form-control" placeholder="Question" required>
            <button class="btn btn-danger btn-filter" ng-click="dellChoice(choice.id_soal)"> Delete</button>
          </div>
          <br>
        </div>
      </div></br>
      <div class="pull-right">
        <button type="submit" ng-click="add(survey)" ng-hide="hide === true" class="btn btn-success btn-filter">Create</button>
        <button type="submit" ng-click="Edits(survey)" ng-show="hide === true" class="btn btn-success btn-filter">Edit</button>
      </div>
    </form>  

    <hr><br>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Data Survey Alumni
        </h3>
      </div><div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">               
          <table datatable="ng" dt-instance="dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>No.</th>
                <th>Nim</th>
                <th>Add By</th>
                <th>Judul</th>
                <th>Options</th>
                <th>Created Date</th>
                <th>Created Time</th>
                <th>Tools</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="survey in ResultsSurv">
                <td>{{$index + 1}}</td>
                <td>{{survey.nim}}</td>
                <td>{{survey.addby}}</td>
                <td>{{survey.nama}}</td>
                <td>{{survey.options}}</td>
                <td>{{survey.created_at | date:'yyyy-MM-dd'}}</td>
                <td>{{survey.created_at | date: 'HH:mm:ss'}}</td>
                <td>
                  <!-- <a ui-sref="alumni.sadminedit({ survey:_id })"> -->
                  <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="showEditData(survey._id);">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <!-- </a> -->
                  <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="showData(survey._id);">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                  <button type="button" title="Delete" class="remove-news btn btn-xs btn-default" ng-click="delOneSrvy(survey._id);">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                  <button type="button" title="Show Chart" class="remove-news btn btn-xs btn-default" ng-click="go('alumni/survey-alumni/'+ survey._id +'/'+ survey.urlslug +'')">
                    <span class="fa fa-bar-chart"></span>
                  </button>
                </td>   
              </tr>
            </tbody> 
          </table>

        </div>
      </div>
    </div>
  </div><br><br>

<!--   <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Pie Chart Data Survey Alumni
        </h3>
      </div>
      <div class="row">
      <div class="col-xs-12">
          <nvd3 options="options" data="data"></nvd3>
      </div>
      </div>
  </div> -->

</div>


<!-- Forum Content -->


</div>


<!-- 
<div class="site-action">
  <button type="button" ng-click="dtEventAdd.showNewData()" class="site-action-toggle btn-raised btn btn-success btn-floating">
    <i class="front-icon md-upload animation-scale-up" aria-hidden="true"></i>
    <i class="back-icon md-close animation-scale-up" aria-hidden="true"></i>
  </button>
</div> -->

</div>