<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Result Data Survey Alumni</h4>
   </div>
   <div class="modal-body">
    <form class="form-horizontal">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-code"></i> NIM</span>
              <input ng-model="DataSURV.nim" type="text" class="form-control" placeholder="NIM" readonly>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-user"></i> ADD BY</span>
              <input ng-model="DataSURV.addby" class="form-control" placeholder="Nama" readonly>
            </div>
            <br/>
             <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-file"></i> JUDUL</span>
              <input ng-model="DataSURV.nama" class="form-control" placeholder="Nama" readonly>
            </div>
            <br/>
             <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-list"></i> OPTIONS</span>
              <input ng-model="DataSURV.options" class="form-control" placeholder="Nama" readonly>
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-list"></i> DESKRIPSI</span>
                <textarea ng-model="DataSURV.deskripsi" class="form-control" readonly></textarea>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-calendar"></i> CREATED AT</span>
                <input type="date" class="form-control" ng-model="created_at" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-clock-o"></i> TIME AT</span>
                <input type="time" class="form-control" placeholder="Date Off" id="hp" name="hp" ng-model="created_at" readonly>
              </div>
              <br/>

              <div class="row">
                <div class="col-sm-2 col-md-6" ng-repeat="JUDULS in DataSURV.soal">
                  <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-list"></i> Soal {{$index + 1}}</span>
                  <input type="text" class="form-control" placeholder="Date Off" id="hp" name="hp" ng-model="JUDULS.judulsoal" readonly>
                <br><br>
                </div>

              </div>
            
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>''