<style>
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>
<div class="app-media">
 <div class="page bg-white animsition">

  <!-- Media Content -->
  <div class="page-main">

    <!-- Media Content Header -->
    <div class="page-header">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Results Data Survey Alumni
        </h3>
         <div class="row">
          <div class="col-xs-12">
            <div class="form-control">
              <span class="fa fa-exclamation"><b>POINTS OF QUESTION :  1. Sangat Kurang, 2. Kurang, 3. Cukup , 4. Baik, 5. Sangat Baik</b></span>
            </div>
          </div>
        </div>
      <br>
      </div><div class="row">
      <div class="col-xs-12">
         <div class="table-responsive" style="overflow-x:auto;">               
          <table datatable="ng" dt-instance="dtInstance" class="display compact cell-border" cellspacing="0">
            <thead>            
              <tr>
                <!-- <th>Tools</th> -->
                <th>No.</th>
                <th>Nim</th>
                <th>Nama</th>
                <th>{{Soal.nama}}</th>
                <th ng-repeat="SoalAslii in Soal.soal">{{SoalAslii.judulsoal}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="Hasils in Jawaban">
                <!-- <td> -->
                 <!--  <button type="button" title="Delete" class="remove-news btn btn-xs btn-default" ng-click="delOneSrvy(survey._id);">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button> -->
                 <!--  <button type="button" title="Show Chart" class="remove-news btn btn-xs btn-default" ng-click="PieCHART(survey._id);">
                    <span class="fa fa-bar-chart"></span>
                  </button> -->
                <!-- </td> -->
                <td>{{$index +1}}</td>
                <td>{{Hasils.nim}}</td>
                <td>{{Hasils.addby}}</td>
                <td>#</td>
                <td ng-repeat="ResultJWB in Hasils.jawaban">{{ResultJWB[0].hasil}}</td>
                
              </tr>
            </tbody> 
          </table>

        </div>
      </div>
    </div>
  </div><br><br>

  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Hasil Keseluruhan Data Survey Alumni Untuk <b>{{Soal.nama}}</b>
        </h3>
      </div>
      <div class="row">
      <div class="col-xs-12">
          <nvd3 options="options" data="data"></nvd3>
      </div>
      </div>
  </div>

</div>


<!-- Forum Content -->


</div>


<!-- 
<div class="site-action">
  <button type="button" ng-click="dtEventAdd.showNewData()" class="site-action-toggle btn-raised btn btn-success btn-floating">
    <i class="front-icon md-upload animation-scale-up" aria-hidden="true"></i>
    <i class="back-icon md-close animation-scale-up" aria-hidden="true"></i>
  </button>
</div> -->

</div>