<style type="text/css">
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<div class="app-media">
 <div class="page bg-white animsition">

  <!-- Media Content -->
  <div class="page-main">

    <!-- Media Content Header -->
    <div class="page-header">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Results Data Survey Alumni
        </h3>
         <div class="row">
          <div class="col-xs-12">
            <div class="form-control">
              <span class="fa fa-exclamation"><b>POINTS OF QUESTION :  1. Sangat Kurang, 2. Kurang, 3. Cukup , 4. Baik, 5. Sangat Baik</b></span>

            </div>
          </div>
           <div class="col-xs-12">
            <div class="form-control">
              <span class="fa fa-exclamation"><b>
          Hasil Keseluruhan Data Survey Pimpinan Terhadap Alumni</b></span>
              
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-control">
              <span class="fa fa-user"><b> Nama Pimpinan :
                {{CkHPMP[0].addby}}</b> <span class="fa fa-arrows-h"> Nama Perusahaan : {{DataKERJAAN.company}}</span>  <span class="fa fa-ellipsis-h"></span><span class="fa fa-ellipsis-h"></span><span class="fa fa-ellipsis-h"></span> <span class="fa fa-user"><b>
                Nama Alumni : {{DataKERJAAN.nama}}</b>
            </div>
            
          </div>
        </div>
        <br>
      </div><div class="row">
      <div class="col-xs-12">
         <div class="table-responsive" style="overflow-x:auto;">               
            <table class="table table-striped table-border">
                    <!-- <thead style="border-style:1px black"> -->
                      <tr>
                        <!-- <th>NO</th> -->
                        <th>Nama</th>
                        <th>No</th>
                        <th>Survey Terhadap</th>
                        <th>Sangat Kurang</th>
                        <th>Kurang</th>
                        <th>Cukup</th>
                        <th>Baik</th>
                        <th>Sangat Baik</th>
                      </tr>
                    <!-- </thead> -->
                    <tr ng-repeat-start="(num,DataPertanyaan) in CekSoalPmp">
                      <tr ng-repeat="DataSoal in DataPertanyaan.soal">
                        <!-- <tr ng-repeat="b in CkHPMP1"> -->
                        
                            
                            <td ng-if="!$first"></td>
                            <td ng-if="$first">{{DataPertanyaan.nama}}</td>
                            <td>{{$index + 1}}</td>
                            <td>{{DataSoal.judulsoal}}</td>
                            <td><input type="radio" id="{{DataSoal.judulsoal}}" name="{{DataSoal.judulsoal}}" ng-model="CkHPMP[$parent.$index].jawaban[$index][0].hasil" value="1" disabled><!-- {{CkHPMP[$parent.$index].jawaban[$index][0].hasil}} --></td>
                            <td><input type="radio" id="{{DataSoal.judulsoal}}" name="{{DataSoal.judulsoal}}" ng-model="CkHPMP[$parent.$index].jawaban[$index][0].hasil" value="2" disabled><!-- {{CkHPMP[$parent.$index].jawaban[$index][0].hasil}} --></td>
                            <td><input type="radio" id="{{DataSoal.judulsoal}}" name="{{DataSoal.judulsoal}}" ng-model="CkHPMP[$parent.$index].jawaban[$index][0].hasil" value="3" disabled><!-- {{CkHPMP[$parent.$index].jawaban[$index][0].hasil}} --></td>
                            <td><input type="radio" id="{{DataSoal.judulsoal}}" name="{{DataSoal.judulsoal}}" ng-model="CkHPMP[$parent.$index].jawaban[$index][0].hasil" value="4" disabled><!-- {{CkHPMP[$parent.$index].jawaban[$index][0].hasil}} --></td>
                            <td><input type="radio" id="{{DataSoal.judulsoal}}" name="{{DataSoal.judulsoal}}" ng-model="CkHPMP[$parent.$index].jawaban[$index][0].hasil" value="5" disabled><!-- {{CkHPMP[$parent.$index].jawaban[$index][0].hasil}} --></td>
                         <!-- </tr> 
                         </tr> 
                      </tr>   -->                  
                    <tr ng-repeat-end></tr></tr>

                  </table>

        </div>
      </div>
    </div>
  </div><br><br>

  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Hasil Keseluruhan Data Survey Pemimipin Terhadap Alumni
        </h3>
      </div>
      <div class="row">
      <div class="col-xs-12">
          <nvd3 options="options" data="data"></nvd3>
      </div>
      </div>
  </div>

</div>


<!-- Forum Content -->


</div>


<!-- 
<div class="site-action">
  <button type="button" ng-click="dtEventAdd.showNewData()" class="site-action-toggle btn-raised btn btn-success btn-floating">
    <i class="front-icon md-upload animation-scale-up" aria-hidden="true"></i>
    <i class="back-icon md-close animation-scale-up" aria-hidden="true"></i>
  </button>
</div> -->

</div>