
 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

<div class="panel panel-default">
  <div class="panel-heading">
              <h3 class="panel-title">
                Data Berita Harian Add By Superadmin And Admin
              </h3>
            </div><div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">               
      <table datatable="ng" dt-instance="dtTdyNews.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
        <thead>
    <tr>
                  <th>No.</th>
                  <th>Judul</th>
                  <th>Tag</th>
                  <th>AddBy</th>
                  <th>Nim</th>
                  <th>Date Created</th>
                  <th>Time Created</th>
                  <th><button type="button" ng-click="go('alumni/todays-news/new')" class="btn btn-sm btn-success" title="Add New"><i class="glyphicon glyphicon-plus"></i> Add new</button></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="berita in dtTdyNews.OPTdy |orderBy:'created_at':true">
                  <td>{{$index + 1}}</td>
                  <td>{{berita.judul}}</td>
                  <td>{{berita.bidang}}</td>
                  <td>{{berita.addby}}</td>
                  <td>{{berita.nim}}</td>
                  <td>{{berita.created_at | date:'yyyy-MM-dd'}}</td>
                  <td>{{berita.created_at | date: 'HH:mm:ss'}}</td>
                  <td>
                    <!-- <a ui-sref="alumni.sadminedit({ person:_id })"> -->
                    <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="go('alumni/todays-news/edit/'+ berita._id +'/'+ berita.urlslug +'')">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <!-- </a> -->
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="showData(berita._id);">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Delete" ng-click="dtTdyNews.deleteData(berita._id)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </td>   
                </tr>
        </tbody> 
      </table>

    </div>
  </div>
</div>
</div>

</div>
</div>
</div>


 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

<div class="panel panel-default">
  <div class="panel-heading">
              <h3 class="panel-title">
                Data Berita Harian Add By Alumni
              </h3>
            </div><div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">               
      <table datatable="ng" dt-instance="dtTdyNews.dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
        <thead>
    <tr>
                  <th>No.</th>
                  <th>Judul</th>
                  <th>Tag</th>
                  <th>AddBy</th>
                  <th>Nim</th>
                  <th>Date Created</th>
                  <th>Time Created</th>
                  <th>Tools</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="berita1 in dtTdyNews.NotOPTdy |orderBy:'created_at':true">
                  <td>{{$index + 1}}</td>
                  <td>{{berita1.judul}}</td>
                  <td>{{berita1.bidang}}</td>
                  <td>{{berita1.addby}}</td>
                  <td>{{berita1.nim}}</td>
                  <td>{{berita1.created_at | date:'yyyy-MM-dd'}}</td>
                  <td>{{berita1.created_at | date: 'HH:mm:ss'}}</td>
                  <td>
                    <!-- <a ui-sref="alumni.sadminedit({ person:_id })"> -->
                    <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="go('alumni/todays-news/edit/'+ berita1._id +'/'+ berita1.urlslug +'')">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <!-- </a> -->
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="showData(berita1._id);">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Delete" ng-click="dtTdyNews.deleteData(berita1._id)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </td>   
                </tr>
        </tbody> 
      </table>

    </div>
  </div>
</div>
</div>

</div>
</div>
</div>





