<div class="app-media">
 <div class="page bg-white animsition">

  <!-- Media Content -->
  <div class="page-main">

    <!-- Media Content Header -->
      <div class="page-header">
        <h1 class="page-title">Edit Berita Harian</h1>
        <hr>
         <img ng-src="{{imgnya.slice(3)}}" class="width-full" style="height:255px;"/>
        <hr> 

        <form class="form-horizontal" ng-submit="dtTdyNewsEdit.Edit(judul, deskripsi, bidang, imgs)">
          <div class="row">
            <div class="col-xs-6 col-sm-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-file"> Judul</i></span>
                <input ng-model="judul" type="text" name="judul" id="judul" class="form-control" placeholder="judul" required>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"> Tag</i></span>
                <input ng-model="bidang" type="text" name="bidang" id="bidang" class="form-control" placeholder="tag" required>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-image-o"> Img</i></span>
                <input type="file" file-model="imgs" name="imgs" id="imgs" class="form-control" placeholder="Gambar">
              </div>
            </div>
          </div></br>
      
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-check-square"> Deskripsi</i></span>
            <div text-angular ng-model="deskripsi" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around" required></div>
          </div>
          <br>
          
          <div class="row">
              <div class="col-xs-6 col-sm-12" style="color:black;">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-check-square"><h6>RAW:</h6></i></span>
                  <textarea class="form-control" style="color:black; height:65px;" ng-model="deskripsi" id="postings" name="postings" placeholder="Deskripsi" disabled></textarea>
                </div>
              </div>
          </div>
          <br>
          <button type="submit" class="btn btn-success btn-filter">Edit</button>
          <button type="submit" class="btn btn-danger btn-filter" ng-click="go('/alumni/todays-news')">Back</button>

       </form>  
      
          <hr>
      </div>


  
    <!-- Forum Content -->
</div>


<!-- 
<div class="site-action">
  <button type="button" ng-click="dtTdyNewsNew.showNewData()" class="site-action-toggle btn-raised btn btn-success btn-floating">
    <i class="front-icon md-upload animation-scale-up" aria-hidden="true"></i>
    <i class="back-icon md-close animation-scale-up" aria-hidden="true"></i>
  </button>
</div> -->

</div>