<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Lihat Data Loker</h4>
   </div>
   <div class="modal-body">
    <form class="form-horizontal">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
            <div class="input-group">                
              <img ng-src="{{berita.urlimage}}" class="img-thumbnail" style="align:right;">
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              <input ng-model="berita.judul" type="text" name="judul" id="judul" class="form-control" placeholder="judul" readonly>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
              <input ng-model="berita.perusahaan" name="password" id="password" class="form-control" placeholder="Perusahaan" readonly>
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
                <input ng-model="berita.lokasi" type="text" name="nama" id="nama" class="form-control" placeholder="lokasi" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                <input type="text" class="form-control" placeholder="Gajih" id="hp" name="hp" ng-model="berita.gajih" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" placeholder="Addby" id="hp" name="hp" ng-model="berita.addby" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="text" class="form-control" placeholder="Create At" id="hp" name="hp" ng-model="berita.created_at" readonly>
              </div>
              <br/>
              <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
              <textarea class="form-control" ng-model="berita.detail['deskripsi']" name="address" id="address" placeholder="Deskripsi" readonly></textarea>
              </div>
              <br/>
              <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
              <textarea class="form-control" ng-model="berita.detail['prasyarat']" name="address" id="address" placeholder="Prasyarat" readonly></textarea>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                <input type="text" class="form-control" placeholder="Bidang" id="hp" name="hp" ng-model="berita.detail['bidang']" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-ok-circle"></i></span>
                <input type="text" class="form-control" placeholder="Date On" id="hp" name="hp" ng-model="berita.detail['date_on']" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-ban-circle"></i></span>
                <input type="text" class="form-control" placeholder="Date Off" id="hp" name="hp" ng-model="berita.detail['date_off']" readonly>
              </div>
              <br/>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>''