<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Hapus Data Loker</h4>
   </div>
   <div class="modal-body">
    <h3>Yakin Untuk Hapus Data</h3>
{{id}}
  </div>
  <div class="modal-footer">
   <div class="col-xs-6 col-sm-6 col-md-6">
   <button md-ink-ripple class="md-btn md-raised red btn-block p-h-md" ng-click="deleteData(hapus)" type="button">Ya</button></div>
   
   <div class="col-xs-6 col-sm-6 col-md-6">
    <button md-ink-ripple class="md-btn md-raised blue btn-block p-h-md" ng-click="lookData.hide()" type="button">Tidak</button>
    </div>
  </div>
</div>
</div>

</div>