<div class="login-page">
  <div class="img-container">
    <div class="text-center pull-right photo">
      <img src="public/UsrAlumni/img/if_ico.png" class="user-avatar img-circle img-responsive" />
      <h1>LOGIN TO<br/ > <span>ADMIN</span><br /></h1>
    </div>
  </div>

  <div class="form-content">
    <div class="pro-link">
      <!-- <a title="Register" ui-sref="MgSignup">Register</a> -->
    </div>
    <form role="form" class="bottom-75" name="logForm" ng-submit="LoginController1.doLogin(loginData);">
      <div class="table-form">
        <div class="form-groups">
          <h4 align="center" class="alert alert-warning" ng-show="LoginController1.errorMsg">{{LoginController1.errorMsg}}</h4>

          <div class="form-group">
            <input class="form-control input-lg" ng-model="LoginController1.loginData.username" placeholder="USERNAME" type="text" name="tusrNama" id="tusrNama" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-lg" id="tusrPassword" name="tusrPassword" ng-model="LoginController1.loginData.password" placeholder="PASSWORD" required>
          </div>
          

        </div>  
        <div class="button-container">
          <button type="submit" class="btn btn-default login"><img src="public/UsrAlumni/login/images/arrow.png" alt=""></button>
        </div>
      </div>
     <!--  <div class="remember">
        <label class="checkbox1" for="Option"> 
          <input id="Option" type="checkbox" class="">
          <span></span>
        </label>
        remember me
        <span class="pass"> forgot password?</span>
      </div> -->      
    </form>
  </div>      
</div>
</div>
