   <!-- // <script src="https://unpkg.com/jquery"></script> -->
  <script src="public/vendor/survey/survey.jquery.js"></script>
        <link href="public/vendor/survey/survey.css" type="text/css" rel="stylesheet"/>
 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Hasil Survey Pimpinan Kepada Alumni Atas NAMA <span class="fa fa-user"> {{Alm}}</span>
          <!-- <div class="pull-right">
            <button class="btn btn-success" ng-click="gotosref('alumni/add-survey')">Add survey</button>
            <button class="btn btn-primary" ng-click="gotosref('alumni/hasil-survey-alumni')">Results Surveys</button>
          </div> -->
        </h3>
      </div><div class="row">
      <div class="col-xs-12">
          <div id="surveyElement"></div>
          <div id="surveyResult"></div>
          <div class="pull-left"><button class="btn btn-danger" ng-click="go('alumni/hasil-survey-alumni/'+ ResSoals._id +'/'+ ResSoals.urlslug +'')"> Back</button></div>
        <!-- {{ddtt}} -->
      </div>
    </div>
  </div><br><br>

<!--   <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Pie Chart Data Survey Alumni
        </h3>
      </div>
      <div class="row">
      <div class="col-xs-12">
          <nvd3 options="options" data="data"></nvd3>
      </div>
      </div>
  </div> -->

</div>


<!-- Forum Content -->


 <div class="panel panel-default" ng-show="DataHide === true">
      <div class="panel-heading">
        <h3 class="panel-title">
          Hasil Survey Pimpinan Terhadap Kinerja Alumni
        </h3>
      </div>
      <div class="row">
      <div class="col-md-12">
          <nvd3 options="options" data="data"></nvd3>
      </div>
      </div>
  </div>

</div>
</div>