
 <div class="page animsition">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">

<div class="panel panel-default">
  <div class="panel-heading">
              <h3 class="panel-title">
                Data Slider
              </h3>
            </div><div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">               
      <table datatable="ng" dt-instance="dtInstance" class="display compact cell-border" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nim</th>
            <th>Nama</th>
            <th>Judul</th>
            <th>Created Date</th>
            <th>Created Time</th>
            <th><button type="button" ng-click="showCreateData();" class="btn btn-sm btn-success" title="Add New"><i class="glyphicon glyphicon-plus"></i> Add new</button></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="person in sld">
            <td>{{$index + 1}}</td>
            <td>{{person.nim}}</td>
            <td>{{person.addby}}</td>
            <td>{{person.judul}}</td>
            <td>{{person.created_at | date:'yyyy-MM-dd'}}</td>
            <td>{{person.created_at | date: 'HH:mm:ss'}}</td>
            <td>
              <!-- <a ui-sref="alumni.sadminedit({ person:_id })"> -->
              <button type="button" data-placement="top" title="Edit" class="btn btn-xs btn-default" ng-click="go('alumni/account-alumni/edit/'+ person._id +'')">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <!-- </a> -->
              <button type="button" class="enabledisable-news btn btn-xs btn-default" title="Read" ng-click="showData(person._id);">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
              <button type="button" title="Delete" class="remove-news btn btn-xs btn-default" ng-click="delete(person._id);">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>   
          </tr>
        </tbody> 
      </table>

    </div>
  </div>
</div>
</div>

</div>
</div>
</div>