<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Add Slider</h4>
   </div>
   <div class="modal-body">
    <form class="form-horizontal">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
        <hr>
         <img ng-src="{{slidee.imgs}}" class="width-full" style="height:255px;"/>
        <hr> 
          <div class="box-body">
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-file"></i> Judul</span>
              <input ng-model="slidee.judul" type="text" name="judul" id="judul" class="form-control" placeholder="judul" required>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-list-alt"></i> Deskripsi</span>
              <textarea class="form-control" ng-model="slidee.deskripsi" placeholder="Deskripsi" id="Deskripsi" name="Deskripsi" required></textarea>
            </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-bolt"></i> Url Img</span>
                <input type="url" class="form-control" placeholder="Url Image" id="hp" name="hp" ng-model="slidee.imgs" required>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-user"></i> Addby</span>
                <input type="text" class="form-control" placeholder="Addby" id="hp" name="hp" ng-model="slidee.addby" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-user"></i> Nim</span>
                <input type="text" class="form-control" placeholder="Addby" id="hp" name="hp" ng-model="slidee.nim" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-calendar"></i> Created At</span>
                <input type="date" class="form-control" placeholder="Create At" id="hp" name="hp" ng-model="created_at" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-calendar"></i> Time At</span>
                <input type="time" class="form-control" placeholder="Create At" id="hp" name="hp" ng-model="created_at" readonly>
              </div>
              <br/>
                        <span class="pull-right">
                          <div class="btn-group">
                           <button type="reset" class="btn btn-warning btn-filter" title="Refress"><i class="fa fa-refres"></i> Reset</button>
                            <button type="submit" class="btn btn-success btn-filter" title="Create" ng-click="EditData(slidee._id, slidee.judul, slidee.deskripsi, slidee.imgs)"><i class="fa fa-arrow-right"></i> Edit</button>
                          </div>
                        </span>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>