<div class="modal" role="dialog" id="lookData" >

 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button class="close" ng-click="lookData.hide()" type="button">x</button>
     <h4 class="modal-title">Startup Alumni</h4>
   </div>
   <div class="modal-body">
    <form class="form-horizontal">

        <div class="box box-info">
          <!-- glyphicon glyphicon-user -->
          <div class="box-body">
              <!-- <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
              
                  <select class="form-control" value="Admin" name="level" id="level" ng-model="nim" required>
                    <option value="">-- SELECT NIM --</option>
                    <option ng-repeat="data in AccAlmAdd.cralumnisx | orderBy: 'mhsNiu'" value="{{data.mhsNiu}}" >{{data.mhsNiu}} - {{data.mhsNama}}</option>
                  </select>
              </div> -->
             <!--  <br/>
              <div class="input-group" ng-show="nim">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input ng-model="nim" ng-blur="AccAlmAdd.checkNim(sgnData)" type="text" name="nim" id="nim" class="form-control" placeholder="NIM" required readonly>
              </div>
             -->
          <br>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-file"></i> Nama StartUp</span>
              <input ng-model="nama" type="text" name="nama" id="nama" class="form-control" placeholder="nama" required>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-list-alt"></i> Deskripsi / Produk StartUp</span>
              <textarea class="form-control" ng-model="deskripsi" placeholder="Deskripsi" id="Deskripsi" name="Deskripsi" required></textarea>
            </div>
              <br/>
              <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-tag"></i> Bidang</span>
              <input ng-model="bidang" type="text" name="bidang" id="bidang" class="form-control" placeholder="bidang" required>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="glyphicon glyphicon-bookmark"></i> Website StartUp</span>
              <input ng-model="web" type="url" name="web" id="web" class="form-control" placeholder="web" required>
            </div>
            <br/>
            <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-calendar"></i> Tahun Berdiri</span>
              <input ng-model="tahun" type="month" name="tahun" id="tahun" class="form-control" placeholder="tahun" required>
            </div>
           
              <br/>
              <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-user"></i> Nim</span>
              <input ng-model="nim" type="number" name="tahun" id="tahun" class="form-control" placeholder="tahun" readonly>
            </div>
           
              <br/>
              <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-user"></i> Nama</span>
              <input ng-model="addby" type="text" name="tahun" id="tahun" class="form-control" placeholder="tahun" readonly>
            </div>
           
              <br/>
              <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-calendar"></i> Jam Pembuatan</span>
              <input ng-model="created_at" type="time" name="tahun" id="tahun" class="form-control" placeholder="tahun" readonly>
            </div>
           
              <br/>
              <div class="input-group">
              <span class="input-group-addon" style="min-width:185px; text-align:left;"><i class="fa fa-calendar"></i> Tanggal Pembuatan</span>
              <input ng-model="created_at" type="date" name="tahun" id="tahun" class="form-control" placeholder="tahun" readonly>
            </div>
           
              <br/>
                        <span class="pull-right">
                          <div class="btn-group">
                           <button type="reset" class="btn btn-warning btn-filter" title="Refress"><i class="fa fa-refres"></i> Reset</button>
                            <button type="submit" class="btn btn-success btn-filter" title="Create" ng-click="EdData(_id, nama, deskripsi, bidang, web, tahun)"><i class="fa fa-arrow-right"></i> Create</button>
                          </div>
                        </span>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </form>
    </div>
  </div>
</div>

</div>''