<div id="sticker" class="header_bottom_area hidden-sm hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="logo_area">
                        <a href="index.html"><img src="img/logo/logo-3.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="menu_area">
                        <div class="menu">
                            <nav>
                                <ul>
                                    <li class="active"><a href="index.html">Home </a>

                                    </li>
                                    <li><a href="courses.html">Courses<i class="fa fa-caret-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="courses.html">Courses</a></li>
                                            <li><a href="courses-details.html">Courses-details</a></li>
                                        </ul>

                                    </li>
                                    <li><a href="event.html">Event <i class="fa fa-caret-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="event.html">Event</a></li>
                                            <li><a href="event-details.html">Event-details</a></li>
                                        </ul>

                                    </li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="#">Pages<i class="fa fa-caret-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="about-us.html">About us</a></li>
                                            <li><a href="courses.html">Courses-page</a></li>
                                            <li><a href="courses-details.html">Courses-details</a></li>
                                            <li><a href="event.html">Event-page</a></li>
                                            <li><a href="event-details.html">Event-details</a></li>
                                            <li><a href="news.html">News-page</a></li>
                                            <li><a href="news-details.html">News-details-page</a></li>
                                            <li><a href="contact-us.html">Contact</a></li>
                                        </ul>

                                    </li>
                                    <li><a href="news.html">News <i class="fa fa-caret-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="news.html">News-page</a></li>
                                            <li><a href="news-details.html">News-details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact-us.html">Contact </a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header bottom end-->
    <!-- mobile-menu-area-start -->
    <div class="mobile-menu-area hidden-md hidden-lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul id="nav">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="courses.html">Courses</a>
                                    <ul>
                                        <li><a href="courses.html">Courses</a></li>
                                        <li><a href="courses-details.html">Courses-details</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="event.html">Event</a>
                                    <ul>
                                        <li><a href="event.html">Event</a></li>
                                        <li><a href="event-details.html">Event-details</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="gallery.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li><a href="about-us.html">About us</a></li>
                                        <li><a href="courses.html">Courses-page</a></li>
                                        <li><a href="courses-details.html">Courses-details</a></li>
                                        <li><a href="event.html">Event-page</a></li>
                                        <li><a href="event-details.html">Event-details</a></li>
                                        <li><a href="news.html">News-page</a></li>
                                        <li><a href="news-details.html">News-details-page</a></li>
                                        <li><a href="contact-us.html">Contact</a></li>

                                    </ul>
                                </li>
                                <li><a href="news.html">News</a>
                                    <ul>
                                        <li><a href="news.html">News-page</a></li>
                                        <li><a href="news-details.html">News-details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">Contact </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area-end -->
    <!--slider area start-->
    <section class="slider-area">
        <div class="bend niceties preview-2">
            <div id="ensign-nivoslider" class="slides">
                <img src="img/slider/new_slider.jpg" alt="" title="#slider-direction-1" />
                <img src="img/slider/slider3.jpg" alt="" title="#slider-direction-2" />
                <img src="img/slider/latest-new.jpg" alt="" title="#slider-direction-3" />
            </div>
            <!-- direction 1 -->
            <div id="slider-direction-1" class="t-cn slider-direction slider-one">
                <div class="slider-progress"></div>
                <!-- layer 1 -->
                <div class="layer-1-1 wow fadeInDown" data-wow-duration="0.3s" data-wow-delay="0s">
                    <h3>WELCOME TO UNI<span>CA</span>RE</h3>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow flipInX" data-wow-duration="0.8s" data-wow-delay="0.3s">
                    <h1>WE ARE <span>AWESOME </span> University</h1>
                </div>

                <!-- layer 3 -->
                <div class="layer-1-3 wow bounceInRight" data-wow-duration="0.2s" data-wow-delay="0.7s">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- layer 4 -->
                <div class="layer-1-4  wow bounceInUp" data-wow-duration="0.6s" data-wow-delay="1.1s">
                    <a class="my_button" href="#">learn More</a>
                </div>

            </div>

            <!-- direction 2 -->
            <div id="slider-direction-2" class="slider-direction slider-two">
                <div class="slider-progress"></div>
                <!-- layer 1 -->
                <div class="layer-1-1 wow fadeInRight animated animated" data-wow-duration=".9s" data-wow-delay="0s" style="visibility: visible; animation-duration: 0.9s; animation-delay: 0s; animation-name: fadeInRight;">
                    <h3>WELCOME TO UNI<span>CA</span>RE</h3>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow fadeInLeft animated animated" data-wow-duration=".9s" data-wow-delay="0s" style="visibility: visible; animation-duration: 0.9s; animation-delay: 0s; animation-name: fadeInLeft;">
                    <h1>THE BEST <span>LEARNING </span> INSTITUTION</h1>
                </div>

                <!-- layer 3 -->
                <div class="layer-1-3 wow bounceInRight" data-wow-duration="0.2s" data-wow-delay="0.7s">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- layer 4 -->
                <div class="layer-1-4 wow bounceInUp" data-wow-duration="0.6s" data-wow-delay="1.1s">
                    <a class="my_button" href="#">learn More</a>
                </div>

            </div>

            <!-- direction 3 -->
            <div id="slider-direction-3" class="t-cn slider-direction slider-one">
                <div class="slider-progress"></div>
                <!-- layer 1 -->
                <div class="layer-1-1 wow fadeInDown" data-wow-duration="0.3s" data-wow-delay="0s">
                    <h3>WELCOME TO UNI<span>CA</span>RE</h3>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow flipInX" data-wow-duration="0.8s" data-wow-delay="0.3s">
                    <h1>WE ARE <span>AWESOME </span> UNIVERSITY</h1>
                </div>

                <!-- layer 3 -->
                <div class="layer-1-3 wow bounceInRight" data-wow-duration="0.2s" data-wow-delay="0.7s">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!-- layer 4 -->
                <div class="layer-1-4  wow bounceInUp" data-wow-duration="0.6s" data-wow-delay="1.1s">
                    <a class="my_button" href="#">learn More</a>
                </div>

            </div>
        </div>
    </section>
    <!--slider area end-->
    <!--our service area start-->
    <section id="new_2" class="our_service_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="service_heading">
                        <h2 class="wow animated">Why Join Uni<span>ca</span>re</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="service_design area">
                <div class="row">
                    <div class="all_design">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="sicial_icon_design wow animated zoomIn animated" data-wow-delay="0.2s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: zoomIn;">
                                <div class="design">
                                    <i class="fa fa-trophy"></i>

                                </div>
                                <div class="social-desc">
                                    <h3><a href="#">Expert teachers</a></h3>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat vel illum</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="sicial_icon_design wow animated zoomIn animated" data-wow-delay="0.2s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: zoomIn;">
                                <div class="design">
                                    <i class="fa fa-check"></i>

                                </div>
                                <div class="social-desc">
                                    <h3><a href="#">Trusted certifications</a></h3>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat vel illum</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="sicial_icon_design wow animated zoomIn animated" data-wow-delay="0.2s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: zoomIn;">
                                <div class="design">
                                    <i class="fa fa-microphone"></i>

                                </div>
                                <div class="social-desc">
                                    <h3><a href="#">+500 Audio lessons</a></h3>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat vel illum</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="sicial_icon_design wow animated zoomIn animated" data-wow-delay="0.2s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: zoomIn;">
                                <div class="design">
                                    <i class="fa fa-file-video-o"></i>

                                </div>
                                <div class="social-desc social-desc-space">
                                    <h3><a href="#">+1.200 Video lessons</a></h3>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat vel illum</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our service area end-->
    <!--about area start-->
    <section class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="about_content">

                        <h2>
							About Our Awesome Institute</h2>
                        <p>Nam cursus imperdiet elit. Fusce sollicitudin eget nulla in condimentum. Nullam dignissim id magna non tempus. Vivamus molestie nulla nec pharetra dignissim. Suspendisse auctor nisi et neque vehicula pulvinar. Quisque quis tempus magna. Quisque sed luctus nunc sapien.Wam cursus imperdiet elit. Fusce sollicitudin eget nulla in condimentum. Nullam dignissim id magna non tempus. Vivamus molestie nulla nec pharetra dignissim. Suspendisse auctor nisi et neque vehicula pulvinar. Quisque quis tempus magna. Quisque sed luctus nunc sapien.</p>
                        <a class="about_btn" href="#">LEARN MORE</a>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="about_vidieo_area embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/8mb-0qbq984" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--about area end-->
    <!--awesome area start-->
    <section id="new_3" class="awesome_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="awesome_heading">
                        <h2>Awesome Features</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="awesome_left_area">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="awesome_photography">
                            <div class="single-icon_new">
                                <div class="flat-new">
                                    <i class="fa fa-picture-o"></i>
                                </div>
                                <div class="awesome_start">
                                    <h3>Photograph</h3>
                                    <p>Continually formulate crplatform an customer service via resource and lveling and networks. Monotonectally build competitive </p>
                                </div>
                            </div>
                            <div class="single-icon_new">
                                <div class="flat-new flat-new_space">
                                    <i class="fa fa-home"></i>

                                </div>
                                <div class="awesome_start awesome_start_space">
                                    <h3>Web Designing</h3>
                                    <p>Continually formulate crplatform an customer service via resource and lveling and networks. Monotonectally build competitive </p>
                                </div>
                            </div>
                            <div class="single-icon_new">
                                <div class="flat-new flat-new_space">
                                    <i class="fa fa-book"></i>

                                </div>
                                <div class="awesome_start awesome_start_space">
                                    <h3>seo friendly</h3>
                                    <p>Continually formulate crplatform an customer service via resource and lveling and networks. Monotonectally build competitive </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 col-xs-12">

                        <div class="awesome_pic wow zoomIn" data-wow-delay="0s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: zoomIn;">
                            <div class="aww_photo wow zoomIn" data-wow-delay="0s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: zoomIn;"></div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="awesome_photography_2">
                            <div class="single-icon">
                                <div class="flat-new_2">
                                    <i class="fa fa-television"></i>

                                </div>
                                <div class="awesome_start_2">
                                    <h3>Creativity</h3>
                                    <p>Continually formulate crplatform an customer service via resource and lveling and networks. Monotonectally build competitive </p>
                                </div>
                            </div>
                            <div class="single-icon">
                                <div class="flat-new_2 flat-new_space_2">
                                    <i class="fa fa-file-image-o"></i>

                                </div>
                                <div class="awesome_start_2 awesome_start_space_2">
                                    <h3>digital</h3>
                                    <p>Continually formulate crplatform an customer service via resource and lveling and networks. Monotonectally build competitive </p>
                                </div>
                            </div>
                            <div class="single-icon">
                                <div class="flat-new_2 flat-new_space_2">
                                    <i class="fa fa-clock-o"></i>

                                </div>
                                <div class="awesome_start_2 awesome_start_space_2">
                                    <h3>24/7 online support</h3>
                                    <p>Continually formulate crplatform an customer service via resource and lveling and networks. Monotonectally build competitive </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--awesome area end-->
    <!--gallery area start-->
    <section id="new_4" class="galary_area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-md-12 col-xs-12">
                    <div class="galary_heading">
                        <h2>Our Creative Gallery</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="galary_new_section">
                    <div class="all_galary">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="row">
                                <div class="galary_image">
                                    <img src="img/gallery-pic/galary_1.jpg" alt="" />
                                    <div class="galary_overly"></div>
                                    <div class="caption">
                                        <i class="fa fa-picture-o"></i>

                                        <h3>attractive design</h3>
                                        <h4>Gallery image</h4>
                                    </div>
                                </div>
                                <div class="galary_image">
                                    <img src="img/gallery-pic/galary_2.jpg" alt="" />
                                    <div class="galary_overly"></div>
                                    <div class="caption">
                                        <i class="fa fa-picture-o"></i>
                                        <h3>attractive design</h3>
                                        <h4>Gallery image</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="row">
                                <div class="galary_image">
                                    <img src="img/gallery-pic/galary_3.jpg" alt="" />
                                    <div class="galary_overly"></div>
                                    <div class="caption">
                                        <i class="fa fa-picture-o"></i>
                                        <h3>attractive design</h3>
                                        <h4>Gallery image</h4>
                                    </div>
                                </div>
                                <div class="galary_image">
                                    <img src="img/gallery-pic/galary_4.jpg" alt="" />
                                    <div class="galary_overly"></div>
                                    <div class="caption">
                                        <i class="fa fa-picture-o"></i>
                                        <h3>attractive design</h3>
                                        <h4>Gallery image</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="row">
                                <div class="galary_image">
                                    <img src="img/gallery-pic/galary_single_pic.png" alt="" />
                                    <div class="galary_overly"></div>
                                    <div class="caption">
                                        <i class="fa fa-picture-o"></i>
                                        <h3>attractive design</h3>
                                        <h4>Gallery image</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="row">
                                <div class="galary_image">
                                    <img src="img/gallery-pic/galary_next_1.jpg" alt="" />
                                    <div class="galary_overly"></div>
                                    <div class="caption">
                                        <i class="fa fa-picture-o"></i>
                                        <h3>attractive design</h3>
                                        <h4>Gallery image</h4>
                                    </div>
                                </div>
                                <div class="galary_image">
                                    <img src="img/gallery-pic/galary_next_2.jpg" alt="" />
                                    <div class="galary_overly"></div>
                                    <div class="caption">
                                        <i class="fa fa-picture-o"></i>
                                        <h3>attractive design</h3>
                                        <h4>Gallery image</h4>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--gallery area end-->
    <!--popular course area start-->
    <section class="popular_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="awesome_heading">
                        <h2>Popular course</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="all_popular_product">
                <div class="col-md-12">
                    <div class="row">
                        <div class="main_new_pro indicator-brand-2">
                            <div class="col-md-12">
                                <div class="item">
                                    <div class="image bottom20">
                                        <img class="img-responsive border_radius" alt="Courses" src="img/course-pic/course1.jpg" />
                                    </div>
                                    <div class="xotica_area">
                                        <h3 class="bottom15">
										<a href="course_detail.html">Department of Mechanical Engineering (ME)</a>
									</h3>
                                        <p class="bottom15 new-one">We offer the most complete house renovating services in the country, from kitchen design to bathroom remodeling.</p>

                                        <a class="btn_common blue border_radius" href="course_detail.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="item">
                                    <div class="image bottom20">
                                        <img class="img-responsive border_radius" alt="Courses" src="img/course-pic/course2.jpg" />
                                    </div>
                                    <div class="xotica_area">
                                        <h3 class="bottom15">
										<a href="course_detail.html">Industrial & Production Engineering (IPE)</a>
									</h3>
                                        <p class="bottom15 new-one">We offer the most complete house renovating services in the country, from kitchen design to bathroom remodeling.</p>

                                        <a class="btn_common blue border_radius" href="course_detail.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="item">
                                    <div class="image bottom20">
                                        <img class="img-responsive border_radius" alt="Courses" src="img/course-pic/course3.jpg" />
                                    </div>
                                    <div class="xotica_area">
                                        <h3 class="bottom15">
										<a href="course_detail.html">Department of Civil Engineering (CE)</a>
									</h3>
                                        <p class="bottom15 new-one">We offer the most complete house renovating services in the country, from kitchen design to bathroom remodeling.</p>
                                        <a class="btn_common blue border_radius" href="course_detail.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="item">
                                    <div class="image bottom20">
                                        <img class="img-responsive border_radius" alt="Courses" src="img/course-pic/course4.jpg" />
                                    </div>
                                    <div class="xotica_area">
                                        <h3 class="bottom15">
										<a href="course_detail.html">Department of Civil Engineering (CE)</a>
									</h3>
                                        <p class="bottom15 new-one">We offer the most complete house renovating services in the country, from kitchen design to bathroom remodeling.</p>

                                        <a class="btn_common blue border_radius" href="course_detail.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="item">
                                    <div class="image bottom20">
                                        <img class="img-responsive border_radius" alt="Courses" src="img/course-pic/course5.jpg" />
                                    </div>
                                    <div class="xotica_area">
                                        <h3 class="bottom15">
										<a href="course_detail.html">Department of Electronic Engineering (EEE)</a>
									</h3>
                                        <p class="bottom15 new-one">We offer the most complete house renovating services in the country, from kitchen design to bathroom remodeling.</p>

                                        <a class="btn_common blue border_radius" href="course_detail.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="item">
                                    <div class="image bottom20">
                                        <img class="img-responsive border_radius" alt="Courses" src="img/course-pic/course6.jpg" />
                                    </div>
                                    <div class="xotica_area">
                                        <h3 class="bottom15">
										<a href="course_detail.html">Department of Biomedical Engineering (BME)</a>
									</h3>
                                        <p class="bottom15 new-one">We offer the most complete house renovating services in the country, from kitchen design to bathroom remodeling.</p>

                                        <a class="btn_common blue border_radius" href="course_detail.html">Read More</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--popular course area end-->
    <!--counter area start-->
    <section class="counter_area text-center">
        <div class="counter_overlay">
            <div class="container">
                <div class="row">
                    <div class="counter_top">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="count">
                                <i class="fa fa-graduation-cap"></i>

                                <span class="counter">2021</span>
                                <h4>Total Lectures</h4>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="count">
                                <i class="fa fa-book"></i>

                                <span class="counter">1411</span>
                                <i class=""></i>
                                <h4>Total Courses</h4>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="count">
                                <i class="fa fa-balance-scale"></i>

                                <span class="counter">1591</span>
                                <h4>Total Tests</h4>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="count">
                                <i class="fa fa-calculator"></i>

                                <span class="counter">9921</span>
                                <h4>Total Classes</h4>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--counter area end-->
    <!--event area start-->
    <div class="event_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="awesome_heading">
                        <h2>Our commingsoon events</h2>
                        <p class="next_new_reh">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="all_special">
                    <div class="special_pro">
                        <div class="col-md-3 col-sm-6">
                            <div class="iq_upcomming_event">
                                <figure>
                                    <img alt="Image Here" src="img/event-pic/pic-1.jpg">
                                </figure>
                                <div class="iq_upcomming_des">
                                    <span>15 feb</span>
                                    <p>10:30 am</p>
                                    <h5>
                        <a href="#">Attend our motivational event</a>
                        </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="iq_upcomming_event">
                                <figure>
                                    <img alt="Image Here" src="img/event-pic/pic-2.jpg">
                                </figure>
                                <div class="iq_upcomming_des">
                                    <span>15 feb</span>
                                    <p>10:30 am</p>
                                    <h5>
                        <a href="#">Attend our motivational event</a>
                        </h5>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="iq_upcomming_event">
                                <figure>
                                    <img alt="Image Here" src="img/event-pic/pic-3.jpg">
                                </figure>
                                <div class="iq_upcomming_des">
                                    <span>15 feb</span>
                                    <p>10:30 am</p>
                                    <h5>
                        <a href="#">Attend our motivational event</a>
                        </h5>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="iq_upcomming_event">
                                <figure>
                                    <img alt="Image Here" src="img/event-pic/pic-4.jpg">
                                </figure>
                                <div class="iq_upcomming_des">
                                    <span>15 feb</span>
                                    <p>10:30 am</p>
                                    <h5>
                            <a href="#">Attend our motivational event</a>
                            </h5>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 col-sm-6">

                            <div class="iq_upcomming_event iq_upcomming_event_2 iq_upcomming_event_space ">
                                <figure>
                                    <img alt="Image Here" src="img/event-pic/pic-5.jpg">
                                </figure>
                                <div class="iq_upcomming_des">
                                    <span>15 feb</span>
                                    <p>10:30 am</p>
                                    <h5>
                            <a href="#">Attend our motivational event</a>
                            </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="iq_upcomming_event iq_upcomming_event_2 iq_upcomming_event_space">
                                <figure>
                                    <img alt="Image Here" src="img/event-pic/pic-6.jpg">
                                </figure>
                                <div class="iq_upcomming_des">
                                    <span>15 feb</span>
                                    <p>10:30 am</p>
                                    <h5>
                        <a href="#">Attend our motivational event</a>
                        </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="iq_upcomming_event iq_upcomming_event_2 iq_upcomming_event_space">
                                <figure>
                                    <img alt="Image Here" src="img/event-pic/pic-7.jpg">
                                </figure>
                                <div class="iq_upcomming_des">
                                    <span>15 feb</span>
                                    <p>10:30 am</p>
                                    <h5>
                        <a href="#">Attend our motivational event</a>
                        </h5>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="iq_upcomming_event iq_upcomming_event_2 iq_upcomming_event_space last_one">
                                <figure>
                                    <img alt="Image Here" src="img/event-pic/pic-8.jpg">
                                </figure>
                                <div class="iq_upcomming_des">
                                    <span>15 feb</span>
                                    <p>10:30 am</p>
                                    <h5>
                        <a href="#">Attend our motivational event</a>
                        </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--event area end-->
    <!--our team area start-->
    <section class="our_team_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-12 col-xs-12">
                    <div class="our_team_heading">
                        <h2>Meet Our Team</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="team_image">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="team_single">
                            <div class="tm-img">
                                <img src="img/team-pic/team_image_1.jpg" alt="" />
                            </div>
                            <div class="team_overlay"></div>
                            <div class="team_content">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>

                            <div class="team_membar_details">
                                <h3>Mariah Smith</h3>
                                <h4>Language Instructor</h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="team_single">
                            <div class="tm-img">
                                <img src="img/team-pic/team_image_2.png" alt="" />
                            </div>
                            <div class="team_overlay"></div>
                            <div class="team_content">
                                <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>

                            <div class="team_membar_details">
                                <h3>Joydin Norris</h3>
                                <h4>Vice President</h4>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="team_single">
                            <div class="tm-img">
                                <img src="img/team-pic/team_image_3.jpg" alt="" />
                            </div>
                            <div class="team_overlay"></div>
                            <div class="team_content">
                                <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>

                            <div class="team_membar_details">
                                <h3>Sara Adward</h3>
                                <h4>Manager</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our team area end-->

    <!--our client area start-->
    <section class="our_client_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-12 col-xs-12">
                    <div class="client_heading">
                        <h2>Our Client Logo</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="carrasol_area">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="new_carassol indicator-brand-3">
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_1.png" alt="" />
                            </div>
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_2.png" alt="" />
                            </div>
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_3.png" alt="" />
                            </div>
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_4.png" alt="" />
                            </div>
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_1.png" alt="" />
                            </div>
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_2.png" alt="" />
                            </div>
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_3.png" alt="" />
                            </div>
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_4.png" alt="" />
                            </div>
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_1.png" alt="" />
                            </div>
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_2.png" alt="" />
                            </div>
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_3.png" alt="" />
                            </div>
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_4.png" alt="" />
                            </div>
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_1.png" alt="" />
                            </div>
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_2.png" alt="" />
                            </div>
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_3.png" alt="" />
                            </div>
                            <div class="single_carasol">
                                <img src="img/client-logo/client_pic_4.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our client area end-->
    <!--our pricing area start-->
    <section id="new_5" class="our_pricing_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-12 col-xs-12">
                    <div class="pricing_heading">
                        <h2>Our Pricing Plan</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="new_price">
                        <div class="all_pricing">
                            <div class="table_status">
                                <h2>Business Plan New</h2>
                                <h3>For Super Professional</h3>
                            </div>
                            <div class="pricing_top">
                                <h1>22</h1>
                                <h3>Per month</h3>
                            </div>
                            <ul>
                                <li>Unimited Pizza</li>
                                <li>Daft punk Every Evenings</li>
                                <li>Full Access Pizza</li>
                                <li>2 Free Farks Every Months</li>
                                <li>Unlimited Burger</li>
                            </ul>
                            <a class="pricing_button">sign up</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="new_price">
                        <div class="all_pricing">
                            <div class="table_status">
                                <h2>Enterprise Plan</h2>
                                <h3>For Super Professional</h3>
                            </div>
                            <div class="pricing_top">
                                <h1>47</h1>
                                <h3>Per month</h3>
                            </div>
                            <ul>
                                <li>Unimited Pizza</li>
                                <li>Daft punk Every Evenings</li>
                                <li>Full Access Pizza</li>
                                <li>2 Free Farks Every Months</li>
                                <li>Unlimited Burger</li>
                            </ul>
                            <a class="pricing_button">sign up</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="new_price">
                        <div class="all_pricing">
                            <div class="table_status">
                                <h2>Professional Plan</h2>
                                <h3>For Super Professional</h3>
                            </div>
                            <div class="pricing_top">
                                <h1>89</h1>
                                <h3>Per month</h3>
                            </div>
                            <ul>
                                <li>Unimited Pizza</li>
                                <li>Daft punk Every Evenings</li>
                                <li>Full Access Pizza</li>
                                <li>2 Free Farks Every Months</li>
                                <li>Unlimited Burger</li>
                            </ul>
                            <a class="pricing_button">sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our pricing area end-->
    <!--our blog area start-->
    <section class="our_blog_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-12 col-xs-12">
                    <div class="blog_heading">
                        <h2>Our Latest Blog</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="blog_new_section">
                <div class="row">
                    <div class="main_blg_area indicator-brand-4">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="all_blog">
                                <div class="recent_blog">
                                    <div class="single_blog">
                                        <img src="img/blog-pic/blog_icon_1.png" alt="" />
                                    </div>
                                    <div class="blog_image">
                                        <a href="#">
                                            <img src="img/blog-pic/blog_pic_1.jpg" alt="" />
                                            <div class="blog_ovrly"></div>
                                        </a>
                                    </div>
                                    <div class="blog_statement">
                                        <h2><a href="">Blog image post layout</a></h2>
                                        <div class="meta_post">
                                            <i class="fa icon fa-user"></i>
                                            <a href="#">Robot</a>
                                            <i class="fa icon fa-comments-o"></i>
                                            <a href="#">12 Comments</a>
                                            <i class="fa icon fa-eye"></i>
                                            <span>112</span>
                                        </div>
                                        <p>Holisticly impact grar collaboron ashearing for magnetic scearios tart listic aileaership after staart process improvements. </p>
                                        <a href="#" class="blog_button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="all_blog">
                                <div class="recent_blog">
                                    <div class="single_blog">
                                        <img src="img/blog-pic/blog_icon_2.png" alt="" />
                                    </div>
                                    <div class="blog_image">
                                        <a href="#">
                                            <img src="img/blog-pic/blog_pic_2.jpg" alt="" />
                                            <div class="blog_ovrly"></div>
                                        </a>
                                    </div>
                                    <div class="blog_statement">
                                        <h2><a href="">Blog audio post layout</a></h2>
                                        <div class="meta_post">
                                            <i class="fa icon fa-user"></i>
                                            <a href="#">Robot</a>
                                            <i class="fa icon fa-comments-o"></i>
                                            <a href="#">12 Comments</a>
                                            <i class="fa icon fa-eye"></i>
                                            <span>112</span>
                                        </div>
                                        <p>Holisticly impact grar collaboron ashearing for magnetic scearios tart listic aileaership after staart process improvements. </p>
                                        <a href="#" class="blog_button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="all_blog">
                                <div class="recent_blog">
                                    <div class="single_blog">
                                        <img src="img/blog-pic/blog_icon_3.png" alt="" />
                                    </div>
                                    <div class="blog_image">
                                        <a href="#">
                                            <img src="img/blog-pic/blog_pic_3.jpg" alt="" />
                                            <div class="blog_ovrly"></div>
                                        </a>
                                    </div>
                                    <div class="blog_statement">
                                        <h2><a href="">Blog vidieo post layout</a></h2>
                                        <div class="meta_post">
                                            <i class="fa icon fa-user"></i>
                                            <a href="#">Robot</a>
                                            <i class="fa icon fa-comments-o"></i>
                                            <a href="#">12 Comments</a>
                                            <i class="fa icon fa-eye"></i>
                                            <span>112</span>
                                        </div>
                                        <p>Holisticly impact grar collaboron ashearing for magnetic scearios tart listic aileaership after staart process improvements. </p>
                                        <a href="#" class="blog_button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="all_blog">
                                <div class="recent_blog">
                                    <div class="single_blog">
                                        <img src="img/blog-pic/blog_icon_1.png" alt="" />
                                    </div>
                                    <div class="blog_image">
                                        <a href="#">
                                            <img src="img/blog-pic/blog_pic_4.jpg" alt="" />
                                            <div class="blog_ovrly"></div>
                                        </a>
                                    </div>
                                    <div class="blog_statement">
                                        <h2><a href="">Blog image post layout</a></h2>
                                        <div class="meta_post">
                                            <i class="fa icon fa-user"></i>
                                            <a href="#">Robot</a>
                                            <i class="fa icon fa-comments-o"></i>
                                            <a href="#">12 Comments</a>
                                            <i class="fa icon fa-eye"></i>
                                            <span>112</span>
                                        </div>
                                        <p>Holisticly impact grar collaboron ashearing for magnetic scearios tart listic aileaership after staart process improvements. </p>
                                        <a href="#" class="blog_button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="all_blog">
                                <div class="recent_blog">
                                    <div class="single_blog">
                                        <img src="img/blog-pic/blog_icon_2.png" alt="" />
                                    </div>
                                    <div class="blog_image">
                                        <a href="#">
                                            <img src="img/blog-pic/blog_pic_5.jpg" alt="" />
                                            <div class="blog_ovrly"></div>
                                        </a>
                                    </div>
                                    <div class="blog_statement">
                                        <h2><a href="">Blog audio post layout</a></h2>
                                        <div class="meta_post">
                                            <i class="fa icon fa-user"></i>
                                            <a href="#">Robot</a>
                                            <i class="fa icon fa-comments-o"></i>
                                            <a href="#">12 Comments</a>
                                            <i class="fa icon fa-eye"></i>
                                            <span>112</span>
                                        </div>
                                        <p>Holisticly impact grar collaboron ashearing for magnetic scearios tart listic aileaership after staart process improvements. </p>
                                        <a href="#" class="blog_button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="all_blog">
                                <div class="recent_blog">
                                    <div class="single_blog">
                                        <img src="img/blog-pic/blog_icon_3.png" alt="" />
                                    </div>
                                    <div class="blog_image">
                                        <a href="#">
                                            <img src="img/blog-pic/blog_pic_6.jpg" alt="" />
                                            <div class="blog_ovrly"></div>
                                        </a>
                                    </div>
                                    <div class="blog_statement">
                                        <h2><a href="">Blog vidieo post layout</a></h2>
                                        <div class="meta_post">
                                            <i class="fa icon fa-user"></i>
                                            <a href="#">Robot</a>
                                            <i class="fa icon fa-comments-o"></i>
                                            <a href="#">12 Comments</a>
                                            <i class="fa icon fa-eye"></i>
                                            <span>112</span>
                                        </div>
                                        <p>Holisticly impact grar collaboron ashearing for magnetic scearios tart listic aileaership after staart process improvements. </p>
                                        <a href="#" class="blog_button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our blog area end-->
    <!--footer top area start-->
    <section id="new_6" class="footer_top_area">
        <div class="container">
            <div class="row">
                <div class="footer_first">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer_all">
                            <div class="single_footer">
                                <div class="new-lgo-pix">
                                    <a href="index.html"><img src="img/logo/logo-2.png" alt="" /></a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit eiusmod tempor incidid labore et dolore magna aleiqua. Ut enim ad minim nostrud exercitation ullamco laeboris eiusmod tempor incidid labore et dolore magna aleiqua nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                            <div class="social_icon_footer">
                                <span>Follow Us :</span>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-tumblr"></i>
                                </a>
                            </div>
                            <div class="last_form">
                                <input class="form-control_2" type="text" required="" placeholder="Your Name" name="name">
                                <a class="last_button" href="#">Subscribe</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-12">
                        <div class="post_area">
                            <div class="post">
                                <h2>Recent Blog Post</h2>
                            </div>
                            <div class="post_caption">
                                <a href="#"> <img src="img/instragram-pic/post_pic_3.jpg" alt="" /></a>

                                <h3><a href="#"> Rorem ipsum dolor sit an amet, 
                                    consectetur adipiscing</a></h3>
                                <h4>Jan 9, 2016</h4>
                            </div>

                            <div class="post_caption">
                                <a href="#"> <img src="img/instragram-pic/post_pic_2.jpg" alt="" /></a>

                                <h3><a href="#"> Rorem ipsum dolor sit an amet, 
                             consectetur adipiscing</a></h3>
                                <h4>Jan 9, 2016</h4>
                            </div>
                            <div class="post_caption">
                                <a href="#"> <img src="img/instragram-pic/post_pic_1.jpg" alt="" /></a>

                                <h3><a href="#"> Rorem ipsum dolor sit an amet, 
                             consectetur adipiscing</a></h3>
                                <h4>Jan 9, 2016</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-12">
                        <div class="instragram_area">
                            <div class="instrangrm_heading">
                                <h2>Instagram</h2>
                            </div>
                            <div class="instrgrm_image">
                                <a href="#"><img src="img/instragram-pic/ins_pic_1.jpg" alt="" />
                                    <div class="ins_overlay"></div>
                                </a>
                            </div>
                            <div class="instrgrm_image">
                                <a href="#"><img src="img/instragram-pic/ins_pic_2.jpg" alt="" />
                                    <div class="ins_overlay"></div>
                                </a>
                            </div>
                            <div class="instrgrm_image">
                                <a href="#"><img src="img/instragram-pic/ins_pic_3.jpg" alt="" />
                                    <div class="ins_overlay"></div>
                                </a>
                            </div>
                            <div class="instrgrm_image">
                                <a href="#"> <img src="img/instragram-pic/ins_pic_4.jpg" alt="" />
                                    <div class="ins_overlay"></div>
                                </a>
                            </div>
                            <div class="instrgrm_image">
                                <a href="#"><img src="img/instragram-pic/ins_pic_5.jpg" alt="" />
                                    <div class="ins_overlay"></div>
                                </a>
                            </div>
                            <div class="instrgrm_image">
                                <a href="#"> <img src="img/instragram-pic/ins_pic_6.jpg" alt="" />
                                    <div class="ins_overlay"></div>
                                </a>
                            </div>
                            <div class="instrgrm_image">
                                <a href="#"><img src="img/instragram-pic/ins_pic_7.jpg" alt="" />
                                    <div class="ins_overlay"></div>
                                </a>
                            </div>
                            <div class="instrgrm_image">
                                <a href="#"> <img src="img/instragram-pic/ins_pic_8.jpg" alt="" />
                                    <div class="ins_overlay"></div>
                                </a>
                            </div>
                            <div class="instrgrm_image">
                                <a href="#"> <img src="img/instragram-pic/ins_pic_9.jpg" alt="" />
                                    <div class="ins_overlay"></div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--footer top area end-->
    <!--footer bottom area start-->
    <div class="footer_bottom_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="footer_last">
                        <p>
                            Copyright © 2017
                            <a href="https://themeforest.net/user/unique_themes_zone">UNIQUETHEMESZONE.COM</a> All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>