    <!--// Main Wrapper \\-->
    <div class="education-main-wrapper">

        <!--// Header \\-->
        <header id="education-header" class="education-header-one" style="background-color: #3f51b5;">
            
            <!--// TopStrip \\-->
            <div class="education-top-strip education-bgcolor">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-6">
                           <!--  <ul class="education-userinfo">
                                <li><i class="fa fa-clock-o"></i> 08:00 am - 06:00 pm</li>
                                <li><i class="fa fa-phone"></i> +123 456 789</li>
                            </ul> -->
                        </aside>
                        <aside class="col-md-6">
                            <ul class="education-user-section">
                                <li>
                                    <div class="education-language">
                                        <!-- <ul>
                                            <li> <a href="#"><i class="fa fa-globe"></i> English</a>
                                                <ul class="education-language-menu">
                                                    <li><a href="#">English</a></li>
                                                    <li><a href="#">Arabic</a></li>
                                                    <li><a href="#">Farsi</a></li>
                                                </ul>
                                            </li>
                                        </ul> -->
                                    </div>
                                </li>
                                <li> <a href="javascript:void(0)" ng-click="go('/MgLogin')"><i class="fa fa-user"></i> Login</a></li>
                                <li> <a href="javascript:void(0)" ng-click="go('/MgSignup')"><i class="fa fa-sign-in"></i> Sign Up</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
            <!--// TopStrip \\-->

            <!--// MainHeader \\-->
            <div class="education-main-header">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-5">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="true">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                  <ul class="nav navbar-nav">
                                    <li ui-sref-active="active"><a ui-sref="Mgalumni.index">Home</a>
                                        <!-- <ul class="education-dropdown-menu">
                                            <li><a href="index.html">Home One</a></li>
                                            <li><a href="index-two.html">Home Two</a></li>
                                        </ul> -->
                                    </li>
                                    <li ui-sref-active="active"><a href="javascript:void(0)">Berita</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a ui-sref="Mgalumni.client_berita">Harian</a></li>
                                            <li><a ui-sref="Mgalumni.client_berita_beasiswa">Beasiswa</a></li>
                                        </ul>
                                    </li>
                                    <li ui-sref-active="active"><a ui-sref="Mgalumni.client_events">Events</a>
                                        <!-- <ul class="education-dropdown-menu">
                                            <li><a href="event-grid.html">Event Grid</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="event-grid.html">Event Grid W/O/S</a></li>
                                                    <li><a href="event-grid-wls.html">Event Grid W/L/S</a></li>
                                                    <li><a href="event-grid-wrs.html">Event Grid W/R/S</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="event-list.html">Event List</a></li>
                                            <li><a href="event-list-wls.html">Event List W/L/S</a></li>
                                            <li><a href="event-medium.html">Event Medium</a></li>
                                            <li><a href="event-detail.html">Event Detail</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="event-detail-wls.html">Event Detail W/L/S</a></li>
                                                    <li><a href="event-detail.html">Event Detail W/R/S</a></li>
                                                </ul>
                                            </li>
                                        </ul> -->
                                    </li>
                                   <!--  <li ui-sref-active="active"><a ui-sref="Mgalumni.client_loker">Loker</a>
                                        <ul class="education-dropdown-menu">
                                            <li><a href="blog-grid.html">Blog Grid</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="blog-grid.html">Blog Grid W/O/S</a></li>
                                                    <li><a href="shop-grid-wls.html">Blog Grid W/L/S</a></li>
                                                    <li><a href="shop-grid-wrs.html">Blog Grid W/R/S</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="blog-large.html">Blog Large</a></li>
                                            <li><a href="blog-large-wls.html">Blog Large W/L/S</a></li>
                                            <li><a href="blog-medium.html">Blog Medium</a></li>
                                            <li><a href="blog-detail.html">Blog Detail</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="blog-detail.html">Blog Detail W/R/S</a></li>
                                                    <li><a href="blog-detail-wls.html">Blog Detail W/L/S</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>  -->
                                  </ul>
                                </div>
                            </nav>
                        </aside>
                        
                        <aside class="col-md-2"><a href="index.html" class="education-logo"><img src="public/UsrAlumni/img/logo.png" alt=""></a></aside>
                        <aside class="col-md-5">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2" aria-expanded="true">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar-collapse-2">
                                  <ul class="nav navbar-nav pull-right">
                                    <li><a ui-sref-active="active"><a ui-sref="Mgalumni.client_loker">Loker</a>
                                        <!-- <ul class="education-dropdown-menu">
                                            <li><a href="course-grid.html">Course Grid</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="course-grid.html">Course Grid W/O/S</a></li>
                                                    <li><a href="course-grid-wls.html">Course Grid W/L/S</a></li>
                                                    <li><a href="course-grid-wrs.html">Course Grid W/R/S</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="course-modren.html">Course Modren</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="course-modren.html">Course Modren W/O/S</a></li>
                                                    <li><a href="course-modren-wls.html">Course Modren W/L/S</a></li>
                                                    <li><a href="course-modren-wrs.html">Course Modren W/R/S</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="course-list.html">Course List</a></li>
                                            <li><a href="course-list-wls.html">Course List W/L/S</a></li>
                                            <li><a href="course-detail.html">Course Detail</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="course-detail.html">Course Detail W/R/S</a></li>
                                                    <li><a href="course-detail-wls.html">Course Detail W/L/S</a></li>
                                                </ul>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li><a ui-sref-active="active"><a ui-sref="Mgalumni.visimisi">Visi Dan Misi</a>
                                        <!-- <ul class="education-dropdown-menu">
                                            <li><a href="shop-grid.html">Shop Grid</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="shop-grid.html">Shop Grid W/O/S</a></li>
                                                    <li><a href="shop-grid-wls.html">Shop Grid W/L/S</a></li>
                                                    <li><a href="shop-grid-wrs.html">Shop Grid W/R/S</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="shop-list.html">Shop List</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="shop-list.html">Shop List W/O/S</a></li>
                                                    <li><a href="shop-list-wls.html">Shop List W/L/S</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="shop-detail.html">Shop Detail</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="shop-detail.html">Shop Detail W/R/S</a></li>
                                                    <li><a href="shop-detail-wls.html">Shop Detail W/L/S</a></li>
                                                </ul>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li><a ui-sref-active="active"><a ui-sref="Mgalumni.contactus">Tentang</a>
                                        <!-- <ul class="education-dropdown-menu">
                                            <li><a href="team-grid.html">Team Grid</a>
                                                <ul class="education-dropdown-menu">
                                                    <li><a href="team-grid.html">Team Grid W/O/S</a></li>
                                                    <li><a href="team-grid-wls.html">Team Grid W/L/S</a></li>
                                                    <li><a href="team-grid-wrs.html">Team Grid W/R/S</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="search-result.html">Search Result</a></li>
                                            <li><a href="gallery.html">Gallery 4 Column</a></li>
                                            <li><a href="gallery-view-two.html">Gallery 3 Column</a></li>
                                            <li><a href="faq.html">Faq</a></li>
                                            <li><a href="404.html">404 Error</a></li>
                                        </ul> -->
                                    </li>
                                    <!-- <li><a href="contact-us.html">Contact us</a></li>  -->
                                  </ul>
                                </div>
                            </nav>
                        </aside>
                    </div>
                </div>
            </div>
            <!--// MainHeader \\-->
        </header>
        <!--// Header \\-->