<div id="fh5co-offcanvass">
	<ul>
		<li class="active"><a href="#" data-nav-section="home">Home</a></li>
		<li><a href="#" data-nav-section="features">Berita</a></li>
		<li><a href="#" data-nav-section="design">Lowongan</a></li>
		<li><a ng-click="goto('MgLogin')">Alumni</a></li>
		<li><a href="#" data-nav-section="products">Perusahaan</a></li>
	</ul>
	<h3 class="fh5co-lead">Connect with us</h3>
	<p class="fh5co-social-icons">
		<a href="#"><i class="icon-twitter"></i></a>
		<a href="#"><i class="icon-facebook"></i></a>
		<a href="#"><i class="icon-instagram"></i></a>
		<a href="#"><i class="icon-dribbble"></i></a>
		<a href="#"><i class="icon-youtube"></i></a>
	</p>
</div>