   <!-- aside -->
  <div ui-view="aside@">
  </div> 
  <!-- / aside -->
  <!-- sidebar -->  
  <!-- <div ui-view="sidebar"></div> -->
  <!-- /sidebar -->  
  
  <!-- top side -->
  <!-- <div ui-view="top"></div> -->
  <!-- /topside -->    

  <!-- content -->
  
<div class="app-content" role="main"  ui-view="content@">
  </div>

  <!-- / content -->
