  <!-- Content --> 
      <div ui-view></div>
  <!-- / -->


        <!--// Footer \\-->
        <footer id="education-footer" class="education-footer-two">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="education-copyright">
                            <p>Copyright © Teknik Informatika 2018</p>
                            
                           
                        </div>
                    </div>
                </div>
            </div>
     
        </footer>
        <!--// Footer \\-->

	<div class="clearfix"></div>
    </div>