	       <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="education-breadcrumb">
                            <li class="fa fa-home fa-2x"><a href="index.html"> Home</a></li>
                        	<li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Loker</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Detail Loker</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">{{DtLokersOne.judul}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->
	<!--// Main Content \\-->
		<div class="education-main-content">

			<!--// Main Section \\-->
			<div class="education-main-section">
				<div class="container">
					<div class="row">
						
						<div class="col-md-9">
                            <figure class="education-event-thumb"><img ng-src="{{DtLokersOne.urlimage}}" alt="" style="height:395px; width:855px">
                                <figcaption>
                                    <div class="education-thumb-text">
                                        <h2>Lowongan Pekerjaan {{DtLokersOne.judul}}</h2>
                                        <span><i class="fa fa-map-marker"></i>{{DtLokersOne.lokasi}}</span>
                                    </div>
                                    <!--  -->
                                </figcaption>
                            </figure>
                            <div class="education-course-features">
                                <ul class="education-course-detail-option">
                                    <li>
                                        <i class="fa fa-building-o"></i>
                                        <h6>Perusahaan:</h6>
                                        <span>{{DtLokersOne.perusahaan}}</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-suitcase"></i>
                                        <h6>Bidang:</h6>
                                        <span>{{DtLokersOne.detail['bidang']}}</span>
                                    </li>
                                	<li>
                                        <i class="fa fa-ticket"></i>
                                        <h6>Gajih Rp:</h6>
                                        <span>{{DtLokersOne.gajih[0][0]}} - {{DtLokersOne.gajih[1][0]}}</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-calendar-o"></i>
                                        <h6>Tanggal Lamaran</h6>
                                        <span>{{DtLokersOne.detail['date_on']}} - {{DtLokersOne.detail['date_off']}}</span>
                                    </li>
                                
                                </ul>
                            </div>
                            <div class="education-detail-option">
                                 <ul class="education-social-network">
                                    <li><a href="http://www.facebook.com/share.php?u=http://localhost:8080/#/event/{{DtLokersOne._id}}/{{DtLokersOne.urlslug}}" class="fa fa-facebook"></a></li>
                                    <li><a href="https://plus.google.com/share?url=http://localhost:8080/#/event/{{DtLokersOne._id}}/{{DtLokersOne.urlslug}}" class="fa fa-google-plus"></a></li>

                                    <li><a href="http://twitter.com/intent/tweet?url=http://localhost:8080/#/event/{{DtLokersOne._id}}/{{DtLokersOne.urlslug}}&amp;text={{DtLokersOne.urlslug}}+@if_SAKTI&amp;hashtags={{DtLokersOne.tag}}" target="_blank" class="fa fa-twitter"></a></li>

                                    <li><a href="https://www.linkedin.com/start/join?session_redirect=http://localhost:8080/#/event/{{DtLokersOne._id}}/{{DtLokersOne.urlslug}}&trk=login_reg_redirect" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                            <div class="education-rich-editor">
                                <span class="fa fa-briefcase fa-2x"> Deskripsi Pekerjaan</span>
                                <br><br>
                                <p><p ta-bind="DtLokersOne.detail['deskripsi']" ng-model="DtLokersOne.detail['deskripsi']" ta-readonly='disabled'></p></p>
                                
                                <br>
                                <span class="fa fa-list fa-2x"> Persyaratan</span>
                                <br><br>
                                <p><p ta-bind="DtLokersOne.detail['prasyarat']" ng-model="DtLokersOne.detail['prasyarat']" ta-readonly='disabled'></p></p>
                                
                            </div>
                           <div class="education-prenxt-post">
                                <ul>
                                    <li>
                                        <div class="education-prev-post">
                                            <h3>Lowongan Kerja {{DtLokers[dataI-1].judul}}</h3>
                                            <br>
                                            <a href="javascript:void(0)" ng-click="go('/loker/'+DtLokers[dataI-1]._id+'/'+DtLokers[dataI-1].urlslug+'')" class="education-post-arrow"> Previous Post</a>
                                        </div>
                                    </li>
                                     <li>
                                        <div class="education-next-post">
                                            <h3>Lowongan Kerja {{DtLokers[DataInext].judul}}</h3>
                                            <br>
                                            <a href="javascript:void(0)" ng-click="go('/loker/'+DtLokers[DataInext]._id+'/'+DtLokers[DataInext].urlslug+'')" class="education-post-arrow"> Next Post</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                           
                        </div>
                            
                       
                      <div ng-include="'templates/views/alumni/MgAlm.Client.Asside.html'"></div>

					</div>
				</div>
			</div>
			<!--// Main Section \\-->

		</div>
		<!--// Main Content \\-->