  <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <center><div><a href=""><img ng-src="public/UsrAlumni/img/if_ico.png"></a></div></center>
                        <div class="education-subheader-title"><h1>Alumni Tekni Informatika</h1></div> -->
                        <ul class="education-breadcrumb">
                            <li><a href="index.html" class="fa fa-home"> Home</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Berita Beasiswa</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->

		<!--// Main Content \\-->
		<div class="education-main-content">

			<!--// Main Section \\-->
			<div class="education-main-section">
				<div class="container">
					<div class="row">
						
						<div class="col-md-9">
                            <div class="education-event education-event-grid">
                                <ul class="row">
                                    <li class="col-md-6" dir-paginate="Data in DtBeasisw | filter:search | orderBy:'created_at':true | itemsPerPage: 8" pagination-id="paginateClBeritaBeas" current-page="BERITA">

                                        <figure><a href="javascript:void(0)" ng-click="go('/beasiswa/'+Data._id+'/'+Data.urlslug+'')"><img ng-src="{{Data.urlimg}}"  alt="" style="height:255px"><i class="fa fa-link"></i></a></figure>
                                        <div class="education-event-grid-text">
                                            <h5>{{Data.judul.substring(0, 55)}} ...</h5>
                                            <ul class="education-course-detail-option">
                                                <li>
                                                    <i class="fa fa-calendar-o"> Date Created</i>
                                                    <span>{{Data.created_at | date:'yyyy-MM-dd'}}</span>
                                                </li>
                                                <li>
                                                    <i class="fa fa-clock-o"> Time Created</i>
                                                    <span>{{Data.created_at | date: 'HH:mm:ss'}}</span>
                                                </li>
                                                <li>
                                                    <i class="fa fa-user"></i>
                                                    <span>{{Data.urlslug}}</span>
                                                </li>
                                                
                                                <!-- <li>
                                                    <i class="fa fa-ticket"></i>
                                                    <span></span>
                                                </li> -->
                                            </ul><!-- 
                                            <p ng-bind-html="Data.postings | limitTo:155" ng-model="Data.postings" ta-readonly='disabled'></p> -->
                                            <a href="javascript:void(0)" ng-click="go('/beasiswa/'+Data._id+'/'+Data.urlslug+'')" class="education-classic-btn">Read More</a>
                                        </div>
                                    </li>
                                   
                                </ul>
                            </div>
                            <!--// Pagination \\-->
                            <center><dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="paginateClBeritaBeas" template-url="templates/views/paginate/dirPagination.html"></dir-pagination-controls></center>
                            <!--// Pagination \\-->
                        </div>

                        <!--// SideBaar \\-->
                        <aside class="col-md-3 education-sidebar">

                            <!--// Widget Search \\-->
                            <div class="widget widget_search">
                                <form>
                                    <input type="text" value="Search" ng-model="search">
                                    <label>
                                        <input type="submit" value="">
                                    </label>
                                </form>
                            </div>
                            <!--// Widget Search \\-->

                            <!--// Widget Cetagories \\-->
                            <div class="education-widget-heading"><h2>Cetagories</h2></div>
                            <div class="widget widget_cetagories">
                                <ul>
                                    <li><a href="javascript:void(0)" ng-click="go('/berita')">Berita<span>( {{DtTdyNewss.length}} )</span></a></li>
                                    <li><a href="javascript:void(0)" ng-click="go('/beasiswa')">Berita Beasiswa<span>( {{DtBeasisw.length}} )</span></a></li>
                                    <li><a href="javascript:void(0)" ng-click="go('/events')">Event<span>( {{DataCLV.length}} )</span></a></li>
                                    <li><a href="javascript:void(0)" ng-click="go('/loker')">Loker<span>( {{DtLokers.length}} )</span></a></li>
                                    <!-- <li><a href="404.html">Bl<span>( 11 )</span></a></li>
                                    <li><a href="404.html">Music<span>( 10 )</span></a></li> -->
                                </ul>
                            </div>
                            <!--// Widget Cetagories \\-->

                            <!--// Widget Featured Courses \\-->
                            <div class="education-widget-heading"><h2>Recent Post</h2></div>
                            <div class="widget widget_featured_courses">
                                <ul>
                                    <li ng-repeat="DataNewPost in DtTdyNewss  | orderBy:'created_at':true | limitTo:5">
                                        <figure><a href="javascript:void(0)" ng-click="go('/berita/'+DataNewPost._id+'/'+DataNewPost.urlslug+'')"><img ng-src="{{DataNewPost.imgs.slice(3)}}" alt="" style="height:91px; width:91px"><i class="fa fa-link"></i></a>
                                            <figcaption>
                                                <h6><a href="javascript:void(0)" ng-click="go('/berita/'+DataNewPost._id+'/'+DataNewPost.urlslug+'')">{{DataNewPost.judul.substring(0, 55)}} ...</a></h6>
                                                <a href="course-detail.html"><i class="fa fa-user"></i>{{DataNewPost.addby}}</a>
                                                <span class="fa fa-tag"></span><small>{{DataNewPost.bidang}}</small>
                                                <span class="fa fa-calendar-o"></span><small>{{DataNewPost.created_at | date:'yyyy-MM-dd' }}</small>
                                            </figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                            <!--// Widget Featured Courses \\-->

                            <!--// Widget upcomimg events \\-->
                            <div class="education-widget-heading"><h2>New Events</h2></div>
                            <div class="widget widget_featured_courses">
                                <ul>
                                    <li ng-repeat="DataNew in DataCLV  | orderBy:'created_at':true | limitTo:5">
                                        <figure><a href="javascript:void(0)" ng-click="go('/event/'+DataNew._id+'/'+DataNew.urlslug+'')"><img ng-src="{{DataNew.imgs}}" alt="" style="height:91px; width:91px"><i class="fa fa-link"></i></a>
                                            <figcaption>
                                                <h6><a href="javascript:void(0)" ng-click="go('/event/'+DataNew._id+'/'+DataNew.urlslug+'')">{{DataNew.judul.substring(0, 55)}} ...</a></h6>
                                                <a href="course-detail.html"><i class="fa fa-user"></i>{{DataNew.addby}}</a>
                                                <span class="fa fa-tag"></span><small>{{DataNew.tag}}</small>
                                                <span class="fa fa-calendar-o"></span><small>{{DataNew.created_at | date:'yyyy-MM-dd' }}</small>
                                            </figcaption>
                                        </figure>
                                    </li>
                                 </ul>
                            </div>
                            <!--// Widget upcomimg events \\-->


                             <div class="education-widget-heading"><h2>New Loker</h2></div>
                            <div class="widget widget_featured_courses">
                                <ul>
                                    <li ng-repeat="DataNewLokers in DtLokers  | orderBy:'created_at':true | limitTo:5">
                                        <figure><a href="javascript:void(0)" ng-click="go('/loker/'+DataNewLokers._id+'/'+DataNewLokers.urlslug+'')"><img ng-src="{{DataNewLokers.urlimage}}" alt="" style="height:91px; width:91px"><i class="fa fa-link"></i></a>
                                           
                                            <figcaption>
                                                <h6><a href="javascript:void(0)" ng-click="go('/loker/'+DataNewLokers._id+'/'+DataNewLokers.urlslug+'')">{{DataNewLokers.judul.substring(0, 55)}} ...</a></h6>
                                                <i class="fa fa-map-marker"></i>{{DataNewLokers.lokasi}}<br>
                                                <span class="fa fa-money"> {{DataNewLokers.gajih[0][0]}} - {{DataNewLokers.gajih[1][0]}}</span>
                                               <br>
                                               <span class="fa fa-calendar-o"></span><small>{{DataNewLokers.created_at | date:'yyyy-MM-dd' }}</small>
                                            </figcaption>
                                        </figure>
                                    </li>
                                  
                                </ul>
                            </div>

                        </aside>
                        <!--// SideBaar \\-->

					</div>
				</div>
			</div>
			<!--// Main Section \\-->

		</div>