

        <!--// Main Banner \\-->
        <div class="education-banner" ng-show="loaded" ng-repeat="slide in slides"
         ng-if="isCurrentSlideIndex($index)">
            <!--// Slider \\-->
            <div class="education-banner-one">
                <div class="education-banner-one-layer">
                    <img ng-src="{{slide.imgs}}" style="height: 615px; width: 100%;">
                    <div class="education-banner-caption">
                        <!-- <span class="education-bgcolor"></span> -->
                        <br>
                        <span class="education-bgcolor banner-title" style="font-size:15px;">{{slide.judul}}</span>
                    </div>
                   <!--  <div class="education-banner-thumb"> <img src="public/alumni/TEST2/extra-images/banner-thumb-1.png" alt=""> </div> -->
                </div>
               <!--  <div class="education-banner-one-layer">
                    <img src="public/alumni/TEST2/extra-images/banner-1.jpg" alt="">
                    <div class="education-banner-caption">
                        <span class="education-bgcolor">The Best Learning Institution</span>
                        <br>
                        <span class="education-bgcolor banner-title">Wellcome To Our University</span>
                    </div>
                    <div class="education-banner-thumb"> <img src="public/alumni/TEST2/extra-images/banner-thumb-2.png" alt=""> </div>
                </div> -->
            </div>
            <!--// Slider \\-->
            
        </div>
        <!--// Main Banner \\-->

        <!--// Main Content \\-->
        <div class="education-main-content">
            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="education-fancy-title">
                                <i class="fa fa-newspaper-o"></i>
                                <h2>Berita Terkini</h2>
                            </div>
                            <div class="education-course education-modren-course">
                                <ul class="row">
                                    <li class="col-md-4" ng-repeat="Berita in MgClientHom.DtTdyNewss |orderBy:'created_at':true | limitTo:3 ">
                                        <figure><a href="javascript:void(0)" ng-click="go('/berita/'+Berita._id+'/'+Berita.urlslug+'')" ><img ng-src="{{Berita.imgs.slice(3)}}" alt="" style="height:255px"> <i class="fa fa-link"></i></a>
                                            <!-- <div class="star-rating"><span class="star-rating-box" style="width:55%"></span></div>
                                            <span>$170</span> -->
                                        </figure>
                                        <div class="education-grid-wrap">
                                            <div class="education-modren-course-text">
                                                <h5>{{Berita.judul}}</h5>
                                                <ul class="education-course-option">
                                                    <li><i class="fa fa-calendar-o"></i>  {{ Berita.created_at | date:'yyyy-MM-dd'}}</li>
                                                    <li><i class="fa fa-clock-o"></i>  {{ Berita.created_at | date: 'HH:mm:ss'}}</li>
                                                </ul>
                                            <!--     <p ng-bind-html="Berita.deskripsi | limitTo:350" ng-model="Berita.deskripsi" ></p> -->
                                            </div>
                                            <div class="education-comment-option">
                                              <!--   <figure>
                                                    <img src="public/alumni/TEST2/extra-images/comment-option-img.jpg" alt=""></figure> -->
                                                <span class="label label-danger">By {{Berita.addby}}</span>
                                                <ul class="education-comment">
                                                    <li><i class="fa fa-tag"></i>{{Berita.bidang}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--// Main Section \\-->


            <div class="education-main-section">
                <div class="container">
                    <br><br><br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="education-fancy-title">
                                <i class="icon md-google-maps"></i>
                                <!-- <span>Choose Your Course</span> -->
                                <h2>Peta Persebaran Alumni</h2>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="education-main-section">
            <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" options="{scaleControl: true}" event-ready="onMapReady($ngMap)">
                <ng-map id="map" zoom="5" center="-7.2574719, 112.75208829999997" default-style="false" style="background-size: cover; height:440px;">
                  <marker ng-repeat="trace in MgClientHom.DtPekerjaan" position="{{trace.lat}}, {{trace.lng}}" title="{{trace.nama}}">
                  </marker>
                </ng-map>
            </div>
        </div>


 <div class="education-main-section education-event-mediumfull">
                <div class="container">
                    <div class="row">
                        <br><br><br><br>
                        <div class="col-md-12">
                            <div class="education-fancy-title">
                                <i class="fa fa-newspaper-o"></i>
                                <h2>Events</h2>
                            </div>
                            <div class="education-course education-modren-course">
                                <ul class="row">
                                    <li class="col-md-4" ng-repeat="Eventss in MgClientHom.DtEvent |orderBy:'created_at':true | limitTo:6" style="height:535px">
                                        <figure><a href="javascript:void(0)" ng-click="go('/event/'+Eventss._id+'/'+Eventss.urlslug+'')"><img ng-src="{{Eventss.imgs}}" alt="" style="height:255px"> <i class="fa fa-link"></i></a>
                                            <!-- <div class="star-rating"><span class="star-rating-box" style="width:55%"></span></div>
                                            <span>$170</span> -->
                                        </figure>
                                        <div class="education-grid-wrap">
                                            <div class="education-modren-course-text">
                                                <h5>{{Eventss.judul}}</h5>
                                                <ul class="education-course-option">
                                                    <li><i class="fa fa-calendar-o"></i>  {{  Eventss.created_at | date:'yyyy-MM-dd'}}</li>
                                                    <li><i class="fa fa-clock-o"></i> {{Eventss.created_at | date: 'HH:mm:ss'}}</li>
                                                </ul>
                                               <!--  <p ng-bind-html="Eventss.postings | limitTo:350" ng-model="Eventss.postings" ></p> -->
                                            </div>
                                            <div class="education-comment-option">
                                              <!--   <figure>
                                                    <img src="public/alumni/TEST2/extra-images/comment-option-img.jpg" alt=""></figure> -->
                                                <span class="label label-danger">By :{{Eventss.addby}}</span>
                                                <ul class="education-comment">
                                                     <li><i class="fa fa-tag"></i>{{Eventss.tag}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--// Main Section \\-->
            
        </div>
        <!--// Main Content \\-->
