  <!--// Main Wrapper \\-->
    <!-- <div class="education-main-wrapper"> -->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <center><div><a href=""><img ng-src="public/UsrAlumni/img/if_ico.png"></a></div></center>
                        <div class="education-subheader-title"><h1>Alumni Tekni Informatika</h1></div> -->
                        <ul class="education-breadcrumb">
                            <li class="active"><span class="fa fa-graduation-cap">  Visi & Misi</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->
<!--// Main Content \\-->
		<div class="education-main-content">

			<!--// Main Section \\-->
			<div class="education-main-section">
				<div class="container">
					<div class="row">
						
                        <!--// Fixture Slider \\-->
						<div class="col-md-12">
                            <div class="education-fancy-title">
                                <i class="fa fa-graduation-cap"></i>
                               <!--  <span>Visi & Misi</span> -->
                                <h2>Visi & Misi</h2>
                            </div>
                            <div class="education-faq-page">
                                <div class="panel-group faq-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <center><h2 class="panel-title">
                                            <a role="button" href="javascript:void(0);#collapseOne" >
                                            	VISI
                                              
                                            </a>
                                            <span></span>
                                          </h2></center>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                          <div class="panel-body"><p>Visi jurusan Teknik Informatika, Fakultas Sains dan Teknologi, UIN Sunan Gunung Djati Bandung adalah menjadi penyelenggara proses pendidikan tinggi dan pusat pengembangan studi Teknik Informatika yang berkualitas dan mampu menyiapkan lulusan yang terampil dan profesional serta mampu bekerja produktif untuk memberikan pelayanan jasa kepada masyarakat dalam bidang teknologi informasi dilandasi nilai-nilai keislaman.
Visi ini sejalan dengan visi Fakultas Sains dan Teknologi yaitu menjadikan Fakultas yang unggul dan kompetitif yang mampu mengintegrasikan ilmu agama, Sains dan teknologi berlandaskan paradigma wahyu memandu ilmu.</p></div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <center><h2 class="panel-title">
                                        <a role="button" href="javascript:void(0)">
                                          MISI
                                        </a>
                                        <span></span>
                                      </h2></center>
                                    </div>
                                    <div class="panel-collapse collapse in">
                                      <div class="panel-body">
                                      	<p align="left">1. Menyelenggarakan pendidikan tinggi yang berorientasi pada pengkajian, penguasaan dan pengembangan teknik informatika yang berkualitas dan mampu menyiapkan lulusan yang terampil dan profesional di bidang teknologi informasi di landas inilai-nilai keislaman.</p><br>
                                      	<p align="left">2. Menyelenggarakan kegiatan penelitian untuk mendukung pengembangan Teknik Informatika dan mampu menyiapkan lulusan yang terampil dan profesional di bidang teknologi informasi dilandasi nilai-nilai keislaman.</p><br>
                                      	<p align="left">3. Menyelenggarakan kerjasama dengan sejumlah pihak terkait untuk pengembangan Teknik Informatika sehingga mampu menyiapkan lulusan yang terampil dan profesional di bidang teknologi informasi dilandasi nilai-nilai keislaman.</p><br>
                                      	<p align="left">4. Menghasilkan sarjana Teknik Informatika yang berkualitas dan mampu berperan aktif dalam pengembangan ilmu pengetahuan dan teknologi.</p><br>
                                      	<p align="left">5. Mengembangkan Informatika sebagai ilmu dasar dan terapan khususnya Algoritma Pemrograman, Rekayasa Perangkat Lunak, Basisdata dan Jaringan Komputer untuk pengembangan Sistem Informasi serta Rekayasa Perangkat Lunak dan Teknologi Informasi bahkan ilmu komputer.</p><br>
                                      	<p align="left">6. Menghasilkan kegiatan penelitian dan pengabdian kepada masyarakat yang berkualitas dan bermanfaat bagi masyarakat luas.
                                      	</p><br>
                                      </div>
                                    </div>
                                    </div>
                                  
                            </div>
                        </div>
                        <!--// main section \\-->

					</div>
				</div>
			</div>
			<!--// Main Section \\-->
               <!--// Main Section \\-->
           
             <!--// Main Section \\-->

		</div>
		<!--// Main Content \\-->
		<!-- </div> -->
		<!--// Main Content \\-->