<div class="login-page">
  <div class="img-container">
    <div class="text-center pull-right photo">
      <img src="public/UsrAlumni/img/if_ico.png" class="user-avatar img-circle img-responsive" />
      <h1>LOGIN <br/ > <span>ALUMNI</span><br /><small>Masuk Dengan Akun Portal</small></h1>
    </div>
  </div>

  <div class="form-content">
    <div class="pro-link">
      <!-- <a title="Register" ui-sref="MgSignup">Register</a> -->
    </div>
    <form role="form" class="bottom-75" name="logForm" ng-submit="MgLogin.doLogin(logData);">
      <div class="table-form">
        <div class="form-groups">


          <div class="form-group">
            <input class="form-control input-lg" ng-model="MgLogin.logData.tusrNama" placeholder="NIM" type="number" name="tusrNama" id="tusrNama" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-lg" id="tusrPassword" name="tusrPassword" ng-model="MgLogin.logData.tusrPassword" placeholder="PASSWORD" required>
          </div>
          

        </div>  
        <div class="button-container">
          <button type="submit" class="btn btn-default login"><img src="public/UsrAlumni/login/images/arrow.png" alt=""></button>
        </div>
      </div>
       <div class="remember">
        <!-- <label class="checkbox1" for="Option"> 
          <input id="Option" type="checkbox" class="">
          <span></span>
        </label>
        remember me -->
        <!-- <div class="row">
          
          <div class="col-md-6"> -->
            <span class="pass"><a href="javascript:void(0)" ui-sref="MgSignup" style="color:white">Register</a></span>
          </div>   
    </form>
  </div>      
</div>
</div>