<!--// Main Content \\-->
		<div class="education-main-content">

			<!--// Main Section \\-->
			<div class="education-main-section">
				<div class="container">
					<div class="row">
                        <div class="col-md-12">
                            <div class="education-fancy-title">
                                <i class="fa fa-graduation-cap"></i>
                                <span>find us now</span>
                                <h2>Contact Us</h2>
                            </div>
                        </div>
						<div class="col-md-3">
                            <div class="education-contact-us">
                                <ul>
                                    <li>
                                        <h6>Phone</h6>
                                        <span>Telp. (022) 7800525 / Fax (022) 7803936</span>
                                        <i class="fa fa-phone"></i>
                                    </li>
                                     <li>
                                        <h6>Email</h6>
                                        <a href="mailto:name@email.com">informatika@uinsgd.ac.id</a>
                                        <i class="fa fa-envelope"></i>
                                    </li>
                                     <li>
                                        <h6>Location</h6>
                                        <span>Gedung Fakultas Sains dan Teknologi, Jurusan Teknik Informatika. Jl. A.H. Nasution No. 105 Cibiru Bandung 40614
                                        </span>
                                        <i class="fa fa-map-marker"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="education-contact-us-map">
                            	 <div class="education-main-section">
						            <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key=AIzaSyC01hCsQ46I133UAz8pdjjRXlZ-o5DT1pY" options="{scaleControl: true}" event-ready="onMapReady($ngMap)">
						                <ng-map id="map" zoom="5" center="-7.2574719, 112.75208829999997" default-style="false" style="background-size: cover;">
						                  <marker position="-6.9312884, 107.71732529999997" title="om">
						                  </marker>
						                </ng-map>
						            </div>
						        </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="education-fancy-title">
                                <i class="fa fa-graduation-cap"></i>
                                <span>get it touch</span>
                                <h2>About Us</h2>
                            </div>    
                              <div class="education-faq-page">
                                <div class="panel-group faq-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <center><h2 class="panel-title">
                                            <a role="button" href="javascript:void(0);#collapseOne" >
                                            	TEKNIK INFORMATIKA
                                              
                                            </a>
                                            <span></span>
                                          </h2></center>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                          <div class="panel-body"><p>Keberadaan jurusan Teknik Informatika di lingkungan UIN SGD Bandung berbeda dengan jurusan Teknik Informatika yang berada di institusi pendidikan tinggi umum.
                                          	Dalam melakukan Kegiatan-kegiatan yang dilaksanakan oleh jurusan Teknik Informatika, termasuk di dalamnya kegiatan para alumninya sering kali menjadi pioner dan referensi, sehingga menjadi inspirasi bagi munculnya kegitan lain di Indonesia. Alumni UIN SGD Bandung, jurusan Teknik Informatika saat ini sering kali pula menjadi motor pembangunan Bangsa dan Negara Indonesia dan sebagai pendukung nyata tercapainya Alumni UIN SGD Bandung, jurusan Teknik Informatika sebagai jurusan yang disegani, sehingga keadaan ini menuntut adanya sebuah ikatan khusus yang menjembatani kegiatan para alumni. Hal inilah yang mendasari dibentuknya sebuah ikatan perkumpulan yang menangani tentang kealumnian jurusan Teknik Informatika, UIN SGD Bandung.
                                          </p>
                                          	<br>
                                          	<p>

                                          	</p>
                                          </div>
                                        </div>
                                    </div>
                        </div>
					</div>
				</div>
			</div>