      <!--// SideBaar \\-->
                        <aside class="col-md-3 education-sidebar">

                            <!--// Widget Search \\-->
                            <!-- <div class="widget widget_search">
                                <form>
                                    <input type="text" value="Search" ng-model="search">
                                    <label>
                                        <input type="submit" value="">
                                    </label>
                                </form>
                            </div> -->
                            <!--// Widget Search \\-->

                            <!--// Widget Cetagories \\-->
                            <div class="education-widget-heading"><h2>Cetagories</h2></div>
                            <div class="widget widget_cetagories">
                                <ul>
                                    <li><a href="javascript:void(0)" ng-click="go('/berita')">Berita<span>( {{DtTdyNewss.length}} )</span></a></li>
                                           
                                    <li><a href="javascript:void(0)" ng-click="go('/beasiswa')">Berita Beasiswa<span>( {{DtBeasisw.length}} )</span></a></li>
                                    <li><a href="javascript:void(0)" ng-click="go('/event')">Event<span>( {{DataCLV.length}} )</span></a></li>
                                    <li><a href="javascript:void(0)" ng-click="go('/loker')">Loker<span>( {{DtLokers.length}} )</span></a></li>
                                    <!-- <li><a href="404.html">Bl<span>( 11 )</span></a></li>
                                    <li><a href="404.html">Music<span>( 10 )</span></a></li> -->
                                </ul>
                            </div>
                            <!--// Widget Cetagories \\-->

                            <!--// Widget Featured Courses \\-->
                                <div class="education-widget-heading"><h2>Recent Post</h2></div>
                            <div class="widget widget_featured_courses">
                                <ul>
                                    <li ng-repeat="DataNewPost in DtTdyNewss  | orderBy:'created_at':true | limitTo:5">
                                        <figure><a href="javascript:void(0)" ng-click="go('/berita/'+DataNewPost._id+'/'+DataNewPost.urlslug+'')"><img ng-src="{{DataNewPost.imgs.slice(3)}}" alt="" style="height:91px; width:91px"><i class="fa fa-link"></i></a>
                                            <figcaption>
                                                <h6><a href="javascript:void(0)" ng-click="go('/berita/'+DataNewPost._id+'/'+DataNewPost.urlslug+'')">{{DataNewPost.judul.substring(0, 55)}} ...</a></h6>
                                                <a href="course-detail.html"><i class="fa fa-user"></i>{{DataNewPost.addby}}</a>
                                                <span class="fa fa-tag"></span><small>{{DataNewPost.bidang}}</small>
                                                <span class="fa fa-calendar-o"></span><small>{{DataNewPost.created_at | date:'yyyy-MM-dd' }}</small>
                                            </figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                            <!--// Widget Featured Courses \\-->

                            <!--// Widget upcomimg events \\-->
                            <div class="education-widget-heading"><h2>New Events</h2></div>
                            <div class="widget widget_featured_courses">
                                <ul>
                                    <li ng-repeat="DataNew in DataCLV  | orderBy:'created_at':true | limitTo:5">
                                        <figure><a href="javascript:void(0)" ng-click="go('/event/'+DataNew._id+'/'+DataNew.urlslug+'')"><img ng-src="{{DataNew.imgs}}" alt="" style="height:91px; width:91px"><i class="fa fa-link"></i></a>
                                            <figcaption>
                                                <h6><a href="javascript:void(0)" ng-click="go('/event/'+DataNew._id+'/'+DataNew.urlslug+'')">{{DataNew.judul.substring(0, 55)}} ...</a></h6>
                                                <a href="course-detail.html"><i class="fa fa-user"></i>{{DataNew.addby}}</a>
                                                <span class="fa fa-tag"></span><small>{{DataNew.tag}}</small>
                                                <span class="fa fa-calendar-o"></span><small>{{DataNew.created_at | date:'yyyy-MM-dd' }}</small>
                                            </figcaption>
                                        </figure>
                                    </li>
                                 </ul>
                            </div>
                            <!--// Widget upcomimg events \\-->


                             <div class="education-widget-heading"><h2>New Loker</h2></div>
                            <div class="widget widget_featured_courses">
                                <ul>
                                    <li ng-repeat="DataNewLokers in DtLokers  | orderBy:'created_at':true | limitTo:5">
                                        <figure><a href="javascript:void(0)" ng-click="go('/loker/'+DataNewLokers._id+'/'+DataNewLokers.urlslug+'')"><img ng-src="{{DataNewLokers.urlimage}}" alt="" style="height:91px; width:91px"><i class="fa fa-link"></i></a>
                                           
                                            <figcaption>
                                                <h6><a href="javascript:void(0)" ng-click="go('/loker/'+DataNewLokers._id+'/'+DataNewLokers.urlslug+'')">{{DataNewLokers.judul.substring(0, 55)}} ...</a></h6>
                                                <i class="fa fa-map-marker"></i>{{DataNewLokers.lokasi}}<br>
                                                <span class="fa fa-money"> {{DataNewLokers.gajih[0][0]}} - {{DataNewLokers.gajih[1][0]}}</span>
                                               <br>
                                               <span class="fa fa-calendar-o"></span><small>{{DataNewLokers.created_at | date:'yyyy-MM-dd' }}</small>
                                            </figcaption>
                                        </figure>
                                    </li>
                                  
                                </ul>
                            </div>

                        </aside>
                        <!--// SideBaar \\-->