     <!--// SubHeader \\-->
        <div class="education-subheader">
            <span class="subheader-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <div class="education-subheader-title"><h1>Blogs Detail</h1></div> -->
                        <ul class="education-breadcrumb">
                            <li><a ui-sref="Mgalumni.index" class="fa fa-home fa-2x"> Home</a></li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <a ui-sref="Mgalumni.client_events"><li class="active">Events</li></a>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">Detail Event</li>
                            <li><i class="fa fa-long-arrow-right"></i></li>
                            <li class="active">{{DataCLVOne.judul}}.</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->

        <!--// Main Content \\-->
        <div class="education-main-content">

            <!--// Main Section \\-->
            <div class="education-main-section">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-9">
                            <figure class="education-blog-thumb"><img ng-src="{{DataCLVOne.imgs}}" alt="" style="height:395px; width:855px"></figure>
                            <div class="education-thumb-heading">
                                <time datetime="2008-02-14 20:00">{{DataCLVOne.created_at | date:'yyyy-MM-dd'}}</time>
                                <h2>{{DataCLVOne.judul}}</h2>
                            </div>
                            <div class="education-detail-option">
                                <figure>
                                    <figcaption>
                                       <span style="font-size: 10px;">{{DataCLVOne.addby}}</span>
                                    </figcaption>
                                </figure>
                                <ul class="education-social-network">
                                    <li><a href="http://www.facebook.com/share.php?u=http://localhost:8080/#/event/{{DataCLVOne._id}}/{{DataCLVOne.urlslug}}" class="fa fa-facebook"></a></li>
                                    <li><a href="https://plus.google.com/share?url=http://localhost:8080/#/event/{{DataCLVOne._id}}/{{DataCLVOne.urlslug}}" class="fa fa-google-plus"></a></li>

                                    <li><a href="http://twitter.com/intent/tweet?url=http://localhost:8080/#/event/{{DataCLVOne._id}}/{{DataCLVOne.urlslug}}&amp;text={{DataCLVOne.urlslug}}+@if_SAKTI&amp;hashtags={{DataCLVOne.tag}}" target="_blank" class="fa fa-twitter"></a></li>

                                    <li><a href="https://www.linkedin.com/start/join?session_redirect=http://localhost:8080/#/event/{{DataCLVOne._id}}/{{DataCLVOne.urlslug}}&trk=login_reg_redirect" class="fa fa-linkedin"></a></li>
                                </ul>
                            </div>
                            <div class="education-rich-editor">
                                <p><p ta-bind="DataCLVOne.postings" ng-model="DataCLVOne.postings" ta-readonly='disabled'></p></p>
                            </div>
                            <div class="education-post-tags">
                              <div class="education-tags">
                                <span>Tags:</span>
                                 <h6>{{DataCLVOne.tag}}</h6>
                              </div>
                          </div>
                           <div class="education-prenxt-post">
                                <ul>
                                    <li>
                                        <div class="education-prev-post">
                                            <h3>{{DataCLV[dataI-1].judul}}</h3>
                                            <a href="javascript:void(0)" ng-click="go('/event/'+DataCLV[dataI-1]._id+'/'+DataCLV[dataI-1].urlslug+'')" class="education-post-arrow"> Previous Post</a>
                                        </div>
                                    </li>
                                     <li>
                                        <div class="education-next-post">
                                            <h3>{{DataCLV[DataInext].judul}}</h3>
                                            <a href="javascript:void(0)" ng-click="go('/event/'+DataCLV[DataInext]._id+'/'+DataCLV[DataInext].urlslug+'')" class="education-post-arrow"> Next Post</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                           
                        </div>
                      <div ng-include="'templates/views/alumni/MgAlm.Client.Asside.html'"></div>

                    </div>
                </div>
            </div>
            <!--// Main Section \\-->

        </div>
        <!--// Main Content \\-->