<div class="login-page">
	<div class="img-container">
		<div class="text-center pull-right photo">
			<img src="public/UsrAlumni/img/if_ico.png" class="user-avatar img-circle img-responsive" />
			<h1>SIGNUP<br/ > <span>FOR</span><br /><small>LOGIN</small></h1>
		</div>
	</div>
	<div class="form-content">
		<form role="form" class="bottom-75 col-sm-6" name="sigForm">
			<div class="table-form">
				<div class="form-groups">
					
					<!-- <div class="form-group">
						<input autofocus ng-model="MgSignup.sgnData.nama" type="text" name="nama" id="nama" class="form-control input-lg" placeholder="NAMA" required>
					</div> -->
					<!-- <div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="form-group" ng-class="{ 'has-success':(!MgSignup.usernameInvalid), 'has-error':MgSignup.usernameInvalid }">
								<input autofocus ng-model="MgSignup.sgnData.username" ng-blur="MgSignup.checkUsername(sgnData)" type="text" name="username" id="username" class="form-control input-lg" placeholder="USERNAME" required>
								<b class="help help-block text-success" ng-show="MgSignup.usernameMsg && !sigForm.username.$error.required && sigForm.username.$valid">{{MgSignup.usernameMsg}}</b>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-group" ng-class="{ 'has-success':(!MgSignup.emailInvalid), 'has-error':MgSignup.emailInvalid }">							
								<input ng-model="MgSignup.sgnData.email" ng-blur="MgSignup.checkEmail(sgnData)" type="email" name="email" id="email" class="form-control input-lg" placeholder="EMAIL" required>
								<b class="help help-block text-success" ng-show="MgSignup.emailMsg && !sigForm.email.$error.required && sigForm.email.$valid">{{MgSignup.emailMsg}}</b>
							</div>
						</div>
					</div> -->
					<!-- <div class="row">
						<div class="col-xs-12 col-sm-6">
					 -->	
					 		<div class="form-group" ng-class="{ 'has-success':(!MgSignup.nimInvalid), 'has-error':MgSignup.nimInvalid }">					
								<input ng-model="MgSignup.sgnData.nim" ng-blur="MgSignup.checkNim(sgnData)" type="number" name="nim" id="nim" class="form-control input-lg" placeholder="NIM" required>
								<b class="help help-block text-success" ng-show="MgSignup.nimMsg && !sigForm.nim.$error.required && sigForm.nim.$valid">{{MgSignup.nimMsg}}</b>
							</div>
						<!-- </div> -->
						<!-- <div class="col-xs-12 col-sm-6"> -->
							<div class="form-group">
								<input ng-model="MgSignup.sgnData.password" type="password" name="password" id="password" class="form-control input-lg" placeholder="NEW PASSWORD" required>
							</div>
							
						<!-- </div> -->
					</div>
					<!-- <div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
								<select class="form-control input-lg" ng-model="MgSignup.sgnData.gender" name="gender" id="gender" required>
									<option value="">KELAMIN</option>
									<option value="Male">Laki-Laki</option>
									<option value="Female">Perempuan</option>
								</select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
								<input ng-model="MgSignup.sgnData.hp" type="number" name="hp" id="hp" class="form-control input-lg" placeholder="HP" required>
							</div>
						</div>
					</div> -->
					<!-- <div class="row">
						<div class="col-xs-12 col-sm-6">							
 -->
 <div class="button-container">
          <button type="submit" class="btn btn-default login" ng-click="MgSignup.signup(sgnData);"><img src="public/UsrAlumni/login/images/arrow.png" alt="" ></button>
        </div>
<!-- <div>
	BACK
</div> -->
					<!-- <button type="submit" class="btn btn-default login" style="margin-left: 0; height:50px; width:155px;" ui-sref="MgLogin"><img src="public/UsrAlumni/login/images/arrowleft.png" alt=""></button>
					</div>
					
					<button type="submit" class="btn btn-default login" style="margin-left: 0; height:50px; width:155px;" ng-click="MgSignup.signup(sgnData);"><img src="public/UsrAlumni/login/images/arrow.png" alt=""></button> -->
					<!-- </div>
					</div> -->
				</div>
			
      <div class="remember">
        <!-- <label class="checkbox1" for="Option"> 
          <input id="Option" type="checkbox" class="">
          <span></span>
        </label>
        remember me -->
        <span class="pass"><a href="javascript:void(0)" ui-sref="MgLogin" style="color:white">Back</a></span>
    </div>      
</form>
</div>      
</div>
</div>