   <script src="public/vendor/survey/survey.jquery.js"></script>
   <link href="public/vendor/survey/survey.css" type="text/css" rel="stylesheet"/>
<style type="text/css">
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; 
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<div class="dashboard">
 <!-- Page -->
 <div class="page animsition">
  <div class="page-content container-fluid" ng-show="BenerData === true">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
      <div class="col-xlg-7 col-md-12">
        <!-- Widget Jvmap -->
        <div class="widget widget-shadow">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
             <div class="clearfix">
              <div class="grey-800 pull-left padding-vertical-10">
                <i class="icon fa fa-list grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>
                Survey Kinerja Alumni
              </div>
            </div>
          </div> 
          <!-- <div class="row"> -->
          <div class="col-xs-12 col-sm-12" style="background-color:rgba(63, 81, 181, 0.22);">
            <div class="form-control">
              <span class="fa fa-user"> Nama :<b> {{ Pekerjaan.nama }}</b></span>
            </div>
          </div>
          <!-- </div> -->
          
          <div class="col-xs-12 col-sm-12" style="background-color:rgba(63, 81, 181, 0.22);">
            <div class="form-control">
              <span class="fa fa-briefcase"> Jabatan :<b> {{Pekerjaan.jabatan}}</b></span>
            </div>
          </div>
          <!-- </div> -->
          <br><br><br><br ng-hide="TerisiBio === true"><br ng-hide="TerisiBio === true">
            <div class="row" ng-hide="TerisiBio === true">
              <div class="col-xs-12 col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input ng-model="addby" type="text" name="nama" id="nama" class="form-control" placeholder="Isi Nama Anda" required>
                </div>
              </div>
            </div></br ng-hide="TerisiBio === true">
            <div class="form-group">
              <select class="form-control" name="level" id="level" ng-model="_id" ng-click="CheckSurvey(_id)" required>
                <option value="">-- SELECT DATA --</options>
                  <option ng-repeat="data in HasilSurvey | orderBy: 'created_at'" value="{{data._id}}">{{data.judul}}</option>
                </select>
              </div>
              <br>
              <div class="row" ng-show="SurveBener === true">
                <div class="col-sm-12 col-md-12">
                  <div class="col-sm-22 col-md-12" style="background-color:rgba(63, 81, 181, 0.22);">
                    <div class="form-control">
                      <span class="fa fa-exclamation"><b> Survey => {{ SurveyBy.judul}}</b></span>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12" style="background-color:rgba(63, 81, 181, 0.22);">
                    <div class="form-control">
                      <span class="fa fa-exclamation"> <b> Deskripsi => {{ SurveyBy.deskripsi}}</b><br><br><br></span>
                      <br><br>
                    </div>
                    <br><br>
                  </div>     
                  <hr>
                    <div class="col-md-12" id="surveyElement"></div>
              <div class="col-md-12" id="surveyResult"></div>
              </div>
            </div>
            

          </div>
        </div>
      </div>
      <!-- End Widget Jvmap -->




      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    </div>
  </div>
</div>
</div>































