<div class="site-menubar-body">
      <ul class="site-menu">
        <li class="site-menu-item" ui-sref-active="active">
          <a class="animsition-link" ui-sref="Mgalumni.index">
            <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>Home
          </a>
        </li>
      </ul>
</div>