<script>
    Breakpoints();
  </script>

<div class="no-js css-menubar">
<nav class="site-navbar navbar navbar-inverse navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
      data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
      data-toggle="collapse">
        <i class="icon md-more" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
        <img class="navbar-brand-logo" src="public/UsrAlumni/img/if_ico.png" title="Alumni">
        <span class="navbar-brand-text hidden-xs"> Survey Alumni</span>
      </div>
     <!--  <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search"
      data-toggle="collapse">
        <span class="sr-only">Toggle Search</span>
        <i class="icon md-search" aria-hidden="true"></i>
      </button> -->
    </div>

    <div class="navbar-container container-fluid">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="hidden-float" id="toggleMenubar">
            <a data-toggle="menubar" href="javascript:void(0)" role="button">
              <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
            </a>
          </li>
          <!-- <li class="hidden-float">
            <a class="icon md-search" data-toggle="collapse" href="javascript:void(0)" data-target="#site-navbar-search"
            role="button">
              <span class="sr-only">Toggle Search</span>
            </a>
          </li> -->
        </ul>
      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle">
        <span class="icon md-long-arrow-tab"></span>
        <span class="navbar-brand-text hidden-xs"  ng-bind="$state.current.data.title"></span>
      </div>
        <!-- End Navbar Toolbar -->

        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          <li class="dropdown">
            <ul class="dropdown-menu" role="menu">
              <!-- <li role="presentation">
                <a href="javascript:void(0)" ui-sref="DashMgalumni.profile" role="menuitem"><i class="icon md-account" aria-hidden="true"></i> Profile</a>
              </li> -->
              <!-- <li role="presentation">
                <a href="javascript:void(0)" role="menuitem"><i class="icon md-card" aria-hidden="true"></i> Billing</a>
              </li>
              <li role="presentation">
                <a href="javascript:void(0)" role="menuitem"><i class="icon md-settings" aria-hidden="true"></i> Settings</a>
              </li> -->
              <!-- <li class="divider" role="presentation"></li>
              <li role="presentation">
                <a ui-sref="MgLogout" role="menuitem"><i class="icon md-power" aria-hidden="true"></i> Logout</a>
              </li> -->
            </ul>
          </li>
         
                
        </ul>
        <!-- End Navbar Toolbar Right -->
      </div>
      <!-- End Navbar Collapse -->

      <!-- Site Navbar Seach -->
      <!-- <div class="collapse navbar-search-overlap" id="site-navbar-search">
        <form role="search">
          <div class="form-group">
            <div class="input-search">
              <i class="input-search-icon md-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="site-search" placeholder="Search...">
              <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
              data-toggle="collapse" aria-label="Close"></button>
            </div>
          </div>
        </form>
      </div> -->
      <!-- End Site Navbar Seach -->
    </div>
  </nav>
  
<!-- ASIDE -->
  <div class="site-menubar" style="background-color: black;">
    <div ng-include="'./templates/views/PemimpinSurveys/SurveyPMP.Partial.html'"></div>
  </div>