<style type="text/css">
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<div class="dashboard">
 <!-- Page -->
 <div class="page animsition">
  <div class="page-content container-fluid" ng-show="BenerData === true">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
      <div class="col-xlg-7 col-md-12">
        <!-- Widget Jvmap -->
        <div class="widget widget-shadow">
          <div class="widget-content">
            <div class="padding-20 padding-top-10">
             <div class="clearfix">
              <div class="grey-800 pull-left padding-vertical-10">
                <i class="icon fa fa-list grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>
                Survey Kinerja Alumni
              </div>
            </div>
          </div> 
          <!-- <div class="row"> -->
          <div class="col-xs-2 col-sm-6" style="background-color:rgba(63, 81, 181, 0.22);">
            <div class="form-control">
              <span class="fa fa-user"> <b> {{ Pekerjaan.nama }}</b></span>
            </div>
          </div>
          <div class="col-xs-2 col-sm-6" style="background-color:rgba(63, 81, 181, 0.22);">
            <div class="form-control">
              <span class="fa fa-briefcase"> <b> {{Pekerjaan.jabatan}}</b></span>
            </div>
          </div>
          <!-- </div> -->
          <br><br ng-hide="TerisiBio === true"><br ng-hide="TerisiBio === true">

          <form ng-submit="PosttSurvey(Result[$index].hasil,SurveyBy,survpmp)">
            <div class="row" ng-hide="TerisiBio === true">
              <div class="col-xs-6 col-sm-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input ng-model="survpmp.addby" type="text" name="nama" id="nama" class="form-control" placeholder="nama" required>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                  <input ng-model="survpmp.jabatan" type="text" name="jabatan" id="jabatan" class="form-control" placeholder="jabatan" required>
                </div>
              </div>
            </div></br>
            <div class="row" ng-hide="TerisiBio === true">
              <div class="col-xs-6 col-sm-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope "></i></span>
                  <input ng-model="survpmp.email" type="email" name="email" id="email" class="form-control" placeholder="email" required>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                  <input ng-model="survpmp.hp" type="number" name="nohp" id="nohp" class="form-control" placeholder="no hp" required>
                </div>
              </div>
            </div></br ng-hide="TerisiBio === true">
            <div class="form-group">
              <select class="form-control" name="level" id="level" ng-model="_id" ng-click="CheckSurvey(_id)" required>
                <option value="">-- SELECT DATA --</options>
                  <option ng-repeat="data in HasilSurvey | orderBy: 'created_at'" value="{{data._id}}">{{data.nama}}</option>
                </select>
              </div>
              <br>
              <div class="row" ng-show="SurveBener === true">
                <div class="col-sm-2 col-md-12">
                  <div class="col-sm-2 col-md-12" style="background-color:rgba(63, 81, 181, 0.22);">
                    <div class="form-control">
                      <span class="fa fa-exclamation"><b> Survey => {{ SurveyBy.nama}}</b></span>
                    </div>
                  </div>
                  <div class="col-sm-2 col-md-12" style="background-color:rgba(63, 81, 181, 0.22);">
                    <div class="form-control">
                      <span class="fa fa-exclamation"> <b> Deskripsi => {{ SurveyBy.deskripsi}}</b></span>
                    </div>
                  </div>
                  <div class="col-sm-2 col-md-12" style="background-color:rgba(63, 81, 181, 0.22);">
                    <div class="form-control">
                      <span class="fa fa-exclamation"> <b> POINTS OF QUESTION 1 - 5 :  1. Sangat Kurang, 2. Kurang, 3. Cukup , 4. Baik, 5. Sangat Baik</b></span>
                    </div>
                  </div><br><br>

                  <table class="table table-striped table-border">
                    <thead style="border-style:1px black">
                      <tr>
                        <th>NO</th>
                        <th></th>
                        <th colspan="5">NILAI</th>
                      </tr>
                    </thead>
                    <thead>
                      <tr ng-repeat="dataRownya in arrayss">
                        <th>#</th>
                        <th>ASPEK YANG DINILAI</th>
                        <th ng-repeat="dataROWASLI in dataRownya">{{dataROWASLI}}</th>
                        <!-- <th>Username</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="DataPertanyaan in SurveyBy.soal">
                        <td>{{$index + 1}}</td>
                        <td>{{DataPertanyaan.judulsoal}}</td>
                        <td><label><input type="radio" value="1" name="{{DataPertanyaan.judulsoal}}" id="{{DataPertanyaan.judulsoal}}" ng-model="Result[$index].hasil" required></label></td>

                        <td><label><input type="radio" value="2" name="{{DataPertanyaan.judulsoal}}" id="{{DataPertanyaan.judulsoal}}" ng-model="Result[$index].hasil" required></label></td>
                        
                        <td><label><input type="radio" value="3" name="{{DataPertanyaan.judulsoal}}" id="{{DataPertanyaan.judulsoal}}" ng-model="Result[$index].hasil"></label></td>
                        
                        <td ng-show="SurveyBy.options.length > 3"><input type="radio" name="{{DataPertanyaan.judulsoal}}" id="{{DataPertanyaan.judulsoal}}" value="4" ng-model="Result[$index].hasil" required></td>
                        
                        <td ng-show="SurveyBy.options.length > 3"><input type="radio" name="{{DataPertanyaan.judulsoal}}" id="{{DataPertanyaan.judulsoal}}" value="5" ng-model="Result[$index].hasil" required></td>
                        <td>Result : {{Result[$index]}}</td>
                      </tr>                      
                    </tbody>

                  </table>
                  <div class="pull-right">
                    <button class="btn btn-success" type="submit">Selesai</button>
                  </div>
                  <hr>

                </form>
              </div>
            </div>
            

          </div>
        </div>
      </div>
      <!-- End Widget Jvmap -->




      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    </div>
  </div>
</div>
</div>































