<div class="site-menubar-body scrollable hover" ui-nav ng-show="gets.level === 'SUPERADMIN'" style="height:550px; overflow:auto;">
      <ul class="site-menu">
        <li class="site-menu-item" ui-sref-active="active">
          <a ui-sref="alumni.dashboard">
            <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
            <span class="site-menu-title">Dashboard</span>
          </a>
        </li>

        <li class="site-menu-item has-sub" ui-sref-active="active">
          <a href="javascript:void(0)">
            <i class="site-menu-icon fa fa-flag" aria-hidden="true"></i>
            <span class="site-menu-title">Berita</span>
          </a>
          <ul class="nav nav-sub" style="background-color:rgba(97, 97, 97, 0.37);">
              <li ui-sref-active="active">
                <a ui-sref="alumni.dtTdyNews">Berita Harian</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="alumni.dtScrap">Berita Loker</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="alumni.dtEvent">Berita Event</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="alumni.dtBeasiswa">Berita Beasiswa</a>
              </li>
          </ul>
        </li>
        <li class="site-menu-item has-sub" ui-sref-active="active">
          <a href="javascript:void(0)">
            <i class="site-menu-icon md-accounts-alt" aria-hidden="true"></i>
            <span class="site-menu-title">Sosial</span>
          </a>
          <ul class="nav nav-sub" style="background-color:rgba(97, 97, 97, 0.37);">
            <li ui-sref-active="active">
              <a ui-sref="alumni.group">Group</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="alumni.dtForums">Forum</a>
            </li>
          </ul>
        </li>

        <li class="site-menu-item has-sub" ui-sref-active="active">
          <a>
            <i class="site-menu-icon md-flag" aria-hidden="true"></i>
            <span class="site-menu-title">Data Alumni</span>
          </a>
          <ul class="nav nav-sub" style="background-color:rgba(97, 97, 97, 0.37);">
            <li ui-sref-active="active">
              <a ui-sref="alumni.cronJobs">Cron Job Alumni</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="alumni.dtKerja">Data Kerja Alumni</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="alumni.startup">Data StartUP Alumni</a>
            </li>
          </ul>
        </li>
        <li class="site-menu-item has-sub" ui-sref-active="active">
          <a ui-sref="alumni.dtMeating">
            <i class="site-menu-icon md-assignment-o" aria-hidden="true"></i>
            Data Meeting</a>
        </li>
        <li class="site-menu-item has-sub" ui-sref-active="active">
          <a href="javascript:void(0)">
            <i class="site-menu-icon md-key" aria-hidden="true"></i>
            <span class="site-menu-title">Data Survey</span>
          </a>
          <ul class="nav nav-sub" style="background-color:rgba(97, 97, 97, 0.37);">
            <li ui-sref-active="active">
              <a ui-sref="alumni.alumnisurvey">Survey Alumni</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="alumni.pimpinansurvey">Survey Pimpinan</a>
            </li>
          </ul>
        </li>

        <li class="site-menu-item has-sub" ui-sref-active="active">
          <a href="javascript:void(0)">
            <i class="site-menu-icon md-file" aria-hidden="true"></i>
            <span class="site-menu-title">CPanels</span>
          </a>
          <ul class="nav nav-sub" style="background-color:rgba(97, 97, 97, 0.37);">
            <li ui-sref-active="active">
              <a ui-sref="alumni.sadmin">Account Sadmin</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="alumni.accalumni">Account Alumni</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="alumni.slideshow">Manage Slider</a>
            </li>
          </ul>
        </li>
      </ul>
</div>


<div class="site-menubar-body scrollable hover" ui-nav ng-show="gets.level === 'ADMIN'" style="height:550px; overflow:auto;">
      <ul class="site-menu">
        <li ui-sref-active="active">
          <a ui-sref="alumni.dashboard">
            <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
            <span class="site-menu-title">Dashboard</span>
          </a>
        </li>

        <li class="site-menu-item has-sub" ui-sref-active="active">
          <a href="javascript:void(0)">
            <i class="site-menu-icon fa fa-flag" aria-hidden="true"></i>
            <span class="site-menu-title">Berita</span>
          </a>
          <ul class="nav nav-sub" style="background-color:rgba(97, 97, 97, 0.37);">
            <li ui-sref-active="active">
              <a ui-sref="alumni.dtTdyNews">Berita Harian</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="alumni.dtScrap">Berita Lowongan Pekerjaan</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="alumni.dtEvent">Berita Event</a>
            </li>
          </ul>
        </li>
        <li class="site-menu-item has-sub" ui-sref-active="active">
          <a href="javascript:void(0)">
            <i class="site-menu-icon md-accounts-alt" aria-hidden="true"></i>
            <span class="site-menu-title">Sosial</span>
          </a>
          <ul class="nav nav-sub" style="background-color:rgba(97, 97, 97, 0.37);">
            <li ui-sref-active="active">
              <a ui-sref="alumni.group">Group</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="alumni.dtForums">Forum</a>
            </li>
          </ul>
        </li>

        <li class="site-menu-item has-sub" ui-sref-active="active">
          <a ui-sref="alumni.dtMeating">
            <i class="site-menu-icon md-assignment-o" aria-hidden="true"></i>
            All Data Meeting</a>
        </li>

        <li class="site-menu-item has-sub" ui-sref-active="active">
          <a href="javascript:void(0)">
            <i class="site-menu-icon md-file" aria-hidden="true"></i>
            <span class="site-menu-title">CPanels</span>
          </a>
          <ul class="nav nav-sub" style="background-color:rgba(97, 97, 97, 0.37);">
            <li ui-sref-active="active">
              <a ui-sref="alumni.accalumni">Account Alumni</a>
            </li>
          </ul>
      </ul>
    </div>


