<script>
    Breakpoints();
</script>

<div class="no-js css-menubar">
<nav class="site-navbar navbar navbar-inverse navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
      data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
      data-toggle="collapse">
        <i class="icon md-more" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
        <img class="navbar-brand-logo" src="public/UsrAlumni/img/if_ico.png" title="Alumni">
        <span class="navbar-brand-text hidden-xs"> Alumni</span>
      </div>
     <!--  <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search"
      data-toggle="collapse">
        <span class="sr-only">Toggle Search</span>
        <i class="icon md-search" aria-hidden="true"></i>
      </button> -->
    </div>

    <div class="navbar-container container-fluid">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="hidden-float" id="toggleMenubar">
            <a data-toggle="menubar" href="javascript:void(0)" role="button">
              <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
            </a>
          </li>
          <!-- <li class="hidden-float">
            <a class="icon md-search" data-toggle="collapse" href="javascript:void(0)" data-target="#site-navbar-search"
            role="button">
              <span class="sr-only">Toggle Search</span>
            </a>
          </li> -->
        </ul>
      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle">
        <span class="icon md-long-arrow-tab"></span>
        <span class="navbar-brand-text hidden-xs"  ng-bind="$state.current.data.title"></span>
      </div>
        <!-- End Navbar Toolbar -->

        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          <li class="dropdown">
          <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications" aria-expanded="false"
            data-animation="scale-up" role="button">
              <i class="icon md-account" aria-hidden="true"></i>
              <span class="badge badge-danger up">&nabla;</span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <a href="javascript:void(0)" ui-sref="alumni.profile" role="menuitem"><i class="icon md-account" aria-hidden="true"></i> Profile</a>
              </li>
              <!-- <li role="presentation">
                <a href="javascript:void(0)" role="menuitem"><i class="icon md-card" aria-hidden="true"></i> Billing</a>
              </li>
              <li role="presentation">
                <a href="javascript:void(0)" role="menuitem"><i class="icon md-settings" aria-hidden="true"></i> Settings</a>
              </li> -->
              <li class="divider" role="presentation"></li>
              <li role="presentation">
                <a ui-sref="logout" role="menuitem"><i class="icon md-power" aria-hidden="true"></i> Logout</a>
              </li>
            </ul>
          </li>
         <li class="dropdown">
            <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications Confirm Groups" aria-expanded="false"
            data-animation="scale-up" role="button">
              <i class="fa fa-child" aria-hidden="true"></i>
              <span class="badge badge-danger up" ng-show="ResArray.length > 0">{{ResArray.length}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" style="height:200px" role="menu">
              <li class="dropdown-menu-header" role="presentation">
                <a href="javascript:void(0)" ng-click="ShowAllCfAlm()"><h5>SHOW ALL CONFIRMATION ALUMNI</h5></a>
                <span class="label label-round label-info"></span>
              </li>

              <li class="list-group" role="presentation" ng-repeat="CfAlm in ResArray | orderBy:'created_at':true | limitTo:8">
                <div data-role="container">
                  <div data-role="content">
                    <a class="list-group-item" href="javascript:void(0)" role="menuitem" >
                      <div class="media">
                       
                          <div class="media-left padding-right-10">
                          <i class="avatar" href="javascript:void(0)">
                            <img class="img-responsive" ng-src="{{CfAlm.urlimgs}}">
                          </i>
                        </div>
                       
                        <div class="media-body">
                          <h6 class="media-heading">{{CfAlm.nama}}</h6>
                          <div class="media-meta">
                            <time datetime="2015-06-17T20:22:05+08:00"><span class="label label-primary">NIM</span> {{CfAlm.nim}}</time>
                              <span class="fa fa-close fa-lg pull-right" ng-click="CFAlmNo(CfAlm._id)"></span>
                              <span class="fa fa-check-circle fa-lg pull-right" ng-click="CFAlmYes(CfAlm._id, CfAlm.nim)"></span>
                          </div>
                          <h6 class="media-detail"><span class="label label-danger">ACTIVE</span>  {{CfAlm.active}}</h6>
                        </div>
                      </div>
                    </a>
                    
                  </div>
                </div>
              </li>
            </ul>
          </li>
                
        </ul>
        <!-- End Navbar Toolbar Right -->
      </div>
      <!-- End Navbar Collapse -->

      <!-- Site Navbar Seach -->
      <!-- <div class="collapse navbar-search-overlap" id="site-navbar-search">
        <form role="search">
          <div class="form-group">
            <div class="input-search">
              <i class="input-search-icon md-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="site-search" placeholder="Search...">
              <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
              data-toggle="collapse" aria-label="Close"></button>
            </div>
          </div>
        </form>
      </div> -->
      <!-- End Site Navbar Seach -->
    </div>
  </nav>
  
<!-- ASIDE -->
  <div class="site-menubar" style="background-color: black; ">
    <div ng-include="'templates/partials/aside.nav.uikit.html'"></div>
  </div>